.woocommerce-message {
    background-color: $app-grey--text;
}

.woocommerce-error {
    background-color: $woocommerce-message-error;
}

.woocommerce-error,
.woocommerce-message {
    width: 100%;
    color: $app-white;
    padding: 8px 15px;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 20px;
    @include mq($until: tablet) {
        margin-bottom: 15px;
    }
}
