<section class="gifting-guide-more">
  <div class="gifting-guide-more__wrapper o-wrapper o-wrapper--inner">
    <h3 class="gifting-guide-more__heading">
      More guides
    </h3>

    <div class="gifting-guide-more__container">
      {% for tease in post.meta('featured_guides_copy') %}
        {% include 'components/gifting/gifting-tease.twig' %}
      {% endfor %}
    </div>
  </div>
</section>
