{#
* Sessions Featured
* ---------
* @component sessions
* @version 1
#}

<article class="sessions-featured" id="js-featured-video">

    {% if session.video_url %}
        {% include 'components/video-player.twig' with {
            ID: 'sessions-video',
            src: session.video_url,
            thumb: {
                src : session.thumbnail,
                width: '1296',
                height: '768'
            }
        } %}
    {% else %}
        {% include 'objects/image.twig' with {
            class: 'sessions-featured__media',
            alt : session.title,
            img : {
                base : {
                    obj : session.thumbnail,
                    w   : '1296',
                    h   : '768'
                }
            }
        } %}
    {% endif %}

    <div class="sessions-featured__info">
        <a href="{{ session.link  }}">
            <p class="sessions-featured__category">{{ session.category }}</p>
            {% include 'objects/title.twig' with {
                el: 'h1',
                class: 'sessions-featured',
                title: session.title
            } %}
        </a>
	</div>

</article>
