<div class="sessions-articles">
  <div class="sessions-articles__container o-wrapper o-wrapper--inner">
    {% include 'components/sessions/sessions-editors-pick.twig' %}
    {% include 'components/sessions/sessions-interviews.twig' %}
  </div>
</div>
