<div class="sessions-interviews">
  {% include 'components/sessions/sessions-heading.twig' with {
    first: 'Artists',
    second: 'Interviews'
  } %}

  <div class="sessions-interviews__interviews ajax__container">
    {% include 'components/sessions/sessions-tease.twig' %}
  </div>

  {% include 'components/load-more/load-more.twig' with {
    template: 'components/sessions/sessions-tease.twig',
    postType: 'article',
    category: '9682',
    taxonomy: 'category',
    postsPerPage: 6,
    offset: 0
  } %}
</div>
