<div class="sessions-header {{ inverted ? 'sessions-header--inverted' }}">
  <div class="sessions-header__container o-wrapper o-wrapper--inner">
    <div class="sessions-header__wrapper">
      <h2 class="sessions-header__title">
        <span class="sessions-header__first-name">{{ firstTitle }}</span>
        <span class="sessions-header__last-name"> {{ secondTitle }}</span>
      </h2>
    </div>
    <div class="sessions-header__content">
      {{ content }}
    </div>
  </div>
</div>
