{#
* Content Builder : Gallery
* --------
* @package GJ
* @since GJ 3.0
#}

{% if item.type == 'gallery--standard' %}
    {% if item.gallery|length <= 2 %}
        {% set thumbSize = {'width': 624, 'height' : 692 } %}
    {% else %}
        {% set thumbSize = {'width': 471, 'height' : 522 } %}
    {% endif %}
{% elseif item.type == 'gallery--tall' %}
    {% set thumbSize = {'width': 471, 'height' : 720 } %}
{% endif %}

<figure class="c-content-builder__gallery" data-animate="fadeUP">
    <div class="c-content-builder__gallery-inner {{ wrapper }}">
        {% for image in item.gallery %}
            <div class="c-content-builder__gallery-img-container">
                {% set img = Image(image.id) %}

                {% if img.additional_link %}
                    <a href="{{ img.additional_link }}">
                {% endif %}
                {% include 'objects/image.twig' with {
                    class: 'c-content-builder__gallery-img',
                    alt : img.alt ? img.alt|e : post.title|e,
                    img : {
                        base : {
                            obj : img,
                            w   : thumbSize.width,
                            h   : thumbSize.height,
                            c   : 'center'
                        },
                        mobile : {
                            obj : img,
                            w   : '664',
                            h   : 0,
                            c   : 'center',
                        }
                    }
                } %}

                {% if img.caption %}
                    <figcaption class="c-content-builder__img-caption">{{ img.caption }}</figcaption>
                {% endif %}

                  {% if img.additional_link %}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</figure>
