{#
* Content Builder : Image
* --------
* @package GJ
* @since GJ 3.0
#}
{# ACF img id to Timber Image #}
{% set img = Image(item.image) %}

{# Thumbnail Sizes #}
{% if item.image_size == 'standard' %}
    {% set thumbSize = {'width': 664, 'height' : 442 } %}
    {% set thumbStyle = 'standard' %}
{% elseif item.image_size == 'standard--tall' %}
    {% set thumbSize = {'width': 664, 'height' : 801 } %}
    {% set thumbStyle = 'standard--tall' %}
{% elseif item.image_size == 'standard--full' %}
    {% set thumbSize = {'width': 1296, 'height' : 0 } %}
    {% set thumbStyle = 'standard--full' %}
{% else %}
    {% set thumbSize = {'width': 664, 'height' : 442 } %}
    {% set thumbStyle = 'standard' %}
{% endif %}

<figure class="c-content-builder__img-group {{ wrapper }}" data-animate="fadeUP">

    {% if item.has_link %}
        <a href="{{ item.internal_external == 'internal' ? item.internal_link : item.external_link }}">
    {% endif %}

        {% include 'objects/image.twig' with {
            class: 'c-content-builder__img',
            alt : img.alt ? img.alt|e : post.title|e,
            img : {
                base : {
                    obj : img,
                    w   : thumbSize.width,
                    h   : thumbSize.height,
                    c   : 'center'
                },
                mobile : {
                    obj : img,
                    w   : '664',
                    h   : 0,
                    c   : 'center',
                }
            }
        } %}

    {% if item.has_link %}
        </a>
    {% endif %}

    {% if img.caption %}
        <figcaption class="c-content-builder__img-caption">{{ img.caption }}</figcaption>
    {% endif %}

</figure>
