{#
* Head
* --------
* @version 1.0.0
#}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>*|MC:SUBJECT|*</title>

    {% block style %}
        {% include 'newsletter/global/style.twig' %}
    {% endblock %}

</head>
