{#
* Foundation
* --------
* @component parts
* @version 1.0.0
#}
{% extends 'newsletter/global/flex-container.twig' %}

{% block flexcontent %}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="c-fnd">
        <tbody>
            <tr>
                <td class="c-fnd__content">

                    <p class="c-fnd__info">This email was sent to <a href="mailto:*|EMAIL|*" target="_blank">*|EMAIL|*</a></p>

                    <p class="c-fnd__info">
                        <em>You are receiving this because you signed up for <a href="*|ABOUT_LIST|*" target="_blank">updates and offers</a>.<br>If you are no longer interested in receiving this email, you may</em>
                    </p>

                    <p class="c-fnd__info">
                        <a href="*|UNSUB|*" target="_blank">unsubscribe from this list</a> |
                        <a href="*|UPDATE_PROFILE|*" target="_blank">update subscription preferences</a>
                    </p>

                    <p class="c-fnd__info"><em>Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.<br>*|LIST:ADDRESSLINE|*</em></p>

                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}