{#
* Preheader
* --------
* @component parts
* @version 1.0.0
#}
{% extends 'newsletter/global/flex-container.twig' %}

{% block flexcontent %}

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="c-pre">
        <tbody>
            <tr>
                <td class="c-pre__item c-pre__item--subject">
                    {{ newsletter.config.subject ? newsletter.config.subject : 'Gentleman\'s Journal' }}
                </td>
                <td class="c-pre__item c-pre__item--archive">
                    <a href="*|ARCHIVE|*">View this email in your browser</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}