{#
* Solus Brand Logo
* --------
* @component parts
* @version 1.0.0
#}
{% extends 'newsletter/global/flex-container.twig' %}

{% block flexcontent %}

    {% if object.logo %}
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="c-sbl">
        <tbody>
            <tr>
                <td class="c-sbl__content">

                    <p class="c-sbl__intro">In partnership with</p>

                    <a href="{{ object.website }}" class="c-sbl__link" target="_blank">

                        <img src="{{ Image(object.logo).src|resize(250) }}"
                             width="250px"
                             class="c-sbl__logo"
                             alt="Find out more at {{ object.name }}">
                    </a>

                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}

{% endblock %}
