.events-hero {
  position: relative;
  &__slider {
    height: 100%;
  }
  &__slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(black, 0.4);
    }
  }

  &__media {
      width: 100%;
      min-height: inherit;

      &-img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          min-height: inherit;
      }
  }

  &__prev,
  &__next {
    color: white;
    position: absolute;
    top: calc(50% - 35px / 2);
    z-index: 1;
    i {
      font-size: 35px;
    }
    @include mq($until: tablet) {
      display: none !important; //slick override
    }
  }
  &__prev {
    left: 30px;
  }
  &__next {
    right: 30px;
  }
  &__content {
    position: absolute;
    padding: 55px 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    @include mq($until: tablet) {
      padding: 40px;
    }
  }
  &__date {
    @include font($font--cera, $font-app-cera-w--regular);
    @include fontSize(16);
    color: white;
    margin-bottom: 15px;
    margin-top: auto;
    @include mq($until: tablet) {
      text-align: center;
    }
  }
  &__title {
    @include font($font--cond-chronicle, $font-app-chronicle-w--light);
    @include fontSize(66);
    @include rem(line-height, 66px);
    color: white;
    margin-bottom: 35px;
    @include mq($until: tablet) {
      text-align: center;
      @include fontSize(48);
      @include rem(line-height, 48px);
    }
  }
  &__text {
    margin-bottom: 40px;
    @include font($font--cera, $font-app-cera-w--regular);
    @include fontSize(16);
    max-width: 550px;
    color: white;
    @include rem(line-height, 21px);
    @include mq($until: tablet) {
      text-align: center;
    }
  }
  &__actions {
    display: flex;
    @include mq($until: tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__countdown {
    display: flex;
    color: white;
    border: solid 1px white;
    border-radius: 2px;
    margin-right: 35px;
    align-self: center;
    @include mq($until: tablet) {
      margin-bottom: 30px;
    }
  }
  &__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px white;
    padding: 9px 13px;
    align-self: center;
    &:last-of-type {
      border-right: none;
    }
  }
  &__digit {
    @include font($font--cera, $font-app-cera-w--regular);
    @include fontSize(14);
    @include rem(line-height, 14px);
    margin-bottom: 3px;
  }
  &__legend {
    @include font($font--cera, $font-app-cera-w--regular);
    @include fontSize(8);
    @include rem(line-height, 8px);
  }
  &__purchase {
    display: inline-block;
    @include rem(margin-right, 12px);
    @include rem(border-radius, 2px);
    @include rem(padding, 15px 30px);
    @include fontSize(10);
    @include rem(letter-spacing, 1.25px);
    line-height: 1;
    font-weight: $font-app-cera-w--bold;
    border: none;

    &.o-btn--solid {
      background-color: $white;
      color: $black;
    }

    &:hover,
    &:focus {
      background-color: $midnight;
      border-color: $midnight;
      color: $white;
    }

    &:active {
      background-color: darken($midnight, 2%);
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    margin-top: auto;
    @include mq($until: tablet) {
      justify-content: center;
    }
  }
  &__logo {
    &--gents {
      margin-right: 30px;
      img {
        max-width: 130px;
        width: 100%;
      }
    }
    &--brand {
      img {
        max-height: 30px;
      }
    }
  }
}
