.events-form {
  ​ &.is-submitting {
    opacity: 0.3;
    pointer-events: none;
  }
  ​ &.has-success {
    opacity: 0.5;
    pointer-events: none;
  }
  &__input {
    background: none;
    border-bottom: 1px solid $mercury;
    width: 100%;
    height: 2rem;
    text-transform: uppercase;
    @include fontSize(11);
    color: black;
    margin-bottom: 10px;
  }
  &__message {
    text-align: center;
    margin-top: 15px;
  }
  &__submit {
    background-color: white;
    width: 100%;
    display: block;
    text-transform: uppercase;
    @include fontSize(11);
    font-weight: 600;
    margin-top: 30px;
    &:hover {
      background-color: #fafafa;
    }
  }

  ​ ​ .is-submitting {
    pointer-events: none;
    user-select: none;
    ​ i {
      color: black;
    }
    ​ .c-form {
      ​ &__input {
        opacity: 0.2;
      }
    }
  }
  ​ .has-failed {
    i {
      color: red;
    }
  }
  ​ .has-success {
    pointer-events: none;
    user-select: none;
    ​ i {
      color: green;
    }
  }
}
