<section class="clubhouse-further-reading">
  {% include 'components/page/clubhouse/clubhouse-title.twig' with {
    title: 'Further reading'
  } %}

  {% include 'components/page/clubhouse/clubhouse-posts.twig' with {
    posts: firstRow,
    layout: 'dual'
  } %}
  {% include 'components/page/clubhouse/clubhouse-posts.twig' with {
    posts: secondRow,
    layout: 'dual'
  } %}

  {% include 'components/page/clubhouse/clubhouse-posts.twig' with {
    layout: 'row'
  } %}
</section>
