{#
* Contact Form
* --------
* @package components/forms
* @version 1.0.0
#}
<form class="events-form events-form--email js-contact-form">

    <div class="events-form__group">
        <input class="events-form__input events-form__input--name" type="name" name="name" placeholder="Name" required autocomplete="off">
        <input class="events-form__input events-form__input--email" type="email" name="email" placeholder="Email" required autocomplete="off">
        <input type="hidden" name="subject" value="{{ subject }}">
    </div>

    {{ fn('wp_nonce_field', 'form_contact', 'form-contact', true, false) }}

    <button class="o-btn o-btn--ghost events-form__submit">Submit</button>

</form>
