{#
* Ads
* --------
* @package BMAS
#}
<aside class="c-ad-block c-ad-block--{{ gpt.type }}" data-code="{{ gpt.code }}" data-type="{{ gpt.type }}">
    <div class="c-ad-block__slot" id="gpt-{{ gpt.code }}"></div>
</aside>
