{#
* Agency Info
* --------
* @package lydia
* @since lydia 1.0
#}
<section class="c-agency">
    <a class="c-agency__link" href="https://bmas.agency" title="WEB : BMAS" target="_blank">
        <svg class="c-agency__logo bmas" xmlns="http://www.w3.org/2000/svg" width="55" height="62.3" viewBox="0 0 55 62.3" x="0px" y="0px">
        <path class="c-agency__symbol" d="M13.7,8.8v29.1c0,0.6,0.3,1.1,0.8,1.4l12.2,7c0.5,0.3,1.1,0.3,1.6,0l12.1-7c0.5-0.3,0.8-0.8,0.8-1.4V24.1
            c0-0.6-0.3-1.1-0.8-1.4l-12.5-7.2c-0.3-0.1-0.4-0.4-0.4-0.7v-14c0-0.5,0.4-0.8,0.9-0.8c0.1,0,0.2,0,0.3,0.1l25.5,14.7
            c0.5,0.3,0.8,0.9,0.8,1.5v29.7c0,0.6-0.3,1.1-0.8,1.4l-26,14.8c-0.5,0.2-1.1,0.2-1.6-0.1L0.8,47.1C0.3,46.8,0,46.3,0,45.7V16.2
            c0-0.6,0.3-1.1,0.8-1.4l11.7-6.7c0.4-0.2,0.9-0.1,1.1,0.3C13.7,8.5,13.7,8.7,13.7,8.8z"/>
        </svg>
    </a>
</section>
