{#
* Podcasts Home
* --------
* @package GJ
* @since GJ 3.0
#}

{#
* Set Var
* --------
* @since 3.0
* @version 1.0
#}
{% set headerInfo = {
    'title': 'Podcasts',
    'link' : fn('get_post_type_archive_link', 'podcasts')
} %}

{#
* Template
* --------
* @since 3.0
* @version 1.0
#}
<section class="o-post-group o-post-group--podcasts o-post-group--podcasts-home{% if wrapper is not empty %} o-wrapper o-wrapper--{{ wrapper }}{% endif %}">

    {% include 'components/feed__header.twig' with { header : headerInfo } %}

    <div class="o-post-feed o-post-feed--podcasts">
        {% for card in podcasts %}

                {% if loop.index == 1 %}

                    {% include 'components/podcast/podcast__card.twig' with {
                        img : {
                            base : {
                                obj : card.thumbnail,
                                w   : '800',
                                h   : '560',
                                c   : 'center'
                            }
                        },
                        meta : true,
                        style : 'hero-home'
                    } %}

                    <div class="o-post-feed__innergroup">

                {% else %}

                    {% include 'components/podcast/podcast__card.twig' with {
                        card : card,
                        img : {
                            base : {
                                obj : Image(card.podcast_meta_media_profile),
                                w   : '84',
                                h   : '84',
                                c   : 'center',
                            }
                        },
                        meta : true,
                        style : 'home'
                    } %}

                {% endif %}

        {% endfor %}
        </div>

    </div>

</section>
