{#
* Latest Post Feed
* --------
* @package GJ
* @since GJ 3.0
#}

{#
* Set Var
* --------
* @since 3.0
* @version 1.0
#}

{% set header = {
    'title': 'Magazine : ' ~ currentIssue.name,
    'subtitle' : 'Take a look inside the latest issue of Gentleman’s Journal with ' ~ currentIssue.issue_cover_star,
    'link' : Post(74300).link
} %}

{#
* Template
* --------
* @since 3.0
* @version 1.0
#}

<section class="o-post-group o-post-group--issue-home">

    <header class="o-post-group__header">

        <div class="o-post-group__info">
            <h1 class="o-post-group__title">{{ header.title }}</h1>
            {% if header.subtitle is not empty %}
                <p class="o-post-group__subtitle">{{ header.subtitle }}</p>
            {% endif %}

            {% if header.link %}
                {% include 'objects/button.twig' with {
                    el: 'a',
                    class: 'o-post-group',
                    cta: 'Join the Club',
                    link: header.link,
                    style: 'minimal',
                    after: '<span class="fas fa-chevron-right"></span>'
                } %}
            {% endif %}
        </div>

        <div class="o-post-group__subtext">{{ currentIssue.content }}</div>

    </header>

    {% include 'components/latest-issue-gallery-drag.twig' %}

</section>
