{#
* Feed for Video
* --------
* @package GJ
* @since GJ 3.0
#}

{#
* Set Var
* --------
* @since 3.0
* @version 1.0
#}
{% for category in categories if category.ID == catID %}
    {% set posts = Post(category.get_posts( categoriesArgs )) %}

{#
* Template
* --------
* @since 3.0
* @version 1.0
#}
<section class="o-post-group o-post-group--light o-post-group--featured o-post-group--{{ category.name|lower }}{{ border ? ' o-post-group--border' : '' }}">
    {% if wrapper is not empty %}
    <div class="o-wrapper o-wrapper--{{ wrapper }}">
    {% endif %}

        <div class="o-post-feed o-post-feed--video">
            {% for post in posts|slice(0,3) %}
                {% include 'components/post-thumb.twig' with {
                    style : 'lead',
                    feat  : {
                        base : {
                            w: '408',
                            h: '272',
                            c: 'center'
                        }
                    }
                } %}
            {% endfor %}
        </div>

    {% if wrapper is not empty %}
    </div>
    {% endif %}
</section>

{% endfor %}
