{#
* Latest Post Feed
* --------
* @package GJ
* @since GJ 3.0
#}

{#
* Set Variables
* --------
* @version 1.0
* @since GJ 3.0
#}
{% set headerInfo = {
    'title': 'The Latest',
    'subtitle' : 'Keep up to date with our style guides, long reads and interviews',
    'link' : Post('latest').link
} %}

{#
* Template
* --------
* @version 1.0
* @since GJ 3.0
#}
<section class="o-post-group o-post-group--latest{% if wrapper is not empty %} o-wrapper o-wrapper--{{ wrapper }}{% endif %}">

    {% include 'components/feed__header.twig' with { header : headerInfo } %}
        {% set latestPosts = [] %}
        <div class="o-post-feed o-post-feed--latest">
            {% for post in latest %}

            {% set latestPosts = latestPosts|merge([post.ID]) %}

                {% if loop.index <= 3 %}
                    {% include 'components/post-thumb.twig' with {
                        style : 'lead',
                        feat  : {
                            base : {
                                w: '408',
                                h: '272',
                                c: 'center'
                            }
                        }
                     } %}
                {% else %}
                    {% include 'components/post-thumb.twig' with {
                        style : 'mini',
                        feat  : {
                            base : {
                                w: '260',
                                h: '173',
                                c: 'center'
                            },
                            tablet : {
                                w: '408',
                                h: '272',
                                c: 'center'
                            }
                        }
                     } %}
                {% endif %}

            {% endfor %}

            {% include 'components/widgets/widget-popular-posts.twig' %}

        </div>

    <div class="c-ajax-latest-posts"></div>

    <button class="o-btn o-btn--solid o-btn--light o-post-feed__btn o-post-feed__btn--loadmore" data-latest="{{ latestPosts|json_encode() }}" id="js-latest-loadmore">Load More</button>

</section>
