{#
* Search Modal
* --------
* @package GJ
* @since GJ 3.0
#}
<aside class="c-search-modal" id="js-search-modal">
    <form class="c-search-modal__form" action="{{ site.url }}" method="get">
        <input class="c-search-modal__entry" type="text" name="s" placeholder="Type to search" id="js-has-focus" value="{{ fn('the_search_query') }}" />
        <input class="c-search-modal__action" type="submit">
    </form>
    <div class="c-search-modal__close" id="js-search-modal-close">
        <span class="far fa-times"></span>
    </div>
</aside>
