{#
* Modal Newsletter
* --------
* @package GJ
* @since GJ 3.0
#}
<aside class="c-modal-newsletter" id="js-modal-newsletter">
    <div class="c-modal-newsletter__inner">

        {% if modalNewsletter.image %}
            <div class="c-signup">

                <div class="c-signup__inner">

                    {% include 'objects/image.twig' with {
                        class: 'c-signup__media',
                        alt : 'A free newsletter worth opening',
                        img : {
                            base : {
                                obj : Image(modalNewsletter.image),
                                w   : '338',
                                h   : '463',
                                c   : '60%'
                            },
                            tablet : {
                                obj : Image(modalNewsletter.image),
                                w   : '338',
                                h   : '200',
                                c   : 'top',
                            }
                        }
                    } %}

                    <div class="c-signup__content">
                        {% include 'objects/title.twig' with {
                            el: 'h2',
                            class: 'c-signup',
                            title: modalNewsletter.title,
                        } %}

                        {% if modalNewsletter.description %}
                            <div class="c-signup__description">{{ modalNewsletter.description }}</div>
                        {% endif %}

                        {% include "components/signup/form.twig" ignore missing %}
                    </div>

                </div>

            </div>
        {% endif %}

        <div class="c-modal-newsletter__close" id="js-modal-newsletter-close">
            <span class="far fa-times"></span>
        </div>
    </div>

</aside>
