{#
* Footer Navigation Information
* --------
* @package GJ
* @since GJ 1.0
#}
<nav class="c-nav-footer-info">
    <ul class="c-nav-footer-info__list">
        {% for item in menu.foundation.info.items %}
            <li class="c-nav-footer-info__item" id="c-nav-footer-info__item-{{ item.ID }}">
                <a class="c-nav-footer-info__link" href="{{ item.get_link }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
