{#
* Newsletter Quick Signup
* --------
* @package GJ
* @since GJ 3.0
#}
<section class="c-newsletter-quick-sign{% if wrapper is not empty %} o-wrapper o-wrapper--{{ wrapper }}{% endif %}">
    <p class="c-newsletter-quick-sign__intro">Subscribe to our Newsletter</p>
    <button class="c-newsletter-quick-sign__cta js-open-newsletter-modal" type="button" name="newsletter-quick-sign" id="js-open-newsletter-modal">Enter <span class="c-newsletter-quick-sign__icon fas fa-chevron-right"></span></button>
</section>
