{#
* Page Header
* --------
* @package GJ
* @since GJ 3.0
#}
<header class="c-page__header o-wrapper o-wrapper--inner o-wrapper--padding">
    <h1 class="c-page__title">{{ post.title }}</h1>
    {% if post.subtitle_text %}
        <div class="c-page__subtitle">{{ post.subtitle_text }}</div>
    {% endif %}
</header>
