{#
* Single Sidebar
* --------
* @package GJ
* @since GJ 3.0
#}

<div class="c-post-sidebar c-post-sidebar--widgets c-post-sidebar--right c-post-sidebar--fixed">
    {% include 'components/widget--latest-issue.twig'%}

    {% include 'components/ads.twig' with {
        gpt : {
            type : 'halfpage',
            code : 'GJ_300x600_001'
        }
    } %}

    {% include 'components/widget--most-popular.twig'%}
    {% include 'components/widget--newsletter.twig'%}
</div>
