{#
* Single Sidebar
* --------
* @package GJ
* @since GJ 3.0
#}

{% if post.type != 'house-note' %}
  <div class="c-post-sidebar c-post-sidebar--fixed c-post-sidebar--left">
    {% include 'components/by-line.twig' %}
    {# {% include 'components/single-quick-share.twig'%} #}
    {% include 'components/sponsor-by.twig' %}
    {% if
      format != 'video'
        and not members
        and not contentBuilderLegacy
        and not extended
        and not extendedImage %}
      {% include 'components/widget--watch-next.twig' %}
      {% include 'components/widget--read-next.twig' %}
    {% endif %}
  </div>
{% endif %}
