{#
* Single Podcast
* --------
* @package GJ
* @since GJ 3.0
#}
{% include 'components/ads.twig' with {
    gpt : {
        type : 'leaderboard',
        code : 'GJ_728x90_001'
    }
} %}

{% set podMeta = post.get_field('podcast_meta') %}
<article class="c-post c-post--{{ post.post_type }}" id="post-{{ post.ID }}">

    <div class="o-wrapper o-wrapper--single">
        {% include 'components/single-podcast__header.twig' %}
        <section class="c-podcast-player">
            {% filter shortcodes %}
                [audio mp3="{{ podMeta.media.audio }}" preload="metadata" autoplay="0"]
            {% endfilter %}
        </section>
        {% include 'components/single-podcast__content.twig' %}
        {% include 'components/single-podcast__content__footer.twig' %}
    </div>

</article>

{% include 'components/podcast/podcast__featured.twig' with {
    selected: relatedPodcasts,
    title : 'You might also like'
}%}
