{% include 'components/landing-page/hero.twig' %}
<div class="landing-page">
  <div class="landing-page__content">
    {% include 'components/landing-page/redemption.twig' %}
  </div>
  {% include 'components/landing-page/partners.twig' %}
  <div class="landing-page__content">
    {% include 'components/landing-page/perks.twig' %}
    {% include 'components/landing-page/buy.twig' %}
  </div>  
</div>