{#
* Single Post Legacy Content
* --------
* @package GJ
* @since GJ 3.0
#}

<section class="c-post__content c-post__content--{{ post.id }} c-post__content--{{ post.post_type }} s-wysiwg-content s-post-content o-wrapper o-wrapper--single" id="js-post-content">
    {{ post.content }}
</section>
