{#
* Single Podcast Content Footer
* --------
* @package GJ
* @since GJ 3.0
#}
<div class="c-podcast-content-footer">

    <p class="c-podcast-content-footer__text">This episode has been recorded at <strong><em>Mark’s Club</em></strong>, read by <strong><em>{{ podcastGlobal.host.name }}</em></strong> and produced by <strong><em>{{ podcastGlobal.producer }}</em></strong>. Sponsored by <strong><em>{{ podcastGlobal.sponsor.name }}</em></strong>.</p>

    {% include 'components/single-share.twig' with {
        class : 'podcast'
    }%}

</div>