{#
*  Site Info
*
*  @package lydia
*  @since lydia 1.0
#}

<section class="c-site-info">
    <p class="c-site-info__copyright">Copyright &copy; {{ copyright(2012) }} {{ site.name }}. All rights reserved</p>
</section>
