{#
* Sponsored By
* --------
* @package GJ
* @since GJ 3.0
#}
{% if post.get_field('sponsor_logo') %}
    <div class="c-sponsored-by c-sponsored-by--single">
        {% if post.get_field('sponsor_url') %}
        <a class="c-sponsored-by__url" href="{{ post.meta('sponsor_url') }}" target="_blank" rel="nofollow">
        {% endif %}

            <p class="c-sponsored-by__intro">In Association with</p>
            <img class="c-sponsored-by__logo" width="212px" src="{{ Image(post.meta('sponsor_logo'))|resize('424') }}" alt="In Association with {{ post.get_field('sponsor_name') }}">

        {% if post.get_field('sponsor_url') %}
        </a>
        {% endif %}
    </div>
{% endif %}
