{#
* Sponsored By
* --------
* @package GJ
* @since GJ 3.0
#}
{% if podcasts.podcast_sponsor.name %}
    <div class="c-sponsored-by c-sponsored-by--podcast">
        {% if podcasts.podcast_sponsor.link %}
        <a class="c-sponsored-by__url" href="{{ podcasts.podcast_sponsor.link }}" target="_blank" rel="nofollow">
        {% endif %}

            <p class="c-sponsored-by__intro">In Association with</p>
            <img class="c-sponsored-by__logo" src="{{ Image(podcasts.podcast_sponsor.logo)|resize('80') }}" alt="In Association with {{ podcasts.podcast_sponsor.name }}">

        {% if podcasts.podcast_sponsor.link %}
        </a>
        {% endif %}
    </div>
{% endif %}
