{#
* Video Playlist
* --------
* @package GJ
* @since GJ 3.0
#}
<section class="c-video-playlist" id="js-video-playlist">
    <h2 class="c-video-playlist__title">Watch Next <span class="far fa-long-arrow-right c-video-playlist__swipe"></span></h2>
    <div class="c-video-playlist__list">
        {% for video in videoPlaylist %}
            {% include 'components/post-thumb--video-playlist.twig' %}
        {% endfor %}
    </div>
</section>
