{#
* Widget -- Podcast
* --------
* @package GJ
* @since GJ 3.0
#}
<aside class="c-widget-podcast">
    <div class="c-widget-podcast__header">
        <h1 class="c-widget-podcast__title">New: GJ Podcast</h1>
    </div>
    {% for podcast in podcastsLatest|slice(0, 1) %}
        <article class="c-widget-podcast__post">
            <h1 class="c-widget-podcast__post-title">Joe Bullmore in converstation with: {{ podcast.title }}</h1>
            <a href="{{ podcast.link }}" class="o-btn o-btn--light o-btn--solid c-widget-podcast__btn"><span class="c-widget-podcast__icon far fa-volume-up" aria-hidden="true"></span>Listen Now</a>
        </article>
        <span class="c-widget-podcast__close far fa-times" aria-hidden="true"></span>
    {% endfor %}
</aside>
