{#
* Widget -- Latest Issue
* --------
* @package GJ
* @since GJ 3.0
#}
{% if mostPopular %}
<aside class="o-widget c-widget-most-popular">
    <h1 class="c-widget-most-popular__title">Most Popular</h1>
    <div class="c-widget-most-popular__posts">
        {% for post in mostPopular %}
            <article class="c-widget-most-popular__post">
                <a href="{{ post.link }}" class="c-widget-most-popular__link">
                    <span class="c-widget-most-popular__counter">{{ loop.index }}</span>
                    <div class="c-widget-most-popular__featured">
                        <img src="{{ post.thumbnail.src|resize(60, 60, 'center') }}" alt="" class="c-widget-most-popular__img">
                    </div>
                    <h1 class="c-widget-most-popular__post-title">{{ post.title }}</h1>
                </a>
            </article>
        {% endfor %}
    </div>
</aside>
{% endif %}
