{#
* Widget -- Newsletter
* --------
* @package GJ
* @since GJ 3.0
#}
<aside class="c-widget-newsletter">
    <div class="c-widget-newsletter__group">
        <div class="c-widget-newsletter__header">
            <p class="c-widget-newsletter__subtitle">Sign up to our newsletter and follow us on social media</p>
        </div>
        <p class="c-widget-newsletter__message js-newsletter-form__message"></p>
        <form class="c-widget-newsletter__form" method="post" name="c-widget-newsletter__form" id="js-newsletter-form" accept-charset="utf-8">

           <div class="c-widget-newsletter__fieldset">
                <div class="c-widget-newsletter__input-group">
                    <input class="c-widget-newsletter__input c-widget-newsletter__input--email js-newsletter-form__email" type="email" name="email" placeholder="Enter your email address" required>
                </div>
                <input class="o-btn o-btn--solid o-btn--dark c-widget-newsletter__btn c-widget-newsletter__btn--submit" type="submit" value="Sign up">
            </div>
        </form>
        {% include 'objects/social.twig' %}
    </div>
</aside>
