/**
* Fonts
* --------
* @package Lydia
* @subpackage Lydia-SCSS
* @since Lydia 1.0
* @version 1.0
*/

/**
* Base font stacks
* --------
* @since Lydia 1.0
* @version 1.0
*/
$font--sans-serif : Helvetica, Arial, sans-serif !default;
$font--serif      : Georgia, 'Times New Roman', Times, serif !default;
$font--code       : Consolas, 'Andale Mono', 'Lucida Console', Monaco, 'Courier New', Courier, monospace !default;
$font--icon       : 'FontAwesome' !default;

/**
* Base typography fonts
* --------
* @since Lydia 1.0
* @version 1.1
*/
$font--base : $font--sans-serif !default;
$font--h1   : $font--sans-serif !default;
$font--h2   : $font--sans-serif !default;
$font--h3   : $font--sans-serif !default;
$font--h4   : $font--sans-serif !default;
$font--h5   : $font--sans-serif !default;
$font--h6   : $font--sans-serif !default;
$font--para : $font--sans-serif !default;

/**
* Font Weights
* --------
* @since Lydia 1.0
* @version 1.0
*/
$font--ultra-light : 100;
$font--light       : 300;
$font--regular     : 400;
$font--semibold    : 600;
$font--bold        : 700;
$font--black       : 800;
$font--superheavy  : 900;

$font-w--h1   : 700 !default;
$font-w--h2   : 700 !default;
$font-w--h3   : 700 !default;
$font-w--h4   : 700 !default;
$font-w--h5   : 700 !default;
$font-w--h6   : 700 !default;
$font-w--para : 400 !default;

/**
* Font Family
* --------
* @since Lydia 1.0
* @version 1.0
*/
@mixin font($family, $weight: 400, $style: normal) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}

/**
* Font Sizing
* --------
*  The base font size is set to 12px
* --------
* @since Lydia 1.0
* @version 1.0
*/
$font-size--base : 75% !default;
$rem-base        : 12 !default;
$baseline        : ($rem-base * 2) + px;

/**
* Rem Font and LineHeight
* --------
* @since Lydia 1.0
* @version 1.0
*/
@mixin fontSize($font-size) {
  font-size: $font-size + px;
  font-size: ($font-size / $rem-base) + rem;
}

// Line Height - Mixing values convert px values to unitless with fallback
@function lineUnitless($line-height) {
  $line-unitlessSize: ($line-height / $rem-base); // unitless size is calculated with a base font size of 12px [1rem = 12px]
  @return ($line-unitlessSize + rem);
}

@mixin lineHeight($line-height){
  line-height: (1 * $line-height) + px; //fallback for old browsers
  line-height: lineUnitless($line-height);
}
