{#
* Archive Templates
* -------
* @package Nurformix
* @since GJ 1.0
#}
{% extends "base.twig" %}

{% block content %}

    {% include 'components/clubhouse/clubhouse__featured-header.twig' %}

    <div class="c-club-partner-content">
        {% include 'components/ads.twig' with {
            gpt : {
                type : 'leaderboard',
                code : 'GJ_728x90_001'
            }
        } %}
        {% include 'components/clubhouse/clubhouse__main-title.twig' %}
        {% include 'components/clubhouse/clubhouse__partners.twig' %}
        {% include 'components/clubhouse/clubhouse__join.twig' %}
    </div>

{% endblock %}
