{#
* Archive Templates
* -------
* @package Nurformix
* @since GJ 1.0
#}
{% extends "base.twig" %}

{% block content %}

    <header class="c-archive-header">
        <div class="c-archive-header__inner o-wrapper o-wrapper--inner">
            {% include 'components/breadcrumbs.twig' with { background : 'dark' } %}

            <div class="c-archive-header__container">
                <div class="c-archive-header__intro">
                    <h1 class="c-archive-header__title">{{ title }}</h1>
                    {% if archive.description %}
                    <p class="c-archive-header__subtitle">{{ archive.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% include 'components/feed--archive.twig' with { wrapper: 'inner'} %}

{% endblock %}
