{% extends 'page.twig' %}

{% block content %}    
  {% include 'components/subscription/subscription-hero.twig' %}
  {% include 'components/subscription/subscription-adverts.twig' %}
  <div class="c-subscription-order">
    {% include 'components/subscription/subscription-overview.twig' %}
    {% include 'components/subscription/subscription-free-gift.twig' %}
    {% include 'components/subscription/subscription-buy.twig' %}
    {% include 'components/subscription/subscription-perks.twig' %}
    {% include 'components/subscription/subscription-buy.twig' %}
  </div>
{% endblock %}
