{% extends 'base.twig' %}

{% block content %}
  <div class="o-wrapper o-wrapper--inner">
    {% include 'components/house-notes/house-notes-header.twig' %}
    {% include 'components/house-notes/house-notes-noticeboard.twig' %}
    {% include 'components/house-notes/house-notes-newsletter.twig' %}
    {% include 'components/house-notes/house-notes-columns.twig' %}
    {% include 'components/house-notes/house-notes-categories.twig' %}
    {% include 'components/house-notes/house-notes-archive.twig' %}
  </div>
{% endblock %}
