{#
* Page Plugin
* --------
* Used to output pages that hook into wp templates
* --------
* @package GJ
* @since GJ 1.0
#}
{% extends "base.twig" %}

{% block content %}
    <div id="has-page-plugin-hook" class="c-page c-page--{{ post.slug }} c-page--{{ post.type }} o-wrapper o-wrapper--inner">
        {{ post.content }}
    </div>
{% endblock %}
