{#
* Page : Contact Us
* --------
* @package GJ
* @since GJ 1.0
#}
{% extends "page.twig" %}

{% block pageContent %}

    <div class="o-grid o-grid--flex">
        {% if officeMap %}
        <section class="o-grid--grow o-wrapper--single">
            <div class="c-acf-map">
                <div class="c-marker" data-lat="{{ officeMap.lat }}" data-lng="{{ officeMap.lng }}"></div>
            </div>
        </section>
        {% endif %}

        <section class="c-contact-info">
        {% for item in post.get_field('contact_info') %}
            <h2 class="c-contact-info__title">{{ item.title }}</h2>
            <div class="c-contact-info__info">{{ item.info }}</div>
        {% endfor %}
        </section>


    </div>

{% endblock %}
