{#
* Single Post
* -------
* @package GJ
* @since Gj 1.0
#}
{% extends "base.twig" %}

{% block content %}

    <div>
        {% include 'components/single-landing-page.twig' %}
    </div>

{% endblock %}
