{#
* Social Icons
* --------
* @package GJ
* @since GJ 3.0
#}
{% if social %}
    <ul class="o-social-links">
        {% for item in social %}
        <li class="o-social-links__item">
            <a class="o-social-links__link" href="{{ item.url }}" target="_blank">
                <span class="o-social-links__icon fab fa-{{ item.platform.value }}"></span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
