/**
 * Single Sponsored Hero
 * ---------
 * @component single/sponsored
 * @version 1
*/

.c-single-sponsored-hero {
    position: relative;
    color: $white;

    &__media {
        position: relative;
        min-height: rem(600px);
        height: 100vh;

        &::before {
            content: "";
            background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
            width: 100%;
            height: 60%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;

            @include mq($until: phablet) {
                background-color: rgba(0, 0, 0, 0.4);
                height: 100%;
            }
        }

        &-img {
            height: inherit;
            width: 100%;
            object-fit: cover;
            display: block;
            min-height: inherit;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(12px);
        justify-items: center;
        align-items: center;
        padding: rem(24px) rem(12px);

        @include mq($until: tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mq($until: phablet) {
            grid-template-columns: 1fr;
            row-gap: rem(24px);
        }
    }

    &__btn {
        @include upper;
        font-weight: $font-app-cera-w--semibold;
        position: relative;
        padding: rem(4px) 0;
        @include fontSize(14);

        @include mq($until: tablet) {
            &:last-of-type {
                grid-column: 2;
                @include fontSize(12);
            }
        }

        @include mq($until: phablet) {
            &:last-of-type {
                grid-column: 1;
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            z-index: 1;
            background-color: transparentize($white, 0.5);
            transition: 0.1s ease-out;
        }

        &:hover,
        &:focus {
            &::before {
                background-color: $white;
            }
        }
    }

    &__logo{
        display: flex;
        flex-direction: column;
        text-align: center;

        &-pre {
            @include upper;
            @include fontSize(10);
            font-weight: $font-app-cera-w--semibold;
            margin-bottom: rem(12px);
        }
    }

    &__info {
        padding: rem(48px) rem(24px);
        text-align: center;
    }

    &__info-inner {
        @include wrapper($g-wrapper--tablet, true);
    }

    &__title {
        @include upper;
        @include font($font--cond-chronicle, $font--semibold);
        @include fontSize(60);
        line-height: 1;
        margin-bottom: rem(36px);

        @include mq($until: tablet) {
            @include fontSize(48);
        }

        @include mq($until: phablet) {
            @include fontSize(36);
        }
    }

    &__standfirst {
        @include fontSize(14);
        @include upper;
        font-weight: $font--semibold;
        margin-bottom: rem(36px);

        @include mq($until: tablet) {
            @include fontSize(12);
        }
    }

}
