/**
 * Single Sponsored Author
 * ---------
 * @component single/sponsored
 * @version 1
*/

.c-single-sponsored-author {
    display: flex;
    justify-content: center;
    padding: rem(36px) rem(24px);
    width: 100%;
    border-bottom: 1px solid $app-grey--light;

    @include mq($until: phablet) {
        flex-direction: column;
    }

    &__item {
        @include upper;
        @include fontSize(10);
        padding: 0 rem(12px);
    }
}
