.gifting-content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  @include mq($until: tablet) {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  &__content {
    margin: auto;
    max-width: 1050px;
    p {
      @include font($font--cond-chronicle);
      @include fontSize(27);
      line-height: 1.26em;
      text-align: center;
      @include mq($until: tablet) {
        @include fontSize(24);
      }
    }
  }
}
