.gifting-guide-more {
  padding-left: 30px;
  padding-right: 30px;
  &__wrapper {
    border-top: solid 1px $mercury;
    margin-top: 40px;
    padding-top: 30px;
  }
  &__heading {
    @include font($font--cera);
    @include fontSize(17);
    text-transform: uppercase;
    color: $black;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .gifting-tease {
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid 1px $mercury;
    width: calc(100% / 3 - 10px / 3 * 2);
    &:last-of-type,
    &:nth-of-type(3n) {
      border: none;
      margin-right: 0px;
    }
    @include mq($until: phablet) {
      width: 100%;
      margin-right: 0px;
      padding-right: 0px;
      border: none;
    }
  }
}
