.gifting-widget {
  background-color: #F8F8F8;
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
  @include mq($until: tablet) {
    display: none;
  }
  &__header {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__heading,
  &__pagination {
    @include font($font--cera);
    @include fontSize(14);
    text-transform: uppercase;
    color: $black;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
  &__slider {
  }
  &__image {
    margin: 0 auto 50px auto;
  }
  &__title {
    @include font($font--text-chronicle);
    @include fontSize(16);
    line-height: 1.15em;
    padding: 0 30px 25px;
  }
  &__slide {
    img {
      width: 300px;
      height: 200px;
    }
  }
  &__prev {
    left: 30px;
  }
  &__next {
    right: 30px;
  }
  &__prev,
  &__next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    border: solid 1px $app-grey--text;
    color: $app-grey--text;
    transition: all ease-in-out 0.2s;
    position: absolute;
    top: calc(50% - 15px);
    &:hover {
      background-color: $wild-sand;
      border: solid 1px $wild-sand;
      color: $black;
    }
  }
  // Removed dots, kept code in case they want it back
  // .slick-dots {
  //   position: absolute;
  //   top: -65px;
  //   right: 25px;
  //   li {
  //     width: 9px;
  //     height: 9px;
  //     margin-right: 8px;
  //     &:last-of-type {
  //       margin-right: 0;
  //     }
  //   }
  //   button {
  //     width: 9px;
  //     height: 9px;
  //     padding: 0;
  //   }
  //   button::before {
  //     color: $fog;
  //     font-size: 35px;
  //     line-height: 9px;
  //     width: 9px;
  //     height: 9px;
  //   }
  //   .slick-active {
  //     button::before {
  //       color: $midnight;
  //     }
  //   }
  // }
}
