.gifting-tease {
  margin-bottom: 30px;
  display: block;
  &__image {
    margin-bottom: 9px;
  }
  &__category {
    @include font($font--cera);
    @include fontSize(10);
    text-transform: uppercase;
    font-weight: 500;
    color: $fog;
    margin-bottom: 6px;
  }
  &__title {
    @include font($font--text-chronicle);
    @include fontSize(20);
    line-height: 1.15em;
  }
}
