/**
* Search Modal
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-search-modal {
    pointer-events: none;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $app-white;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-out;

    @include mq($until: netbook) {
        height: 60vh;
    }

    body.admin-bar & {
        top: #{$g-admin-bar};
        height: calc(100vh - #{$masthead-height} + #{$g-admin-bar});

        @include mq($until: netbook) {
            height: 60vh;
        }
    }

    &.is-open {
        opacity: 1;
        pointer-events: auto;
    }

    &__form {
        display: flex;
        align-items: center;
        @include rem(width, 800px);
        @include mq($until: netbook) {
            width: 100%;
            @include rem(padding, 0 24px);

        }
    }

    &__entry {
        @include fontSize(60);
        @include font($font--cera, $font-app-cera-w--bold);

        @include mq($until: netbook) {
            text-align: center;
            @include fontSize(36);
        }

        // Placeholder
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
            color: $app-grey--text;
        }

        // Chome Yellow Autofill
        &:-webkit-autofill,
        &:-webkit-autofill:focus  {
            -webkit-box-shadow: 0 0 0 50px $app-white inset;
            -webkit-text-fill-color: $app-black;
        }
    }

    &__action {
        background: none;
        @include rem(padding, 24px);
        @include user-select;
        @include fontSize(24);
        color: $app-grey--light;
        transition: color 0.3s ease-out;

        &:hover {
             color: $app-grey--text;
        }
    }

    &__close {
        @include user-select;
        @include fontSize(18);
        color: $app-grey--text;
        position: absolute;
        @include rem(padding, 36px);
        top: 0;
        right: 0;
        transition: color 0.3s ease-out;

        &:hover {
            color: $app-black;
        }
    }
}
