.clubhouse-title {
  @include fontSize(15);
  line-height: 2.13;
  color: black;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  @include font($font--cera, $font-app-cera-w--semibold);
  border-top: solid 2px black;
  border-bottom: solid 2px $samurai;
  padding: 10px 0;
  margin-bottom: 30px;
  @include mq($until: tablet) {
    padding: 5px 0;
  }
}
