{#
* Main Title
* ---------
* @package components/clubhouse
#}
<section class="c-club-partner-feed">

    {# {% for cat in archive %}

        {% include 'objects/title.twig' with {
            el: 'h2',
            class: 'c-club-partner-feed',
            title: cat.name
        } %} #}

        {% for partner in posts  %}

            {% include 'components/clubhouse/clubhouse__partner-card.twig' %}

        {% endfor %}

    {# {% endfor %} #}

</section>
