.horizons-cta {
  padding: 190px 30px;
  position: relative;
  background-position: center;
  background-size: cover;
  @include mq($until: tablet) {
    padding: 160px 30px;
  }
  &__logo {
    width: 45px;
    position: absolute;
    top: 60px;
    left: 60px;
    @include mq($until: tablet) {
      top: 30px;
      left: 30px;
    }
  }
  &__container {
    color: $white;
    text-align: center;
  }
  &__title {
    @include font($font--cera);
    font-size: 40px;
    font-weight: 600;
    @include mq($until: tablet) {
      line-height: 1.2em;
      margin-bottom: 30px;
    }
  }
  &__subtitle {
    @include font($font--cera);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__link {
    @include font($font--cera);
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: $midnight;
    letter-spacing: 0.05em;
    background-color: $white;
    padding: 15px 50px;
    border-radius: 30px;
    transition: all ease-in-out 0.3s;
    &:hover {
      color: $white;
      background-color: $midnight;
    }
  }
}
