.subnav-editorial {
  $block: &;
  background-color: $white;
  overflow: auto;
  max-height: calc(100vh - #{$masthead-height});
  @include mq($until: netbook) {
    max-height: auto;
  }

  &__items {
    column-count: 2;
    column-rule: 1px solid $samurai;
    width: 100%;
    max-width: 600px;
    z-index: 1;
    position: relative;
    @include mq($until: netbook) {
      column-count: unset;
      background-color: $midnight;
    }
  }

  &__item {
    padding-left: 60px;
    position: relative;
    @include rem(max-width, 260px);
    color: $dove-gray;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    @include mq($until: netbook) {
      padding: 0;
      max-width: 100%;

      &:hover,
      &:focus {
        background-color: $despair;
      }

      &:active {
        background-color: $shogun;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    @include font($font--cera);
    @include mq($until: netbook) {
      justify-content: flex-start;
      @include rem(padding, 24px);
    }
  }

  &__title {
    color: $midnight;
    @include fontSize(12);
    text-transform: uppercase;
    @include rem(padding, 6px 0 0);
    display: block;
    @include font($font--cera);
    font-weight: 600;
    z-index: 1;
    transition: transform 0.2s ease-out;
    @include mq($until: netbook) {
      color: $white;
      @include font-caps--cera;
      @include font($font--cera, $font-app-cera-w--bold);
      @include fontSize(12);
      @include rem(padding, 0);
    }
  }
  &__container {
    display: flex;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    justify-content: space-between;
    @include mq($until: netbook) {
      padding: 0;
    }
  }
  &__preview {
    @include mq($until: netbook) {
      display: none;
    }
  }
  &__article {
    display: none;
    &:first-child {
      display: block;
    }
  }
  &__image {
    max-width: 400px;
    width: 100%;
    margin-bottom: 15px;
  }
  &__excerpt {
    display: block;
    @include fontSize(16);
    @include font($font--text-chronicle);
    font-weight: 300;
    color: $midnight;
  }
}

.subnav-editorial-child {
  $block: &;

  @include rem(padding, 6px 0 16px);
  margin: auto;
  width: 100%;
  @include mq($until: netbook) {
    display: none;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    opacity: 1;
    color: $dove-gray;
  }

  &__title {
    display: block;
    @include fontSize(16);
    @include rem(padding, 4px 0 3px);
    @include font($font--text-chronicle);
    font-weight: 300;
    color: $fog;
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      transform: translateX(0);
    }
  }
}
