.subnav-house-notes {
  $block: &;
  background-color: $white;
  overflow: auto;
  max-height: calc(100vh - #{$masthead-height});

  &__container {
    display: flex;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px;
  }
  a {
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &__item {
    border-right: solid 1px $samurai;
    padding: 0 30px;
    width: calc(100% / 4);
    &:last-child {
      border-right: none;
    }
  }
  &__heading {
    @include font($font--cera);
    text-transform: uppercase;
    @include fontSize(12);
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__content {
    display: block;
    @include fontSize(15);
    @include font($font--text-chronicle);
    font-weight: 300;
    font-style: italic;
    color: $midnight;
    line-height: 1.1em;
  }
  &__image {
    margin-bottom: 12px;
  }
  &__title {
    display: block;
    @include fontSize(16);
    @include font($font--text-chronicle);
    font-weight: 300;
    color: $midnight;
    margin-bottom: 1px;
  }
}
