/**
* Masthead Nav
* --------
* @component app/masthead
* @version 1.0
*/
$menu_offset_mobile : 120px;

// Nav Masthead
.c-masthead-nav {
    $block: &;

    margin: 0 auto;
    height: inherit;
    grid-row: 2;
    grid-column: span 3;
    justify-self: center;
    height: 100%;
    width: 100%;
    border-top: 1px solid transparentize($black, 0.9);

    .t-front & {
        border-top: 1px solid transparentize($white, 0.9);
    }

    .js-is-scrolling & {
        border-top: 1px solid transparentize($black, 0.9);
    }

    // Sidebar on notebook
    @include mq($until: netbook) {
        @include rem(width, 296px);
        height: calc(100% - #{$menu_offset_mobile});
        position: fixed;
        @include rem(top, $menu_offset_mobile);
        left: 0;
        background: $black;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
        overflow-y: scroll;
        z-index: 10;

        &::-webkit-scrollbar {
            display: none;
        }

        // Mobile Nav Open
        &.js-is-open {
            transform: translateX(0);
        }

        // Full width mobile Menu
        @include mq($until: phablet) {
            width: 100%;

            &::after {
                display: none;
            }
        }
    }

    // Adjust when Admin Bar is present
    body.admin-bar & {
        @include mq($until: netbook) {
            height: calc(100% - #{$menu_offset_mobile} + #{$g-admin-bar});
            @include rem(top, $menu_offset_mobile + $g-admin-bar);

            @media screen and (max-width: 782px) {
                height: calc(100% - #{$menu_offset_mobile} + #{$g-admin-bar--mob});
                @include rem(top, $menu_offset_mobile + $g-admin-bar--mob);
            }
        }
    }

    // Menu Items Container
    &__items {
        display: flex;
        height: inherit;
        justify-content: center;

        @include mq($until: netbook) {
            flex-direction: column;
            justify-content: initial;
        }
    }

    &__item {

        @include mq($until: netbook) {
            position: relative;
        }

        // Reveal the SubMenu on Hover
        &:hover >,
        &.has-active > {

             #{$block}__subnav {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__link {
        color: $shogun;
        @include user-select;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem(padding, 0 24px);
        @include font-caps--cera;
        @include font($font--cera, $font-app-cera-w--semibold);
        @include fontSize(10);
        transition: background-color 0.2s ease;
        position: relative;

        .t-front & {
            color: $white;
        }

        .t-front &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: rem(1px);
            z-index: 1;
            background-color: transparent;
        }

        .has-mob-menu-active &::before {
            display: none;
        }

        .js-is-scrolling & {
            color: $black;
        }

        .has-mob-menu-active.js-is-scrolling &  {
            color: $white;
        }

        @include mq($until: netbook) {
            color: $white !important;
            display: flex;
            @include rem(height, 60px);
            justify-content: flex-start;
            @include fontSize(14);
        }

        &:hover,
        &:focus {
            background-color: $samurai;

            .t-front & {
                background: none;

                @include mq($until: netbook) {
                    background: $shogun;
                }
            }

            &::before {
                background-color: $white;
            }

            @include mq($until: netbook) {
                background: $shogun;
            }
        }

        &:focus ~ {

            #{$block}__subnav {
                opacity: 1;
                pointer-events: auto;
            }
        }

        &:active {

            @include mq($until: netbook) {
                background: darken($shogun, 2%);
            }
        }

        // Submenu is active - show parent is active
        .has-active & {
            @include mq($from: netbook) {
                background-color: $samurai;

                .t-front & {
                    background: none;
                }
            }
        }
    }

     // SubNav
    &__subnav {
        display: block;
        pointer-events: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        top: $masthead-height;
        left: 0;
        z-index: 1;
        margin-top: -1px;
        transition: opacity 0.2s ease-out;
        box-shadow: 0px 1px 6px -2px rgba(49, 49, 49, 0.3);

        @include mq($until: netbook) {
            display: flex;
            position: relative;
            display: none;
            padding: 0;
            height: auto;
            top: 0;
            opacity: 1;
            align-items: flex-start;
            background-color: $midnight;
        }

        &-icon {
            display: none;

            @include mq($until: netbook) {
                display: block;
                color: $white;
                position: absolute;
                top: 0;
                right: 0;
                @include rem(padding, 0 24px 0);
                @include rem(height, 60px);
                border: {
                    left: 1px solid $midnight;
                    bottom: 1px solid $midnight;
                }
                z-index: 2;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: transform 0.3s ease;
            }

            &.js-is-active {
                @include mq($until: netbook) {
                    transform: rotateX(180deg);
                    border-bottom: 0;
                    background: $shogun;
                }
            }

            &:hover,
            &:focus {
                @include mq($until: netbook) {
                    background: $shogun;
                }
            }
        }

        body.admin-bar & {
            &::before {
                height: calc(100vh - #{$masthead-height} + #{$g-admin-bar});

                @include mq($until: netbook) {
                    height: calc(100vh - #{$menu_offset_mobile} + #{$g-admin-bar});

                    @media screen and (max-width: 782px) {
                        height: calc(100vh - #{$menu_offset_mobile} + #{$g-admin-bar--mob});
                    }
                }
            }
        }
    }
}
