/**
* Masthead Subscribe
* --------
* @component masthead
* @version 1.0
*/

.c-masthead-subscribe {
    position: relative;
    height: inherit;
    display: flex;

    @include mq($from: netbook) {
        display: none;
    }

    &__link {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        @include rem(padding, 0 40px);
        @include fontSize(11);
        @include font-caps--cera;
        font-weight: $font-app-cera-w--bold;
        background-color: darken($mist, 5%);
        background-color: transparent;
        color: $shogun;

        .t-front & {
            color: $white;
        }

        .js-is-scrolling & {
            color: $shogun;
        }

        @include mq($until: phablet) {
            @include rem(padding, 0 12px);
            @include fontSize(8);
        }

        &:hover,
        &:focus {
            background-color: $black;
            color: $white;
        }

        &:active {
            background-color: lighten($black, 15%);
        }
    }
}

.has-mob-menu-active .c-masthead-subscribe__link {
    @include mq($until: phablet) {
        background-color: $black;
        border-color: $black;
        color: $white;
        z-index: 10;

        &:hover {
            color: $black;
            border-color: $mist;
            background-color: $mist;
        }

        &:active {
            border-color: darken($mist, 15%);
            background-color: darken($mist, 15%);
        }
    }
}

.c-masthead-subscribe-issue {

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        @include rem(top, 60px);
        text-align: center;
        @include rem(padding, 17px);
        background-color: $app-white;
        border: 1px solid $app-grey--light-border;
        border-bottom-left-radius: 2px;
        border-top: none;

        @include mq($until: tablet) {
            display: none;
        }
    }

    &__img {
        @include rem(margin-bottom, 6px);
    }

    &__title {
        color: $app-black;
        line-height: 1.2;
        @include font($font--cond-chronicle, $font-app-chronicle-w--regular);
        @include fontSize(16);
    }

    &__lead {
        display: block;
        @include font($font--cera, $font-app-cera-w--bold);
        @include fontSize(12);
        @include font-caps--cera;
    }
}

// Hide and Reveal the menu Subscribe
.c-masthead-subscribe-issue {
    transition: transform 0.4s ease-out, opacity 0.35s ease;
    opacity: 0;
    transform: translateY(-100%);

    .front-page & {
        opacity: 1;
        transform: translateY(0);
    }

    .js-is-scrolling & {
        opacity: 0;
        transform: translateY(-100%);
    }
}
// Show on Hover
.c-masthead-subscribe:hover {

    .c-masthead-subscribe-issue {
        opacity: 1;
        transform: translateY(0);
    }
}
