/**
* Masthead Actions
* --------
* @component masthead
* @version 1.0
*/

.c-masthead-actions {
    height: 100%;
    position: relative;
    z-index: 1;
    grid-column: 3;
    grid-row: 1;
    justify-self: self-end;

    @include mq($until: netbook) {
        align-items: center;
        justify-content: space-evenly;
        @include rem(width, 296px);
        height: inherit;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        @include rem(margin-top, 60px);
        background: $black;
        transition: transform 0.3s ease-out;
        transform: translateX(-100%);

        &::before {
            content: '';
            width: 296px;
            @include rem(height, 60px);
            position: absolute;
            @include rem(top, -60px);
            left: 0;
            background: $black;
        }

        @include mq($until: phablet) {
            width: 100%;

            &::before {
                width: 100%;
            }
        }
    }

    .has-mob-menu-active & {
        z-index: 10;
    }

    &__items {
        display: flex;
        height: inherit;

        @include mq($until: netbook) {
            border: {
                top: 1px solid $midnight;
                bottom: 1px solid $midnight;
            }
        }
    }

    &__item {
        @include user-select;

        @include mq($until: netbook) {
            &:nth-child(2) {
                border-left: 1px solid $midnight;
                border-right: 1px solid $midnight;
            }
        }

        .c-icon {
            @include rem(width, 14px);

            &-path {
                fill: $black;

                .t-front & {
                    fill: $white;
                }

                .js-is-scrolling & {
                    fill: $black;
                }

                .has-mob-menu-active.js-is-scrolling &  {
                    fill: $white;
                }

                @include mq($until: netbook) {
                    fill: $white;
                }
            }
        }
    }

    &__link {
        @include rem(padding, 0 24px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s ease;

        &:hover,
        &:focus {
            background-color: $samurai;

            .t-front & .c-icon-path {
                fill: $shogun;

                @include mq($until: netbook) {
                    fill: $white;
                }
            }

            .t-front & {
                background: none;
            }

            @include mq($until: netbook) {
                background: $shogun;
            }
        }

        &:active {

            @include mq($until: netbook) {
                background: darken($shogun, 2%);
            }
        }
    }

    &.js-is-open  {
        @include mq($until: netbook) {
            transform: translateX(0);
        }
    }

    body.admin-bar & {

        @include mq($until: netbook) {
            @include rem(margin-top, 92px);
        }

        @media screen and (max-width: 782px) {
            @include rem(margin-top, 106px);
        }
    }
}

.c-masthead-actions__item--newsletter {

    .t-front & {
        color: $white;
    }

    .js-is-scrolling & {
        color: $black;
    }

    @include mq($until: netbook) {
        display: none;
    }

    .c-masthead-actions {

        &__link {
            @include rem(margin, 14px 0);
            height: calc(100% - 28px);
            border-left: 1px solid transparentize($white, 0.9);

            &:active {
                background-color: $white;
            }
        }

        &__item-icon {
            @include fontSize(16);
            @include rem(margin-right, 12px);
        }

        &__item-label {
            @include fontSize(12);
            font-weight: $font-app-cera-w--regular;
            transition: transform .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);

            &-wrap {
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }

            &--alt {
                position: absolute;
                left: 0;
                transform: translateY(100%);
            }
        }
    }

    &:hover,
    &:focus {

        .c-masthead-actions {


            &__link {
                background-color: initial;
            }

            &__item-label {

                &--prime {
                    transform: translateY(-100%);
                    opacity: 0;
                }

                &--alt {
                    transform: translateY(0);
                }
            }
        }
    }
}
