{#
* Masthead Nav
* --------
* @package components/masthead
* @version 1.0.0
#}

<nav class="c-masthead-nav" id="js-masthead-nav">
  <div class="c-masthead-nav__items">
    {% for item in menu.masthead.items %}
      <div class="c-masthead-nav__item {{ item.classes|join(' ') }}">
        <a class="c-masthead-nav__link"
          {{ item.link ? 'href="' ~ item.link ~ '"' : 'tabindex="0"' }}
          target="{{ item.is_external ? '_blank' : '_self' }}">
          {{ item.title }}
        </a>

        {% if item.children %}
          <div class="c-masthead-nav__subnav-icon js-masthead-nav--subnav">
            <span class="fas fa-chevron-down"></span>
          </div>
        {% endif %}

        {% if item.object_id == 388179 %}
          {% include 'components/masthead/masthead__nav--sessions.twig' %}
        {% endif %}

        {% if item.object_id == 387159 %}
          {% include 'components/masthead/masthead__nav--house-notes.twig' %}
        {% endif %}

        {% if item.object_id == 232829 %}
          {% include 'components/masthead/masthead__nav--podcast.twig' %}
        {% endif %}

        {% if item.object_id == 9179 %}
          {% include 'components/masthead/masthead__nav--video.twig' %}
        {% endif %}

        {% if item.object_id == 266013 %}
          {% include 'components/masthead/masthead__nav--editorial.twig' %}
        {% endif %}

        {% if item.object_id == 74300 %}
          {% include 'components/masthead/masthead__nav--clubhouse.twig' %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</nav>
