<div class="c-masthead-nav__subnav subnav-house-notes">
  <div class="subnav-house-notes__container">
    <div class="subnav-house-notes__item">
      <div class="subnav-house-notes__heading">
        House notes
      </div>
      <div class="subnav-house-notes__content">
        Essays, anecdotes, confessions, recommendations, pictures, recipes and advice from the Gentleman's Journal Clubhouse
      </div>
    </div>
    {% for item in latestHouseNotesMenu %}
      {% set item = Post(item) %}
      <a href="{{ item.link }}" class="subnav-house-notes__item">
        <img src="{{ Image(item.thumbnail)|resize(426, 0, 'center') }}"
          alt=""
          class="subnav-house-notes__image" />
        <div class="subnav-house-notes__title">
          {{ item.title }}
        </div>
      </a>
    {% endfor %}
  </div>
</div>
