<a href="{{ item.link }}"
  class="subnav-editorial__article"
  categories-attr="{{ item.name|sanitize }}">
  <img src="{{ Image(post.thumbnail)|resize(800, 560, 'center') }}"
    alt=""
    class="subnav-editorial__image" />
  <div class="subnav-editorial__excerpt">
    {{ post.title }}
  </div>
</a>
