{#
* Nav Hamburger
* --------
* @package GJ
* @since GJ 1.0
#}
<div class="c-hamburger" id="js-masthead-ham">
    <svg class="c-hamburger__icon-group" role="navigation" width="23" height="23" viewBox="0 0 46 30" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
        <path class="c-hamburger__path c-hamburger__path--top" d="M1,0h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1C0.4,6,0,5.6,0,5V1C0,0.4,0.4,0,1,0z"></path>
        <path class="c-hamburger__path c-hamburger__path--middle" d="M1,12h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,12.4,0.4,12,1,12z"></path>
        <path class="c-hamburger__path c-hamburger__path--bottom" d="M1,24h44c0.6,0,1,0.4,1,1v4c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1v-4C0,24.4,0.4,24,1,24z"></path>
    </svg>
</div>
