.c-hub-featured {
  min-height: calc(90vh - 112px);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  @include mq($until: tablet) {
    min-height: calc(90vh - 60px);
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-img {
      width: inherit;
      height: inherit;
      display: block;
      object-fit: cover;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,0.2);
    }
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 48px 1fr;
    position: relative;
    z-index: 1;
  }

  &__scroller {
    margin-bottom: rem(24px);
    align-self: end;
  }

  &__chevron {
    color: $white;
    font-size: 18px;
    text-align: center;
    height: 13px;
    opacity: 0.25;
    &:nth-of-type(2) {
      opacity: 0.5;
    }
    &:nth-of-type(3) {
      opacity: 1;
    }
  }

  &__info {
    max-width: 75ch;
    padding: rem(24px 24px 48px 24px);
    border-left: solid 2px $white;
  }
  &__pre-title {
    @include font($font--cera);
    @include fontSize(14);
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin-bottom: 80px;
    @include mq($until: tablet) {
      margin-bottom: 40px;
    }
  }

  &__title {
    @include font($font--text-chronicle);
    @include fontSize(36);
    line-height: 0.97em;
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    margin-bottom: 25px;

    @include mq($until:tablet) {
      @include fontSize(24);
    }
  }

  &__excerpt {
    @include font($font--text-chronicle);
    @include fontSize(16);
    color: $white;
    margin-bottom: 120px;
    @include mq($until: tablet) {
      margin-bottom: 60px;
    }
  }
  &__btn {
    display: inline-block;
    @include font($font--cera);
    @include fontSize(11);
    text-transform: uppercase;
    color: $black;
    letter-spacing: 0.1em;
    font-weight: 400;
    background-color: $white;
    border-radius: 25px;
    padding: 13px 30px;
    letter-spacing: 0.01em;
    transition: all ease-in-out 0.2s;

    .c-icon {
      display: inline-block;
      margin-left: rem(12px);
    }

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}
