{#
* Masthead
* --------
* @package components/global
* @version 1.0.0
#}
<header class="o-masthead o-masthead--{{ post.type }} o-masthead--{{ style }}" id="js-masthead-prime" itemscope itemtype="http://schema.org/WPHeader" role="banner">

    {% include 'components/masthead/masthead__hamburger.twig' %}

    <div class="c-date">
        <p class="c-date__time">{{ now|date("l jS F, H:i:s") }}</p>
    </div>

    {% include 'objects/logo.twig' with {
        style : 'masthead'
    } %}

    {% include 'components/masthead/masthead__nav.twig' %}
    {% include 'components/masthead/masthead__actions.twig' %}
    {% include 'components/masthead/masthead__subscribe.twig' %}

</header>
