/**
* Buttons
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.o-btn {
    @include rem(padding, 16px 24px);

    &--solid {
        border-width: 1px;
        border-style: solid;
        border-radius: 1px;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--bold);
        @include font-caps--cera;
    }

    &--outline {
        border-width: 2px;
        border-style: solid;
        border-radius: 1px;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--bold);
        @include font-caps--cera;
    }

    &--light {
        color: $app-black;
        border-color: $app-grey--light;
        background-color: $app-grey--light;

        &.o-btn--outline {
            background: none;
        }

        &:hover {
            color: $app-white;
            border-color: $app-black;
            background-color: $app-black;
        }

        &:active {
            border-color: lighten($app-black, 15%);
            background-color: lighten($app-black, 15%);
        }
    }

    &--animated {
        transition: all ease-in-out .3s;
    }
    
    &--dark {
        color: $app-white;
        border-color: $app-black--text;
        background-color: $app-black--text;

        &.o-btn--outline {
            background: none;
        }

        &:hover {
            color: $app-black;
            border-color: $app-white;
            background-color: $app-white;
        }

        &:active {
            border-color: darken($app-white, 15%);
            background-color: darken($app-white, 15%);
        }
    }

    &--dark-on-light {
        color: $app-white;
        border-color: $app-black--text;
        background-color: $app-black--text;

        &:hover {
            color: $app-black;
            border-color: $app-grey--light;
            background-color: $app-grey--light;
        }

        &:active {
            border-color: darken($app-grey--light, 15%);
            background-color: darken($app-grey--light, 15%);
        }
    }

    &--minimal {
        padding: 0;
        border: none;
    }

    &--disabled {
        @include user-select;
        cursor: not-allowed;
        opacity: 0.5;
    }
}
