/**
* Main Layouts and Global Components
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.o-grid {

    &--flex {
        display: flex;
    }

    &--grow {
        flex: 1;
    }

    &--collapse {
        @include mq($until: tablet) {
            flex-direction: column;
        }
    }

    &--collapse-netbook {
        @include mq($until: netbook) {
            flex-direction: column;
        }
    }
}
