/**
* Main Layouts and Global Components
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

body {
    display: flex;
    flex-direction: column;
}

.o-content {

    &--main {
        margin-bottom: auto;
        position: relative;
        @include rem(margin-top, #{$masthead-height}); // Offset for fixed header

        @include mq($until: netbook) {
            @include rem(margin-top, #{$masthead-height-mobile});
        }
    }
}

.c-page {
    @include rem(margin-bottom, 120px);
    @include rem(padding-top, 36px);

    &.has-featured-img {
       padding-top: 0;
    }
}

.t-dark {
    background-image: linear-gradient(to bottom, #131313, $app-black)
}

// Font Variants
p, a, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, blockquote, input, textarea, table, tr, td, thead, tbody, tfoot {
    font-variant-numeric: lining-nums;
}


.t-bg {
    position: relative;
    // margin-top: calc(100vh - #{$masthead-height});
    margin-top: calc(100vh);

    @include mq($until: tablet) {
        // margin-top: calc(100vh - (#{$masthead-height}));
    }

    body.admin-bar & {
        @include mq($until: netbook) {
            margin-top: calc(100vh - (#{$masthead-height} + #{$g-admin-bar} ));

            @include mq($until: tablet) {
                margin-top: calc(100vh - (#{$masthead-height} + #{$g-admin-bar}));

                @media screen and (max-width: 782px) {
                    margin-top: calc(100vh - (#{$masthead-height} + #{$g-admin-bar--mob}));
                }
            }
        }
    }

    &--templar {
        background: $white;
    }
}
