/**
* Zindex
* --------
* This should be for global positioning, sub z-index: 5; level positioning
* should be handled in a localised context.
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

/**
* 100
* --------
*/
.c-search-modal,
.c-modal-newsletter,
.c-widget-podcast {
    z-index: 100;
}

.c-hamburger {
    @include mq($until: netbook) {
        z-index: 100;
    }
}


/**
* 75
* --------
*/

/**
* 60
* --------
*/


/**
* 50
* --------
*/
.c-nav-subscribe__button,
.o-masthead--prime,
.c-nav-subscribe-issue {
    z-index: 50;
}

/**
* 40
* --------
*/
.c-nav-subscribe-issue {
    z-index: 40;
}

/**
* 1
* --------
*/
.o-foundation {
    z-index: 1;
}
