/**
 * Animations
 * ---------
 * @component modules
 * @version 1
*/
[data-animate="fadeUP"] {
    opacity: 0;
    transform: translateY(rem(48px));
    transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

    &.has-animated {
        opacity: 1;
        transform: none;
    }
}
