{#
* Wdiget Weekly Highlight
* --------
* @package GJ
* @since GJ 3.0
#}
{% if weeklyHighlight %}
{#
* Set Variables
* --------
* @version 1.0
* @since GJ 3.0
#}
{% set headerInfo = {
    'title': 'Weekly Highlight'
} %}

{#
* Template
* --------
* @version 1.0
* @since GJ 3.0
#}
<section class="o-post-group o-post-group--highlight">

    <div class="{% if wrapper is not empty %} o-wrapper o-wrapper--{{ wrapper }}{% endif %}">

        {% include 'components/feed__header.twig' with { header : headerInfo } %}

        <div class="o-post-feed o-post-feed--highlight">

                {% include 'components/post-thumb.twig' with {
                    style : 'wide',
                    post : weeklyHighlight,
                    excerpt: true,
                    feat  : {
                        base : {
                            w: '681',
                            h: '456',
                            c: 'center'
                        },
                        tablet : {
                            w: '408',
                            h: '272',
                            c: 'center'
                        }
                    }
                } %}

        </div>

        </div>

</section>
{% endif %}