/**
 * Signup Section
 * ---------
 * @component signup
 * @version 1
*/

.c-signup {
    background-color: $wild-sand;

    &__inner {
        @include wrapper($g-wrapper--inner, true);
        display: grid;
        grid-template-columns: 1fr rem(500px);

        @include mq($until: tablet) {
            grid-template-columns: 1fr;
        }
    }

    &__content {
        justify-self: center;
        padding: rem(24px);
        align-self: center;
    }

    &__title {
        @include font($font--cond-chronicle, $font--semibold);
        @include fontSize(34);
        line-height: 1;
        margin-bottom: rem(24px);

        @include mq($until: tablet) {
            text-align: center;
            @include fontSize(28);
        }

        @include mq($until: phablet) {
            @include fontSize(24);
        }
    }

    &__description  {
        margin-bottom: rem(24px);
        padding-bottom: rem(24px);
        border-bottom: 1px solid $mercury;

        p {
            @include font($font--text-chronicle, $font--regular);
        }
    }

    &__media {
        height: 100%;
        width: 100%;

        @include mq($until: tablet) {
            grid-row: 2;
        }

        &-img {
            display: block;
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: bottom;
        }
    }

    .c-form {
        display: grid;
        gap: rem(24px);
        grid-template-columns: 20% 1fr 1fr;

        &__item {

            &--100 {
                grid-column: span 3;
            }

            &--1 {
                flex-basis: 100%;
            }
        }

        &__input {
            background: none;
            border-bottom: 1px solid $mercury;
            width: 100%;
            height: rem(24px);
            text-transform: uppercase;
            @include fontSize(11);
            color: $shogun;

            &::placeholder {
                text-transform: uppercase;
                @include fontSize(11);
                color: $shogun;
            }
        }

        &__label {
            display: none;
        }

        &__submit {
            background-color: $white;
            width: 100%;
            display: block;
            text-transform: uppercase;
            @include fontSize(13);
            font-weight: $font--semibold;

            &:hover,
            &:focus {
                background-color: darken($white, 2%);
            }
        }

    }
}


.c-signup--foundation {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        z-index: 1;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #ffffff 100%);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        z-index: 1;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 100%);
    }

    .c-signup {

        &__inner {
            max-width: 100%;
            grid-template-columns: 1fr 1fr;

            @include mq($until: tablet) {
                grid-template-columns: 1fr;
            }
        }

        &__media {
            grid-column: 1 / span 2;
            grid-row: 1;

            @include mq($until: tablet) {
                grid-column: 1;
            }
        }

        &__content {
            z-index: 1;
            grid-row: 1;
            grid-column: 2;

            @include mq($until: tablet) {
                grid-column: 1;
            }

            .c-form__input {
                color: $white;

                &::placeholder {
                    color: $white;
                }
            }

            .c-form__submit {
                color: $app-black--text;
            }
        }


    }
}
