{#
* Membership : Big bottom
* ---------
* @package components/membership
#}
<section class="c-membership__big-bottom o-wrapper o-wrapper--inner">

    {% for member in posts|slice(start, length) %}

        {% include 'components/membership/membership__card.twig' with {
            img : {
                base : {
                    w   : '437',
                    h   : '543',
                },
                tablet : {
                    w   : '710',
                    h   : '1000',
                    c   : 'center',
                },
                mobile : {
                    w   : '480',
                    h   : '650',
                },
            }
        } %}

    {% endfor %}

</section>