{#
* Membership : Latest
* ---------
* @package components/membership
#}
<section class="c-membership__latest">
    {% for member in posts|slice(0, 1) %}

        {% include 'components/membership/membership__card.twig' with {
            img : {
                base : {
                    w   : '741',
                    h   : '773',
                },
                tablet : {
                    w   : '710',
                    h   : '1000',
                },
                mobile : {
                    w   : '471',
                    h   : '650',
                },
            }
        } %}

    {% endfor %}
</section>
