// - Page Assorted - //
// Account Pages

// Account Login
.woocommerce-account {
  background: none;

  .woocommerce-notices-wrapper {
    margin-bottom: 24px;
    display: block;
  }

  .woocommerce-notices-wrapper:empty {
    display: none;
  }

  input {
    @include rem(padding, 16px 10px);
    border: 1px solid $mist;
    transition: border 0.2s ease;
    @include fontSize(14);
  }

  label {
    display: inline-block;
    @include rem(margin-bottom, 6px);
  }

  h2 {
    text-align: center;
    @include font($font--cond-chronicle);
    @include fontSize(36);
    position: relative;
    z-index: 1;
    display: block;
    background-color: white;
    margin: auto;
    max-width: 420px;
    border: 1px solid #eee;
    border-bottom: none;

    @include mq($until: phablet) {
        width: 90%;
    }
  }

  .woo-login,
  .woo-register {
    // @include rem(border-radius, 10px);
    background-color: $mist;
    @include rem(padding, 48px);
  }

  input,
  select {
    @include rem(padding, 16px 10px);
    border: 1px solid $calcium;
    // @include rem(border-radius, 10px);
    transition: border 0.2s ease;

    &:hover,
    &:focus {
      border-color: $samurai;
    }
  }

  .woocommerce-form-login,
  .woocommerce-ResetPassword {
    width: 100%;
    margin: auto;
    display: block;
    background-color: $white;
    z-index: 1;
    position: relative;
    border: 1px solid #eee;
    border-top: none;

    @include mq($until: phablet) {
        width: 90%;
    }

    & .form-row {
      & label {
        @include fontSize(10);
        text-transform: uppercase;
        @include rem(padding-bottom, 6px);
        color: $black;
      }

      & .input-text {
        width: 100%;
      }

      & .button {
        @extend .o-btn;
        margin: auto;
        margin-left: 0;
        @include rem(margin-bottom, 16px);
        display: block;
      }

      & .woocommerce-form__label-for-checkbox {
        text-align: left;
        color: $black;
      }
    }

    select {
      @include rem(padding, 10px 30px 10px 20px);
      color: $samurai;
      background-color: $mist;

      @include mq($until: tablet) {
        background-color: transparent;
      }
    }

    & .lost_password {
      text-align: left;
      @include fontSize(12);
    }
  }
}

// Register
.woocommerce-account .prime-content .page-content {
  & .register {
    .register-msg {
      @include rem(padding-top, 24px);

      & p {
        color: $samurai;
      }
    }
  }
}

.woocommerce-account {
  .woocommerce-error,
  .woocommerce-message {
    text-align: center;
    color: $samurai;
    list-style: none;
    margin: 0;
    margin-bottom: 12px;
    display: block;
    flex: 1 0 100%;
    @include fontSize(14);
    // @include rem(padding-bottom, 16px);
  }
}

// Dashboard
.woocommerce-account.logged-in {
  .woocommerce {
    display: flex;
    justify-content: center;

    @include mq($until: netbook) {
      grid-template-columns: rem(260px) 1fr;
    }

    @include mq($until: tablet) {
      display: grid;
      grid-template-columns: 1fr;
    }

    // Navigation
    & .woocommerce-MyAccount-navigation {
      &:before {
        content: 'Your Account';
        position: relative;
        display: block;
        padding-bottom: 40px;
        padding-top: 8px;
        text-transform: uppercase;
        border-top: solid 1px black;
        @include font($font--cera, $font-app-cera-w--bold);
        @include fontSize(13);
        letter-spacing: 1px;
        @include mq($until: tablet) {
          padding-bottom: 22px;
        }
      } //shameless hack

      flex-shrink: 0;
      padding-left: 20px;
      width: 206px;
      @include mq($until: tablet) {
        padding-right: 20px;
        width: auto;
      }
      & ul {
        list-style: none;
        margin: 0;
        margin-bottom: 24px;

        & .woocommerce-MyAccount-navigation-link {
          margin-bottom: 0;
          border-bottom: 2px solid $mist;

          text-transform: uppercase;
          font-weight: $font--bold;
          letter-spacing: rem(1.2px);

          &:first-of-type {
            border-top: 2px solid $mist;
          }

          &:hover,
          &:focus,
          &.is-active {
            a {
              padding-left: rem(18px);
              &:before {
                opacity: 1;
              }
            }
          }

          &:active {
          }

          a {
            &:before {
              content: '›';
              font-size: 18px;
              position: absolute;
              left: 0;
              top: 0;
              opacity: 0;
              transition: opacity ease-in-out 0.2s;
            }
            position: relative;
            padding: rem(7.5px) rem(36px) rem(7.5px) 0;
            display: block;
            transition: padding-left ease-in-out 0.2s;
            @include mq($until: tablet) {
              padding: 1.5% 4% 1.5% 0;
            }
          }
        }
      }
    }
  }
}

.woocommerce-account.logged-in {
  // Dashboard Content
  & .woocommerce-MyAccount-content {
    padding: 0 3vw rem(24px);
    @include fontSize(18);
    @include rem(max-width, 1119px);
    width: 100%;

    @include mq($until: laptop) {
      @include fontSize(14);
    }

    p {
      max-width: rem(790px);
    }
  }
}

// Billing and Shipping Address
.woocommerce-account.logged-in .woocommerce {
  .woocommerce-Addresses,
  .woocommerce-EditAccountForm {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 24px;

    .clear {
      display: none;
    }

    h3 {
      font-weight: bold;
    }

    & .edit {
      text-transform: uppercase;
      font-weight: $font--bold;
      @include fontSize(14);
      display: inline-block;
      border: 1px solid $samurai;
      padding: 4px rem(6px);
      margin: 24px 0;

      &:hover,
      &:focus {
        color: $white;
        background-color: $black;
      }
    }
  }

  form {
    h3,
    legend {
      margin-bottom: 24px;
    }

    input {
      border: 1px solid $black;
      // width: 100%;

      &[type='text'],
      &[type='email'] {
        width: 100%;
      }
    }

    span {
      em {
        margin-top: 24px;
        display: block;
      }
    }

    button {
      &[type='submit'] {
        text-transform: uppercase;
        font-weight: $font--bold;
        @include fontSize(14);
        display: inline-block;
        border: 1px solid $samurai;
        padding: 4px rem(6px);
        margin: 24px 0;

        &:hover,
        &:focus {
          color: $white;
          background-color: $black;
        }
      }
    }

    .woocommerce-input-wrapper {
      margin: 12px 0;
      display: block;
    }

    & label {
      @include rem(margin-bottom, 10px);
      @include fontSize(10);
      @include rem(letter-spacing, 0.6px);
      color: $app-black--text-alt;
      display: block;
      text-transform: uppercase;
      font-weight: bold;

      & abbr {
        border: none;
        text-decoration: none;
        color: red;
      }
    }

    .woocommerce-address-fields__field-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
    }

    // Country Select - Overide Select2 Styles
    & .select2-container {
      width: 60% !important;

      &.select2-container--open .select2-selection {
        border-bottom: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      & .select2-selection--single {
        @include rem(padding, 10px);
        outline: none;
        background-color: $mist;
        height: auto;

        & .select2-selection__rendered {
          padding: 0;
          text-align: center;
          color: $black;
          @include rem(letter-spacing, 0.6px);
          @include fontSize(10);
          text-transform: uppercase;
        }

        & .select2-selection__arrow {
          @include rem(top, 12px);
          @include rem(right, 12px);
        }
      }
    }

    & .select2-container {
      & .select2-dropdown {
        background-color: $mist;
        border: 1px solid $samurai;
        @include rem(border-bottom-left-radius, 10px);
        @include rem(border-bottom-right-radius, 10px);
        border-top: none;

        & .select2-search__field {
          border: 2px solid $mist;
        }

        & .select2-results ul li {
          color: $black;
          @include fontSize(12);

          &.select2-results__option--highlighted {
            background-color: $samurai;
            color: $white;
          }
        }
      }
    }
  }
}

// Orders
.woocommerce-account.logged-in {
  .woocommerce-column__title {
    margin-bottom: 12px;
  }

  .woocommerce-order-details {
    margin: 24px 0;

    table {
      margin: 24px 0;
      tr {
        border: 1px solid $calcium;
      }

      td {
        padding: 12px;
      }
    }
  }

  .subscription_details,
  .shop_table {
    margin: 24px 0;
    tr {
      border: 1px solid $calcium;
    }

    td {
      padding: 12px;
    }
  }

  .woocommerce-columns--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &
    .woocommerce-orders-table
    .woocommerce-orders-table__cell-order-actions
    .button {
    margin: auto;
    display: inline-block;
    border: 1px solid $samurai;
    padding: 4px rem(6px);
    margin-right: 4px;
    text-transform: uppercase;
    font-weight: $font--bold;
    @include fontSize(14);

    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }

    max-width: 100%;
  }

  .woocommerce-MyAccount-paymentMethods {
    margin-bottom: 24px;

    + .button {
      text-transform: uppercase;
      font-weight: $font--bold;
      @include fontSize(14);
      display: inline-block;
      border: 1px solid $samurai;
      padding: 4px rem(6px);

      &:hover,
      &:focus {
        color: $white;
        background-color: $black;
      }
    }
  }
}

// Paypal
.woocommerce-account.logged-in {
  & .woocommerce-Payment {
    margin: 0;

    & .payment_methods {
      margin: 0;
      list-style: none;

      & .wc_payment_method {
        @include rem(margin-bottom, 24px);
      }

      & .input-radio {
        display: inline-block;
        @include rem(width, 13px);
        @include rem(margin-right, 12px);
      }

      & label {
        display: inline-block;
        width: calc(100% - 35px);
        margin: 0;
        @include fontSize(12);
        text-transform: uppercase;
        color: $black;
        @include rem(margin-bottom, 12px);
        @include rem(padding-bottom, 24px);
        border-bottom: 2px solid $samurai;

        & img:first-of-type {
          @include rem(margin-left, 12px);
        }

        & img {
          display: inline-block;
          vertical-align: middle;
          @include rem(padding, 0 4px);
        }
      }

      & p {
        @include rem(margin-bottom, 6px);
      }

      & p label {
        color: $black;
        text-transform: initial;
        display: inline-block;
        border-bottom: none;
      }
    }
  }

  .woocommerce-Button {
    text-transform: uppercase;
    font-weight: $font--bold;
    @include fontSize(14);
    display: inline-block;
    border: 1px solid $samurai;
    padding: 4px rem(6px);

    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }
  }
}

//Password form

.woocommerce-account {
  .lost_reset_password {
    p {
      color: $black;
    }
    input[type='text'] {
      color: $black;
      max-width: 283px;
      width: 100%;
    }
    .woocommerce-Button {
      text-transform: uppercase;
      font-weight: $font--bold;
      @include fontSize(14);
      display: inline-block;
      border: 1px solid $samurai;
      padding: 4px rem(6px);

      &:hover,
      &:focus {
        color: $white;
        background-color: $black;
      }
    }
  }
}

.woocommerce-Address {
  @include rem(margin, 12px 0);

  h3 {
    @include fontSize(14);
    text-transform: uppercase;
  }
}

.woocommerce-EditAccountForm {
  p {
    @include rem(margin-bottom, 12px);
  }
}

#customer_login {
  @include rem(margin-bottom, 24px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mq($until: tablet) {
    grid-template-columns: repeat(1, 1fr);
  }

  h2 {
    @include fontSize(14);
    text-transform: uppercase;
  }
}

.woocommerce-form-login,
.woocommerce-form-register {
  @include rem(margin-bottom, 24px);

  input {
    @include rem(margin-bottom, 24px);
  }
}

.woocommerce-form-register .woocommerce-privacy-policy-text {
  max-width: 40%;
}

.woocommerce-form-login__submit,
.woocommerce-form-register button {
  display: block;
  @include rem(padding, 12px 24px);
  // color: $manors--white;
  background-color: $black;
  color: $white !important;
  @include rem(margin, 12px auto);
  @include fontSize(14);
  text-transform: uppercase;
}

.c-clubhouse-logo {
  max-width: 340px;
  position: relative;
  margin: auto;
  z-index: 1;
  display: block;
  margin-bottom: 60px;
  margin-top: 24px;
  padding: 0 24px;
  &__text {
    @include font($font--text-chronicle, $font-app-chronicle-w--regular);
    letter-spacing: 1.43px;
    @include fontSize(15);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  @include mq($until: tablet) {
    margin-bottom: 40px;
    margin-top: 0;
  }
}

// Clubhouse Hack
.s-article-content--74170 {
    background-image: url(https://cdn.thegentlemansjournal.com/wp-content/uploads/2020/11/clubhouse-preview-scaled.jpg);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding-bottom: 24px;

    @include mq($until: phablet) {
        padding-bottom: 0;
    }

    .logged-in & {
        background: none;
        padding: 0;
    }
}
