.page-checkout {
    background-color: $app-grey--light;
}

.woocommerce-checkout:not(.woocommerce-order-received) {
    //PAGE TITLE
    .page-title {
        margin-bottom: 0;
    }
    //LOGIN TOGGLE
    .woocommerce-info {

        font-size: 14px;
        line-height: 16px;
        font-weight: 300;

        a {
            text-decoration: underline;
        }
    }

    .woocommerce {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;

        .form-row {
            position: relative;
        }

        @include mq($until: tablet) {
            margin-top: 25px;
        }
        //NOTIFICATIONS
        .woocommerce-NoticeGroup {
            width: 100%;
        }
        //FORMS
        .woocommerce-checkout {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            @include mq($until: tablet) {
                grid-template-columns: 1fr;
            }

            #wc-stripe-payment-request-wrapper,
            #wc-stripe-payment-request-button-separator {
                grid-column: span 2;

                @include mq($until: tablet) {
                    grid-column: span 1;
                }

            }

            // .woocommerce-col-2-custom {
            //     order: 2;
            //     padding: 0;
            // }

            #customer_details {
                // order: 1;
                @include mq($until: tablet) {
                    margin-bottom: 15px;
                }
            }
            //Main Tables
            .woocommerce-billing-details-custom,
            .woocommerce-checkout-review-order,
            .woocommerce-form-login {
                padding: 0;
                border: solid 1px $app-grey--light;
                background-color: $app-white;
            }

            h3 {
                padding: 24px;
                line-height: 1;
                border-bottom: solid 1px $app-grey--light;
                background-color: $app-white;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;

                &#ship-to-different-address {
                    padding-bottom: 0;
                }

                &.custom-single-tag {
                    border: solid 1px $app-grey--light;
                    border-bottom: none;
                    background-color: $app-white;
                }
            }

            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 19px;
                color: $app-grey--text;
                margin-bottom: 10px;
                padding: 0;
            }
        }
        //LOGIN FORM
        .woocommerce-form-login {
            //Woocommerce JS override
            width: 100%;
            margin-bottom: 25px;

            .sign-in-custom {
                padding: 24px;

                p:first-child {
                    margin-bottom: 24px;
                }
            }

            .lost_password {
                margin: 0;
            }
        }
        //COUPON
        .checkout_coupon {
            display: flex !important; //Woocommerce JS override
            padding: 24px;
            width: 100%;
            background-color: $app-white;

            p {
                margin-bottom: 0 !important; // default styles override
            }

            input[type="submit"],
            input[type="text"],
            button[type="submit"] {
                letter-spacing: 1.5px;
                font-size: 12px;
            }

            input[type="text"] {
                text-transform: uppercase;
            }

            input[type="submit"],
            button[type="submit"] {
                background-color: $app-grey--text;
                border: solid 1px $app-grey--text;
                // height: 100%;
            }
        }
        //BILLING DETAILS
        .woocommerce-billing-details-custom {
            .col-1,
            .col-2 {
                padding: 0;
            }

            .shipping_address,
            .woocommerce-billing-fields__field-wrapper {
                padding: 24px 24px 0;

                .form-row-last {
                    &.validate-email {
                        margin-bottom: 0 !important; //override default styles
                    }
                }
            }
        }
        //ADDITIONAL FIELDS
        .woocommerce-additional-fields {
            padding: 24px;

            h3 {
                display: none;
            }

            #order_comments_field {
                margin-bottom: 0 !important; //Style override
            }
        }
        //ORDER SECTION
        #order_review {
            margin-bottom: 25px;
            @include mq($until: tablet) {
                margin-bottom: 15px;
            }

            table {
                width: 100%;

                thead {
                    display: none;
                }

                tbody {
                    font-size: 16px;
                    line-height: 21px;
                    background-color: $app-grey--lighter;

                    tr {
                        border-bottom: solid 1px $app-grey--light;
                    }

                    strong {
                        font-weight: normal;
                    }

                    .product-name {
                        padding: 24px 7px 24px 24px;
                    }

                    .product-total {
                        text-align: right;
                        padding: 24px 24px 24px 7px;
                        font-size: 14px;
                        color: $app-grey--text;

                        .woocommerce-Price-amount {
                            font-size: 16px;
                            color: $app-black--text;
                        }
                    }
                }

                tfoot {
                    tr {
                        border-bottom: solid 1px $app-grey--light;
                    }

                    th {
                        padding: 15px 7px 15px 24px;

                        font-size: 14px;
                        font-weight: 300;
                        color: $app-grey--text;
                    }

                    td {
                        text-align: right;
                        padding: 15px 24px 15px 7px;

                        font-size: 14px;
                        line-height: 16px;
                        font-weight: normal;
                        color: $app-grey--text;

                        .woocommerce-Price-amount {
                            font-size: 16px;
                        }
                    }

                    .recurring-totals,
                    .cart-subtotal.recurring-total,
                    .shipping.recurring-total {
                        display: none;
                    }

                    .order-total {
                        th {
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            font-weight: 400;
                            color: $app-black--text;
                            padding: 24px 7px 24px 24px;
                        }

                        td {
                            padding: 24px 24px 24px 7px;
                            color: $app-grey--text;

                            span {
                                color: $app-black--text;
                                font-size: 16px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
        //PAYMENT SECTION
        .woocommerce-checkout-payment {
            padding: 24px;
            background-color: $app-white;
            border: solid 1px $app-grey--light;

            .place-order {
                margin-bottom: 0 !important; //Style override
            }

            label[for="payment_method_stripe"],
            p {
                margin-bottom: 20px;
            }

            .wc_payment_methods {
                padding: 0;
            }
            .payment_methods.methods {
                margin-bottom: 20px;
            }
            .wc-saved-payment-methods {
                padding: 0;
                margin-bottom: 20px;

                li {
                    display: flex;
                    margin-bottom: 5px;

                    input {
                        margin-right: 8px;
                    }

                    input,
                    label {
                        @include user-select;
                    }
                }
            }
        }
    }
}
