/**
 * Logo
 * --------
 * @component objects
 * @version 1.0.0
 */

.o-logo {
    position: relative;
    display: block;
    line-height: 0;
    z-index: 2;

    &__link {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__asset {
        transition: opacity 0.2s ease-out;
    }

    &--masthead {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        @include rem(max-width, 252px);
        @include rem(padding, 18px 0);
        width: 100%;
        height: 100%;

        @include mq($until: netbook) {
            @include rem(padding, 0 12px);
            margin: auto;

            @include mq($until: phablet) {
                z-index: 20;
            }
        }

        .o-logo {

            &__wordmark {
                fill: $black;

                .t-front & {
                    fill: $white;
                }

                .js-is-scrolling &{
                    fill: $black;
                }

                @include mq($until: phablet) {
                    transition: fill 0.4s ease-out;
                }
            }
        }

        .has-mob-menu-active & {
            .o-logo {

                &__wordmark {
                    @include mq($until: phablet) {
                        fill: $white;
                    }
                }
            }
        }
    }

    &--foundation {
        @include rem(max-width, 288px);
        margin-right: auto;

        .o-logo {

            &__wordmark {
                fill: $white;
            }
        }
    }

    &--wordmark {
        width: 100%;
        @include mq($from: netbook) {
            opacity: 1 !important;
        }
    }

    &--symbol {
        @include rem(min-width, 24px);
        @include rem(max-height, 32px);
        position: absolute;
        @include rem(top, 14px);
        // @include rem(left, 36px);
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.2s ease-out;

        @include mq($from: netbook) {
            opacity: 0 !important;
        }

        @include mq($until: netbook) {
            left: 0;
            right: 0;
            margin: auto;

            @include mq($until: mobile) {
                @include rem(max-height, 24px);
            }
        }

        .o-logo {

            &__symbol {
                fill: $shogun;
            }
        }

        .has-mob-menu-active & {
            .o-logo {

                @include mq($until: phablet) {

                    &__symbol {
                        fill: $white;
                    }
                }
            }
        }
    }
}
