/**
* GJ Icons
* ---------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-gj-icon {
    display: block;
    @include rem(min-width, 72px);

    &__g,
    &__ring {
        fill: $app-white;
    }

    &__background {
        fill: $app-black;
    }

    &--dark {
        .c-gj-icon {

            &__g,
            &__ring {
                fill: $app-black--text;
            }

            &__background {
                fill: none;
            }
        }
    }
}
