/**
 * Scroll
 * ---------
 * @component
 * @version 1
*/

.c-scroll {
    color: $white;
    user-select: none;
    padding: 0 rem(12px);
    display: flex;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    &__arrow {
        @include fontSize(16);
        display: block;
        line-height: 1;
        height: rem(10px);
        animation: pulse 1s ease-in-out infinite alternate;

        svg {
            display: block;
        }

        &--one {
            animation-delay: 0s
        }

        &--two {
            animation-delay: .5s
        }

        &--three {
            animation-delay: 1s
        }

        @at-root {
            @keyframes pulse {
                0% {
                    opacity: .3
                }

                to {
                    opacity: 1
                }
            }
        }
    }
}
