<section class="horizons-hero"
  style="background-image: url({{ Image(post.thumbnail)|resize(
    1920,
    0,
    'center'
  ) }})">
  <div class="horizons-hero__container">
    <div class="horizons-hero__content">
      <img src="{{ theme.link }}/assets/img/logo-horizons.svg"
        alt="Horizons"
        class="horizons-hero__logo" />
      <div class="horizons-hero__cross">
        <i class="far fa-times"></i>
      </div>
      <div class="horizons-hero__title">
        Gentleman's journal
      </div>
    </div>
    <div class="horizons-hero__bottom">
      <div class="horizons-hero__subtitle">
        {{ post.horizons_intro_text }}
      </div>
      <div class="horizons-hero__arrow">
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-chevron-down"></i>
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
  </div>
</section>
