<section class="horizons-content">
  <div class="horizons-content__container">
    <div class="horizons-content__block">
      <h3 class="horizons-content__title">
        What is horizons?
      </h3>
      <div class="horizons-content__text">
        {{ post.meta('horizons_what_is_horizons') }}
      </div>
    </div>
    <div class="horizons-content__block">
      <h3 class="horizons-content__title">
        Horizons events
      </h3>
      <div class="horizons-content__text">
        {{ post.meta('horizons_our_events') }}
      </div>
    </div>
  </div>
</section>
