{#
* Podcast : Overview : Host
* ---------
* @package components/podcast
#}
{% if podcastGlobal.host %}

<div class="c-podcast-host">

    {% include 'objects/image.twig' with {
        class: 'c-podcast-host__profile',
        img : {
            base : {
                obj : Image(podcastGlobal.host.more_info_profile_image),
                w   : '145',
                h   : '145',
                c   : 'center'
            }
        }
    } %}

    <p class="c-podcast-host__intro">Your Host</p>

    {% include 'objects/title.twig' with {
        el: 'h2',
        class: 'c-podcast-host',
        title: podcastGlobal.host.display_name,
        style: 'overview',
    } %}

    <p class="c-podcast-host__role">{{ podcastGlobal.host.more_info_role }}</p>

</div>
{% endif %}
