{#
* Podcast : Hero
* ---------
* @package components/podcast
#}
<section class="c-podcast-featured">

    {% include 'objects/title.twig' with {
        el: 'h2',
        class: 'c-podcast-featured',
        title: title,
    } %}

    <div class="c-podcast-featured__slider">
    {% for feat in selected %}

        {% set feat = Post(feat) %}

        {% include 'components/podcast/podcast__card.twig' with {
            card : feat,
            img : {
                base : {
                    obj : Image(feat.podcast_meta_media_profile),
                    w   : '600',
                    h   : '600',
                    c   : 'center'
                },
                mobile : {
                    obj : Image(feat.podcast_meta_media_profile),
                    w   : '400',
                    h   : '400',
                    c   : 'center',
                }
            },
            meta : true,
            style : 'featured'
        } %}

    {% endfor %}
    </div>

</section>
