{#
* Podcast : Archive Header
* ---------
* @package components/podcast
#}
<div class="c-podcast-archive-header">

    {% include 'objects/title.twig' with {
        el: 'h3',
        class: 'c-podcast-archive-header',
        title: 'Ordered by Latest',
    } %}

    <div class="c-podcast-archive-filter c-podcast-archive-header__filters">
        <label class="c-podcast-archive-filter__label" for="sort-podcasts">Sort by:</label>
        <select class="c-podcast-archive-filter__sort" name="sort-podcasts" id="js-sort-podcasts">
            <option value="latest">Latest</option>
            <option value="popular">Most listened</option>
        </select>
    </div>

</div>