{#
* Podcast : Overview : Description
* ---------
* @package components/podcast
#}
{% if podcastGlobal.overview_description %}
<div class="c-podcast-description">

    {% include 'objects/title.twig' with {
        el: 'h1',
        class: 'c-podcast-description',
        title: 'GJ ' ~ title,
    } %}

    <div class="c-podcast-description__content">{{ podcastGlobal.overview_description }}</div>

</div>
{% endif %}