{#
* Podcast : Overview
* ---------
* @package components/podcast
#}
<section class="c-podcast-overview">

    {% include 'components/podcast/podcast__overview__description.twig' %}
    {% include 'components/podcast/podcast__sponsor.twig' %}
    {% include 'components/podcast/podcast__overview__host.twig' %}

</section>