{#
* Podcast : Overview : Sponsor
* ---------
* @package components/podcast
#}
{% if podcastGlobal.sponsor.logo %}
<div class="c-podcast-sponsor">

    <p class="c-podcast-sponsor__intro">Sponsored by:</p>

    <a href="{{ podcastGlobal.sponsor.website }}" class="c-podcast-sponsor__link" target="_blank" rel="nofollow">

        <img src="{{ Image(podcastGlobal.sponsor.logo)|letterbox(246, 160, '#ffffff') }}" alt="{{ podcastGlobal.sponsor.name }}" class="c-podcast-sponsor__logo">

    </a>

</div>
{% endif %}
