{#
* Contact Form
* --------
* @package components/
* @version 1.0.0
#}

<form class="c-form" name="c-form" method="post" accept-charset="utf-8" enctype="multipart/form-data">

    <div class="c-form__item c-form__item--20">
        <select name="title" class="c-form__input c-form__input--title">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Miss">Miss</option>
        </select>
    </div>

    <div class="c-form__item c-form__item--40">
        <label class="c-form__label" for="c-form__input--name">First Name *</label>
        <input id="c-form__input--fname" class="c-form__input c-form__input--fname" type="text" name="fname" placeholder="First Name" required>
    </div>

    <div class="c-form__item c-form__item--40">
        <label class="c-form__label" for="c-form__input--name">Surname *</label>
        <input id="c-form__input--lname" class="c-form__input c-form__input--lname" type="text" name="lname" placeholder="Surname" required>
    </div>


    <div class="c-form__item c-form__item--100">
        <label class="c-form__label" for="c-form__input--email">E-mail address *</label>
        <input id="c-form__input--email" class="c-form__input c-form__input--email" type="email" name="email" placeholder="Email" autocorrect="off" autocapitalize="off" required>
    </div>

    <div class="c-form__terms c-form__item c-form__item--100">
        <button class="o-btn o-btn--ghost c-form__submit" type="submit" value="Send">Sign up</button>
    </div>

    <div class="c-form__terms c-form__item c-form__item--100">
        <label class="c-form__label--terms">
            <input class="c-form__input--terms" type="checkbox" name="terms" required>
            <span>Confirm you have read and agree to our <a href="{{ fn('get_permalink', 13) }}" target="_blank">Terms and Conditions</a></span>
        </label>
    </div>

    {{ fn('wp_nonce_field', 'sendgrid_subscribe', 'sendgrid-subscribe', true, false) }}

</form>
