{#
* Newsletter
* ---------
* @component newsletter
* @version 1
#}
{% if sectionNewsletter.image %}
<section class="c-signup c-signup--{{ style }}">

    <div class="c-signup__inner">

        {% if style == 'foundation' %}
            {% include 'objects/image.twig' with {
                class: 'c-signup__media',
                alt : 'A free newsletter worth opening',
                img : {
                    base : {
                        obj : Image(sectionNewsletter.image_alt),
                        w   : '1920',
                        h   : '900',
                        c   : 'center'
                    },
                    tablet : {
                        obj : Image(sectionNewsletter.image_alt),
                        w   : '768',
                        h   : '800',
                        c   : 'center',
                    }
                }
            } %}
        {% else %}
            {% include 'objects/image.twig' with {
                class: 'c-signup__media',
                alt : 'A free newsletter worth opening',
                img : {
                    base : {
                        obj : Image(sectionNewsletter.image),
                        w   : '796',
                        h   : '320',
                        c   : '60%'
                    },
                    tablet : {
                        obj : Image(sectionNewsletter.image),
                        w   : '768',
                        h   : '360',
                        c   : 'top',
                    }
                }
            } %}
        {% endif %}

        <div class="c-signup__content">
            {% include 'objects/title.twig' with {
                el: 'h2',
                class: 'c-signup',
                title: sectionNewsletter.title,
            } %}

            {% include "components/signup/form.twig" ignore missing %}
        </div>

    </div>

</section>
{% endif %}
