{#
* video : Featured
* ---------
* @package components/video
#}

<article class="c-video-card c-video-card--{{ style }}" id="video--{{ card.ID }}" data-play="{{ card.post_views_count[0] }}">

    <div class="c-video-card__inner">

        {% include 'objects/image.twig' with {
            class: 'c-video-card__feat'
        } %}

        {% include 'components/video/video__card__header.twig' %}

        <div class="c-video-card__play">
            <a href="{{ card.link }}" class="c-video-card__play__circle">
                <span class="c-video-card__play__icon fas fa-play"></span>
            </a>
        </div>

    </div>

</article>
