{#
* Video : Card Header
* ---------
* @package components/video
#}
{% set posted = card.post_date_gmt|time_ago|replace({'mins' : 'minutes'}) %}
<header class="c-video-card-header">

        <p class="c-video-card-header__meta">{{ card.category }}  &#8213;
        <span class="c-video-card-header__meta">{{ posted }}</span></p>
        <h1 class="c-video-card-header__title"><a href="{{ card.link }}">{{ card.title }}</a></h1>

</header>
