<div class="house-notes-categories">
  <div class="house-notes-categories__primary">
    {% for post in categoryPosts|slice(0, 2) %}
      {% include 'components/house-notes/house-notes-tease.twig' with {
        largeHeader: true,
        category: true,
        above: true
      } %}
    {% endfor %}
  </div>
  <div class="house-notes-categories__secondary">
    {% for post in categoryPosts|slice(2) %}
      {% include 'components/house-notes/house-notes-tease.twig' with {
        category: true
      } %}
    {% endfor %}
  </div>
</div>
