<section class="house-notes-newsletter">
  <div class="house-notes-newsletter__image">
    {# TODO Replace with correct image #}
    <img src="{{ theme.link }}/assets/img/gj-mapmarker.png" alt="" />
  </div>
  <div class="house-notes-newsletter__content">
    <div class="house-notes-newsletter__content-container">
      Sign up to the Gentleman's Journal newsletter
      <em>A weekly digest worth reading</em>
    </div>
  </div>
  <div class="house-notes-newsletter__signup">
    <button class="house-notes-newsletter__link js-open-newsletter-modal">
      Sign up <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>
