<div class="house-notes-header">
  <h1 class="house-notes-header__title">
    {{ post.title }}
  </h1>
  <div class="house-notes-header__subtitle">
    {{ post.subtitle_text }}
  </div>
</div>
