<div class="house-notes-archive">
  <h3 class="house-notes-archive__title">
    (Archive)
  </h3>
  <div class="house-notes-archive__content">
    {% for post in posts %}
      {% include 'components/house-notes/house-notes-tease.twig' %}
    {% endfor %}
  </div>
</div>
