/**
* Site Info
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-membership {

  &-card {

    &__title {
      color: $app-black--text;
      @include fontSize(21);
      @include font($font--chronicle, $font-app-chronicle-w--light);
      transition: color 0.2s ease;
      letter-spacing: -0.09px;
      text-transform: uppercase;
      line-height: 1;
      max-width: 80%;
      @include rem(margin-top, 10px);

      &-link {
        display: flex;
        flex-direction: column;
        line-height: 1.1;
      }
    }

    &__description {
      color: $app-grey--text ;
      @include fontSize(10);
      @include rem(margin-top, 10px);
      text-transform: uppercase;
    }

    &__btn {
      color: $app-black;
      border-color: $app-grey--light;
      background-color: $app-grey--light;
      width: max-content;
      @include fontSize(12);
      letter-spacing: 0.5px;
      @include rem(margin-top, 27px);

      &:hover {
        color: $app-white;
        border-color: $app-black;
        background-color: $app-black;
      }
    }

    &__img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover {
      .c-membership-card__img {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: filter .2s ease-out;
      }
    }
  }
}
