/**
* Site Info
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/


.c-membership {

  &__big-bottom {
    @include rem(padding, 40px 0 59px);
    border-bottom: 1px solid $mercury;
    border-top: 1px solid $mercury;
    @include rem(margin-bottom, 58px);

    @include mq($until: tablet) {
      @include rem(padding, 3rem 24px);
    }

    @include mq($until: phablet) {
      @include rem(padding, 3rem 0);
    }

    .c-membership-card {

      &__inner {
        display: grid;
        grid-template-columns: fit-content(62%) 1fr;
        @include rem(grid-column-gap, 60px);
        @include rem(grid-row-gap, 24px);
        grid-auto-flow: dense;

        @include mq($until: netbook) {
          grid-template-columns: 1fr 1fr;
          border: none;
          padding: 0;

          @include mq($until: tablet) {
            display: block;
          }
        }
      }

      &__info {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mq($until: tablet) {
          @include rem(padding-top, 25px);
        }
        @include mq($until: phablet) {
          @include rem(padding, 3rem 24px 0);
        }
      }

      &__img {
        order: 2;
      }

      &__title {
        @include fontSize(100);
        @include rem(letter-spacing, -0.44px);
        @include rem(margin-bottom, 17px);

        @include mq($until: netbook) {
          @include fontSize(59);
        }

        &-quote {
          @include font($font--chronicle);
          @include fontSize(35);
          @include rem(letter-spacing, -0.81px);
          @include rem(margin-bottom, 40px);

          @include mq($until: tablet) {
            @include fontSize(29);
          }
        }
      }

      &__description {
        &-mobile {
          display: none;
          @include mq($until: tablet) {
            display: block;
            @include rem(margin-bottom, 37px);
          }
        }

        &-desktop {
          @include mq($until: tablet) {
            display: none;
          }
        }

        &-top {
          @include mq($until: phablet) {
            @include rem(padding, 3rem 24px 0);
          }
        }
      }
    }
  }
}