/**
* Site Info
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/


.c-membership {

  &__feed {
    @include rem(margin-bottom, 64px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include rem(grid-column-gap, 30px);
    @include rem(grid-row-gap, 64px);
    align-content: flex-start;

    @include mq($until: netbook) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include mq($until: tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include rem(padding, 3rem 24px 0);
      }
    }
  }
}