{% set primaryProduct = club.buy.product|reverse(true)[0] %}
{% set secondaryProduct = Product(442908) %}
{% set primaryPrice = primaryProduct._subscription_price %}
{% set secondaryPrice = secondaryProduct._subscription_price %}
{% set primarySubscriptionInterval =
  primaryProduct._subscription_period_interval
%}
{% set secondarySubscriptionInterval =
  secondaryProduct._subscription_period_interval
%}
{% set savings =
  (primaryPrice * secondarySubscriptionInterval - secondaryPrice)|round(
    2,
    'ceil'
  )
%}

<div class="subscription-buy" id="section-buy">
  <div class="subscription-buy__content">
    <div class="subscription-buy__container">
      <h3 class="subscription-buy__heading">Select your plan</h3>
      <div class="subscription-buy__contact">
        25% off using the code GJANNIVERSARY10 at checkout. You pay £45<br /><br />
        For more information please email <a href="mailto:subscriptions@thegentlemansjournal.com">subscriptions@thegentlemansjournal.com</a>
      </div>

      <div class="subscription-buy__plans">

        {% include 'components/subscription/subscription-plan.twig' with {
          title: 'Clubhouse - 1-year subscription',
          content: 'Clubhouse - ' ~ primarySubscriptionInterval
            ~ ' year subscription <span>Only available at this price for founding members for 1 week.</span>',
          price: '<del>' ~ primaryPrice ~ '</del> £9.95',
          action : site.url ~ '/checkout?add-to-cart=' ~ primaryProduct.ID
        } %}

        {% include 'components/subscription/subscription-plan.twig' with {
          title: secondaryProduct.title,
          content: 'Clubhouse + Bookazines - ' ~ primarySubscriptionInterval
            ~ ' year subscription <span>Renew at £59.95 every year.</span>',
          price: secondaryPrice,
          action: site.url ~ '/checkout?add-to-cart=' ~ secondaryProduct.ID
        } %}
      </div>
    </div>
  </div>
</div>
