{#
* Subscription Item
* ---------
* @component Subscription
* @version 1
#}


{% set gift = fn('get_free_product_for_clubhouse') ? Post(fn('get_free_product_for_clubhouse')) : false %}

{% if gift %}
<div class="subscription-gift" id="section-gift">
  <div class="subscription-gift__content">
    <article class="c-subscription-gift">

        {% include 'objects/title.twig' with {
            el:    'h1',
            title: 'Complimentary Gift',
            class: 'c-subscription-gift'
        } %}

        <p>While stocks last, included in every new clubhouse membership you will recieve a:</p>

        <div class="c-subscription-gift__product">
            <figure class="c-subscription-gift__preview">

                {% include 'objects/image.twig' with {
                    class: 'c-subscription-gift__feat',
                    img : {
                        base : {
                            obj : gift.thumbnail,
                            w   : '280',
                            h   : '0',
                            c   : 'center'
                        },
                    }
                } %}

            </figure>

            <div class="c-subscription-gift__info">
                {% include 'objects/title.twig' with {
                    el:    'h2',
                    title: gift.title,
                    class: 'c-subscription-gift__product'
                } %}
                <div>{{ gift.content }}</div>
                {# <p class="c-subscription-gift__stock">Stock Remaining: {{ gift._stock|number_format(0) }}</p> #}
                {# Fixed At 4 for Artificial Scarcity #}
                <p class="c-subscription-gift__stock">Stock Remaining: 4</p>

            </div>

        </div>

    </article>
    </div>
</div>
{% endif %}
