/**
* Archive Header
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-archive-header {
    color: $app-white;
    width: 100%;
    @include rem(padding, 24px 12px 0);
    background-color: $white;

    &--podcasts {
        margin-bottom: 0;
    }

    &__inner {
        border-bottom: 1px solid $samurai;
        @include rem(padding-bottom, 12px);
    }

    &__container {
        display: flex;
        align-items: flex-end;

        @include mq($until: netbook) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
    }

    &__header {
        @include rem(margin-bottom, 48px);
    }

    &__featured {

        &-img {
            display: block;
            @include rem(margin-bottom, 24px);
        }
    }

    &__title {
        color: $despair;
        @include font($font--cond-chronicle, $font-app-chronicle-w--semibold);
        @include fontSize(35);
        @include rem(margin, 0 0 6px);
    }

    &__subtitle {
        color: $app-grey--text-black;
        @include fontSize(12);
        @include font($font--cera, $font-app-cera-w--regular);
        margin-bottom: 0;


        @include mq($until: tablet) {
            @include fontSize(14);
            max-width: 80%;
        }
    }

    &__intro {
        @include fontSize(15);
        color: $app-grey--text-black;
        @include rem(padding-right, 12px);
        margin-right: auto;

        @include mq($until: netbook) {
            margin: auto;
            @include rem(margin-bottom, 24px);
            padding-right: 0;
            @include rem(padding, 0 12px);

            @include mq($until: tablet) {
                text-align: left;
            }
        }
    }

    &__sub-categories {

        @include mq($until: tablet) {
            display: flex;
            width: 100%;
            overflow-x: scroll;
            @include rem(padding-left, 24px);
            @include rem(padding-right, 24px);
            @include rem(padding-bottom, 12px);
        }
    }

    &__sub-categories-item {
        color: $fog;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--regular);
        @include rem(padding, 0 12px);
        transition: color 0.15s ease;

        @include mq($until: netbook) {
            @include fontSize(12);
        }

        @include mq($until: tablet) {
            white-space: nowrap;
        }

        &:hover,
        &:focus {
            color: $shogun;
        }

        &:active {
            color: darken($shogun, 40%);
        }
    }
}


.c-archive-header--podcasts {
    background-color: $app-black;

    .c-archive-header {

        &__title {
            color: $white;
        }

        &__inner {
            border: none;
            @include rem(padding-bottom, 48px);
        }

        &__intro p {
            @include rem(margin-bottom, 12px);
        }
    }
}
