/**
* Blank Template
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-dont-miss {
    width: 100%;
    @include rem(max-height, 92px);
    border-bottom: 1px solid $samurai;
    @include rem(padding, 16px 0);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    &__feed {
        width: 100%;
    }

    &__slider {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-out;

        &.slick-initialized {
            opacity: 1;
            visibility: visible;
        }
    }

    &__controls {
        height: 100%;
        @include rem(width, 220px);
        @include rem(padding-right, 24px);
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, transparent, transparentize($app-white, 0.2), $app-white);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        pointer-events: none;

        @include mq($until: tablet) {
            background: $app-white;
            width: auto;
            @include rem(padding-left, 6px);
        }
    }

    &__next,
    &__previous {
        opacity: 0.4;
        pointer-events: auto;
        transition: opacity 0.2s ease-out;
    }

    &:hover {

        .c-dont-miss {
            &__next,
            &__previous {
                opacity: 1;
            }
        }
    }

    &__next {
        @include rem(margin-bottom, 4px);
    }
}
