/**
* Post Group and Post Feed
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.o-post-group {
    width: 100%;
    @include rem(padding, 60px 0);


    @include mq($until: laptop) {
        @include rem(padding, 40px 32px);
    }

    @include mq($until: phablet) {
        @include rem(padding, 40px 0);
    }

    &--highlight {
        background-color: $app-grey--light;
    }

    &--podcasts {
        @include rem(padding, 60px 0);

        @include mq($until: laptop) {
            @include rem(padding, 60px 24px);
        }

        @include mq($until: tablet) {
            @include rem(padding, 40px 24px);

            .o-grid--flex {
                flex-direction: column;
            }
        }
    }

    &--podcasts-featured {
        .o-post-group__title {
            color: $app-white;
        }
    }

    &__header {
        text-align: left;
        @include rem(margin-bottom, 36px);
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid $samurai;
        @include rem(padding-bottom, 12px);

        @include mq($until: phablet) {
            @include rem(padding, 0 12px 12px);
            @include rem(margin-bottom, 24px);
        }
    }

    &__title {
        color: $app-black--text;
        @include font($font--cera, $font-app-cera-w--regular);
        @include fontSize(28);
        @include font-caps--cera;

        @include mq($until: tablet) {
            line-height: 1;
        }
    }

    &__subtitle {
        color: $app-grey--text;
        @include fontSize(12);
        @include font($font--cera, $font-app-cera-w--regular);

        @include mq($until: tablet) {
            display: none;
        }
    }

    &__btn {
        @include fontSize(12);
        font-weight: $font-app-cera-w--bold;
        text-transform: uppercase;

        svg {
            @include rem(margin-left, 6px);
            @include fontSize(8);
            vertical-align: initial;
            transition: transform 0.2s ease-out;
        }

        &:hover,
        &:focus {
            color: $serenity;

            svg {
                transform: translateX(2px);
            }
        }
    }

    &--border {
        border-bottom: 1px solid $app-grey--light-border;
    }
}

.o-post-group--dark {
    background-color: $app-black;

    .o-post-group {

        &__title,
        &__btn {
            color: $app-white;
        }

        &__subtitle {
            color: $app-grey--text-black;
        }
    }
}


.o-post-group--issue-home {
    padding: 0;

    .o-post-group {

        &__header {
            @include rem(max-width, $g-wrapper--inner);
            margin: auto;
            border: none;
            @include rem(padding, 84px 0);
            align-items: flex-start;

            @include mq($until: laptop) {
                @include rem(padding, 84px 24px);

                @include mq($until: tablet) {
                    flex-direction: column;
                }
            }
        }

        &__title {
            @include mq($until: tablet) {
                @include rem(margin-bottom, 24px);
            }
        }

        &__info,
        &__subtext {
            width: 50%;

            @include mq($until: tablet) {
                width: 100%;
            }
        }

        &__subtitle {
            @include rem(margin-bottom, 12px);
        }

        &__btn {
            display: inline-block;

            @include mq($until: tablet) {
                @include rem(margin-bottom, 24px);
            }
        }

        &__subtext p {
            @include fontSize(16);
            @include font($font--text-chronicle, $font-app-chronicle-w--regular);
        }
    }
}


.article-template-single-sponsored {

    .o-post-group {
        padding-top: 0;

        &__header {
            @include rem(max-width, $g-wrapper--inner);
            margin: auto;
            border: none;
            border-top: 1px solid $app-grey--light;
            @include rem(padding, 48px 0);
            justify-content: center;
        }

        &__title {
            @include fontSize(14);
            font-weight: $font--semibold;
        }
    }
}
