/**
* Issue Gallery
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-issue-gallery {
    @include rem(padding, 90px 24px);
    @include rem(margin-bottom, 60px);
    background-color: $concrete;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include mq($until: netbook) {
        flex-direction: column;
        @include rem(padding, 36px 24px);
    }

    &__img-cover {
        @include rem(width, 344px);
        @include rem(margin-right, 24px);
        @include rem(margin-left, 4px);
        @include rem(margin-bottom, 6px);

        @include mq($until: netbook) {
            @include rem(margin, 0 0 36px 0 );
        }
    }

    &__slider-container {
        width: 100%;
        @include rem(max-width, 697px);
    }

    &__slider {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: opacity .3s ease-out;

        &.slick-initialized {
            opacity: 1;
            visibility: visible;
            height: auto;
        }
    }

    .slick-slide {
        @include rem(margin, 0 5px 9.5px);
        height: auto;
    }

    &__previous,
    &__next {
        position: absolute;
    }

    &__previous {
        @include rem(left, -25px);
    }

    &__next {
        @include rem(right, -25px);
    }
}
