/**
* Loader Animation
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.c-loader {
    margin: auto;
    @include rem(margin-bottom, 60px);
    border-radius: 50%;
    @include rem(width, 72px);
    @include rem(height, 72px);
    border: .25rem solid transparentize($app-black, 0.8);
    border-top-color: $app-black;
    animation: loader-spin 1s infinite linear;
}

.c-loader--light {

    &.c-loader {
        border: .25rem solid transparentize($white, 0.8);
        border-top-color: $white;
        animation: loader-spin 1s infinite linear;
    }
}
