/*
* Masthead
* --------
* @package GJ
* @since GJ 2.0
* @version 1.0
*/

// Masthead for website
.o-masthead {
    width: 100%;
    position: relative;
    background-color: $app-white;

    &--prime {
        @include rem(height, 60px);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        margin: 0 auto 0;
        border-bottom: 1px solid $app-grey--light-border;

        // Mobile Shadow when Mobile Menu Opens
        @include mq($from: phablet, $until: netbook) {
            &::before {
                content: '';
                width: 100vw;
                max-width: 100%;
                height: 100vh;
                position: fixed;
                left: 0;
                top: 0;
                opacity: 1;
                transition: opacity 0.3s ease-out;
                opacity: 0;
                transform: translateX(-100%);
                background: transparentize($app-black, 0.3);
            }
        }
    }
}

.has-mob-menu-active {
    .o-masthead--prime::before {
        opacity: 1;
        transform: translateX(0);
    }
}

body.admin-bar .o-masthead {

    &--prime {
        top: 32px;

        @media screen and (max-width: 782px) {
            top: 46px;
        }

        &::before {
            @include mq($from: phablet, $until: netbook) {
                top: 32px;
                height: calc(100vh - 32px);

                @media screen and (max-width: 782px) {
                    top: 46px;
                    height: calc(100vh - 46px);
                }
            }
        }
    }
}
