/**
* Search Modal
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-modal-newsletter {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    @include mq($until: phablet) {
        // height: auto;
        overflow: auto;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        border-radius: 2px;
        transform: scale(0);
        background-color: $white;
    }

    &__img-container {
        height: 100%;

        picture {
            height: 100%;
        }
    }

    &__img {
        display: block;
        object-fit: cover;
        height: inherit;
        width: 100%;
    }

    &__form-group {
    }

    &__form-header {
        text-align: center;
        @include rem(margin-bottom, 24px);

        @include mq($until: phablet) {
            @include rem(margin-bottom, 12px);
        }
    }

    &__form-title {
        color: $shogun;
        line-height: 1.1;
        @include font($font--text-chronicle, $font-app-chronicle-w--regular);
        @include fontSize(36);
        @include rem(margin-bottom, 24px);

        @include mq($until: netbook) {
            @include fontSize(36);
        }

        @include mq($until: phablet) {
            @include fontSize(24);
            @include rem(margin-bottom, 12px);
        }
    }

    &__form-description {
        color: $shogun;
        @include fontSize(16);
        @include font($font--cera, $font-app-cera-w--semibold);

        @include mq($until: netbook) {
            @include fontSize(14);
        }
    }

    &__form {
        width: 100%;
        @include mq($until: phablet) {
            @include rem(margin-bottom, 36px);
        }
    }

    &__form-entry {
        margin: auto;
        @include mq($until: netbook) {
            width: 90%;
        }
    }

    &__input-group {
        display: flex;
        justify-content: space-between;
        @include rem(margin-bottom, 18px);

        @include mq($until: phablet) {
            flex-direction: column;
            margin-bottom: 0;
        }
    }

    &__entry {
        @include fontSize(14);
        width: calc(75% - 12px);
        @include rem(margin, 0 6px);
        color: $shogun;
        border: 1px solid $shogun;
        @include rem(padding, 12px);
        border-radius: 4px;
        background-color: transparent;
        @include font($font--cera, $font-app-cera-w--semibold);

        &::placeholder {
            color: $shogun;
        }

        @include mq($until: phablet) {
            width: 100%;
            @include rem(margin-bottom, 12px);
            @include fontSize(12);
        }

        &--title {
            width: 25%;
            @include rem(min-width, 55px);
        }

        &--email {
            width: 60%;
            text-align: center;
            margin: auto;
            margin-top: rem(46px);
            @include rem(margin-bottom, 48px);
            border: none;
            border-bottom: 1px solid $white;
            border-radius: 0;

            @include mq($until: netbook) {
                width: 100%;
                @include rem(margin-bottom, 24px);
            }
        }
    }

    &__validation-msg {
        color: $shogun;
        @include fontSize(12);
        @include rem(margin-bottom, 24px);
    }

    &__action {
        margin: auto;
        color: $shogun;
    }

    &__close {
        @include user-select;
        @include fontSize(24);
        color: $fog;
        position: absolute;
        @include rem(padding, 12px);
        top: 0;
        right: 0;
        transition: color 0.3s ease-out;

        &:hover {
            color: $fog;
        }
    }
}

// Modal is Open
.is-open {
    &.c-modal-newsletter::before {
        animation: bgfadeIn 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        // animation-delay: 0.3s;
    }

    .c-modal-newsletter {
        &__inner {
            // animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
            transform: scale(1);
        }
    }
}

// Modal is Closed
.is-closed {
    &.c-modal-newsletter::before {
        animation: bgfadeOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }

    .c-modal-newsletter {
        &__inner {
            animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
    }
}

// Animations
@keyframes bgfadeIn {
    0% {
        background: transparent;
    }
    100% {
        background: rgb(0,0,0);
        background: linear-gradient(to top, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.4) 75%, rgba(255,255,255,0) 100%);
    }
}

@keyframes bgfadeOut {
    0% {
        background: transparentize($app-black, 0.3);
        background: linear-gradient(to top, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.4) 75%, rgba(255,255,255,0) 100%);
    }
    100% {
        background: transparent;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.js-has-news-modal-open {
    overflow: hidden;
}
