/**
* Nav Subscribe
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-nav-subscribe {
    position: relative;
    background-color: $app-black;

    @include mq($until: tablet) {
        background-color: $samurai;
    }

    &__button {
        @include fontSize(11);
        @include lineHeight(60);
        @include rem(padding, 0 40px);
        @include font($font--cera, $font-app-cera-w--bold);
        @include font-caps--cera;
        color: $app-black--text;
        background-color: $samurai;
        position: relative;

        @include mq($until: tablet) {
            background-color: $samurai;
            color: $app-black--text;
        }

        &:hover {
            background-color: $app-black;
            color: $app-white;
        }

        &:active {
            background-color: darken($app-grey--light, 15%);
        }

        @include mq($until: phablet) {
            @include fontSize(9);
        }
    }
}

.has-mob-menu-active .c-nav-subscribe__button {
    @include mq($until: phablet) {
        background-color: $app-black;
        border-color: $app-black;
        color: $app-white;

        &:hover {
            color: $app-black;
            border-color: $app-grey--light;
            background-color: $app-grey--light;
        }

        &:active {
            border-color: darken($app-grey--light, 15%);
            background-color: darken($app-grey--light, 15%);
        }
    }
}


.c-nav-subscribe-issue {

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        @include rem(top, 60px);
        text-align: center;
        @include rem(padding, 17px);
        background-color: $app-white;
        border: 1px solid $app-grey--light-border;
        border-bottom-left-radius: 2px;
        border-top: none;

        @include mq($until: tablet) {
            display: none;
        }
    }

    &__img {
        @include rem(margin-bottom, 6px);
    }

    &__title {
        color: $app-black;
        line-height: 1.2;
        @include font($font--cond-chronicle, $font-app-chronicle-w--regular);
        @include fontSize(16);
    }

    &__lead {
        display: block;
        @include font($font--cera, $font-app-cera-w--bold);
        @include fontSize(12);
        @include font-caps--cera;
    }
}

// Hide and Reveal the menu Subscribe
.c-nav-subscribe-issue {
    transition: transform 0.4s ease-out, opacity 0.35s ease;
    opacity: 0;
    transform: translateY(-100%);

    .front-page & {
        opacity: 1;
        transform: translateY(0);
    }

    .js-is-scrolling & {
        opacity: 0;
        transform: translateY(-100%);
    }
}
// Show on Hover
.c-nav-subscribe:hover {

    .c-nav-subscribe-issue {
        opacity: 1;
        transform: translateY(0);
    }
}
