/**
* Nav Footer Info
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

// Nav Footer
.c-nav-footer-info {
    display: flex;

    @include mq($until: netbook) {
        order: -1;
        @include rem(width, 144px);
    }

    &__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include mq($until: netbook) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        display: block;
        @include rem(margin-right, 12px);

        @include mq($until: netbook) {
            @include rem(margin-bottom, 12px);

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        display: block;
        font-weight: $font-app-cera-w--bold;
        transition: color 0.15s ease;

        &:hover,
        &:focus {
            color: darken($app-white, 30%);
        }

        &:active {
            color: darken($app-white, 40%);
        }
    }
}
