/**
* Nav Footer
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

// Nav Footer
.c-nav-footer {

    &__list {
        flex-wrap: wrap;
    }

    &__item {
        display: block;
        @include rem(margin-bottom, 12px);
    }

    &__link {
        display: block;
        @include font-caps--cera;
        @include fontSize(12);
        font-weight: $font-app-cera-w--bold;
        transition: color 0.15s ease;

        &:hover,
        &:focus {
            color: darken($app-white, 30%);
        }

        &:active {
            color: darken($app-white, 40%);
        }
    }
}
