/**
* Hamburger
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
.c-hamburger {
    display: none;
    height: 100%;
    @include rem(padding, 0 104px 0 24px);
    cursor: pointer;
    transition: transform 0.2s ease-out;

    @include mq($until: netbook) {
        display: flex;
    }

    @include mq($until: phablet) {
        position: relative;
    }

    @include mq($until: phablet) {
        @include rem(padding, 0 6px 0 24px);
    }

    &__path {
        fill: $black;

        .t-front & {
            fill: $white;
        }

        .js-is-scrolling & {
            fill: $black;
        }
    }

    &__icon-group {
        @include rem(min-width, 23px);
    }
}

// Active Actions and Hover Events
.c-hamburger {

    & path {
        transition: transform ease-out 0.2s, opacity ease 0.15s, fill ease 0.15s;
    }

    .c-hamburger__path--top {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    .c-hamburger__path--middle {
        opacity: 1;
    }
    .c-hamburger__path--bottom {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    // Expand on Hover
    &:hover {

        & .c-hamburger__path--top {
            transform: matrix(0.5, 0, 0, 1, 0, 0);
        }

        & .c-hamburger__path--middle {
            transform: matrix(0.7, 0, 0, 1, 0, 0);
        }

        & .c-hamburger__path--bottom {
            transform: matrix(0.9, 0, 0, 1, 0, 0);
        }
    }

    &.js-is-active {
        transition: transform ease-out 0.2s;

        & .c-hamburger__path {
            fill: $app-white;
        }

        .c-hamburger__path--top {
            transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 10, -2);
        }
        .c-hamburger__path--middle {
            opacity: 0;
        }
        .c-hamburger__path--bottom {
            transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, -12, 13);
        }
    }
}
