/**
* Newsletter
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-newsletter {
    @include rem(padding, 48px);
    background: $app-black url(assets/img/bg-wave.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq($until: tablet) {
        padding: 5% 2%;
    }

    &__header {
        text-align: center;
        @include rem(margin-bottom, 48px);
    }

    &__title {
        color: $app-white;
        @include font($font--cera, $font-app-cera-w--bold);
        @include fontSize(19);
        @include font-caps--cera;
        @include rem(margin, 0 24px 4px);
    }

    &__subtitle {
        color: $app-grey--text-black;
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--semibold);
        max-width: 50%;
        @extend %u-center--block;

        @include mq($until: phablet) {
            max-width: 80%;
        }
    }
}

.c-newsletter {

    &__form {
        @include rem(margin-bottom, 36px);
    }

    &__fieldset {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @include mq($until: tablet) {
            flex-direction: column;
        }
    }

    &__message {
        text-align: center;
        display: block;
        @include rem(margin-bottom, 24px);
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--bold);
    }

    &__input-group {
        display: flex;

        @include mq($until: tablet) {
            @include rem(margin-bottom, 24px);
        }
    }

    &__input {
        position: relative;
        @include rem(width, 500px);
        @include rem(height, 67px);
        max-width: 100%;
        @include rem(padding, 24px);
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--bold);
        color: $app-black--text;
        background-color: $app-white;
        border: 1px solid $app-grey--light-border;
        border-left: none;
        border-right: none;

        @include mq($until: tablet) {
            width: 100%;
            border-right: 1px solid $app-grey--light-border;
            // border-bottom-right-radius: 50px;
            // border-top-right-radius: 50px;
        }
    }

    &__status {
        // border-bottom-left-radius: 50px;
        // border-top-left-radius: 50px;
        @include rem(padding, 24px 0 24px 24px);
        background-color: $app-white;
        border: 1px solid $app-grey--light-border;
        border-right: none;
        @include rem(height, 67px);
    }

    &__status-icon {
        @include fontSize(18);
        color: $app-black--text;
    }

    &__btn {
        @include user-select;
        @include rem(width, 100px);
        @include rem(height, 67px);
        max-width: 100%;
        @include rem(padding, 24px);
        // border-bottom-right-radius: 50px;
        // border-top-right-radius: 50px;
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--bold);
        color: $app-white;
        background-color: $app-black;
        border: 1px solid $app-black--alt;
        border-left: none;
        transition: 0.3s ease;

        @include mq($until: tablet) {
            @include rem(padding, 24px);
            @include rem(width, 150px);
            border: 1px solid $app-black--alt;
            // border-bottom-left-radius: 50px;
            // border-top-left-radius: 50px;
        }

        &:hover {
            border-color: lighten($app-black, 10%);
            background-color: lighten($app-black, 10%);
        }
    }
}

.c-newsletter {

    & .o-social-links {
        text-align: center;
        @include fontSize(28);
    }
}

.c-newsletter--image {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.2);
    }

    .c-newsletter {

        &__group {
            z-index: 1;
        }

        &__title {
            @include fontSize(24);
        }

        &__subtitle {
            color: $white;
            @include fontSize(18);
        }
    }
}
