/**
* Page Header
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-page {
    width: 100%;

    &__header {
        text-align: left;
        @include rem(margin-bottom, 80px);
    }

    &__title {
        color: $app-black--text;
        @include font($font--cera, $font-app-cera-w--bold);
        @include fontSize(60);
        line-height: 1.1;
        @include rem(margin-bottom, 6px);
    }

    &__subtitle {
        color: $app-black--text;
        @include fontSize(18);
        line-height: 1.17;
        @include font($font--cera, $font-app-cera-w--regular);
        max-width: 50%;
    }
}
