/**
* Post Thumb Featured
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-post-thumb-podcast {
    display: block;
    position: relative;
    @include rem(padding, 0 8px);
    border-bottom: 1px solid $app-black--text;
    @include rem(margin-bottom, 36px);
    @include rem(padding-bottom, 36px);

    &__link {
        display: flex;

        @include mq($until: tablet) {
            flex-direction: column;
        }
    }

    &__img {
        display: block;
        width: 100%;
   }

    &__img-container {
        @include rem(min-width, 192px);
        @include rem(margin-right, 36px);
        background-color: $app-black;
        display: flex;
        justify-content: center;
        border: 1px solid $app-black--text;
        position: relative;
        @include rem(padding, 12px);

        @include mq($until: tablet) {
            width: 100%;
            margin-right: 0;
            @include rem(margin-bottom, 12px);
        }

        .c-gj-icon {
            @include rem(min-width, 108px);
            @include rem(max-width, 108px);
        }
    }

    &__play {
        @include rem(width, 48px);
        @include rem(height, 48px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid $app-white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: background 0.2s ease;

        &:hover {
            background-color: transparentize($app-white, 0.9);
        }
    }

    &__play-icon {
        color: $app-white;
        @include fontSize(18);
        @include rem(margin-left, 4px);
    }

    &:hover {
        .c-post-thumb-small__img-container {
            &::before {
                background-color: rgba(0,0,0,.1);
            }
        }
    }

    &__content {
        text-align: left;
        color: $app-white;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__title {
        @include fontSize(32);
        line-height: 1.16;
        @include font($font--chronicle, $font-app-chronicle-w--regular);
        @include rem(margin-bottom, 12px);

        @include mq($until: tablet) {
            @include fontSize(26);
        }
    }

    &__category {
        @include fontSize(11);
        text-transform: capitalize;
        @include font($font--cera, $font-app-cera-w--semibold);
        @include rem(margin-bottom, 24px);
    }

    &__excerpt {
        @include fontSize(13);
        color: $app-grey--text;
    }

    &__topic {
        @include fontSize(18);
        @include font($font--cera, $font-app-cera-w--regular);
        @include rem(margin-bottom, 12px);
    }

    &__posted {
        color: $app-grey--text;
        font-weight: $font-app-cera-w--regular;
    }
}


.o-post-thumb--podcast-featured {
    .c-post-thumb-podcast {
        &__img-container {
            width: 100%;
            @include rem(padding, 36px 12px);
            @include rem(margin-bottom, 24px);
        }

        &__title,
        &__topic {
            color: $app-white;
        }
    }
}
