/**
* Post Thumb Featured
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-post-thumb-small {
    position: relative;
    border-left: 1px solid $samurai;
    @include rem(padding, 0 12px 0 24px);

    &__link {
        display: flex;
        align-items: center;
    }

    &__img {
        display: block;
        border-radius: 50%;
        @include rem(height, 60px);
        @include rem(width, 60px);
   }

    &__img-container {
        @include rem(margin-right, 12px);
        position: relative;
        flex-shrink: 0;

        &::before {
            content: "";
            width: 100%;
            border-radius: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: background-color 0.2s ease-out;
        }
    }

    &:hover {
        .c-post-thumb-small__img-container {
            &::before {
                background-color: rgba(0,0,0,.1);
            }
        }
    }

    &__title {
        @include fontSize(12);
        line-height: 1.16;
        @include font($font--cera, $font-app-cera-w--bold);
    }

    &__excerpt {
        @include fontSize(12);
        @include font($font--cera, $font-app-cera-w--regular);
    }

    &__posted {
        color: $app-grey--text;
        font-weight: $font-app-cera-w--regular;
    }
}
