/**
* Post Thumb Video Playlist
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.o-post-thumb--video-playlist {
    margin: 0;
    border-top: 1px solid $app-black--text;
    @include rem(padding, 24px 0);
    flex-direction: row;
    @include rem(min-width, 319px);

    @include mq($until: netbook) {
        @include rem(margin-right, 36px);
        padding-bottom: 0;
    }

    .o-post-thumb {

        &__content {
            flex: 1;
            @include rem(margin-right, 6px);
        }

        &__title {
            @include fontSize(16);
            @include lineHeight(20);
            @include font($font--cera, $font-app-cera-w--semibold);
            @include rem(margin-bottom, 12px);
        }

        &__swipe {
            @include mq($from: netbook) {
                display: none;
            }
        }

        &__img-container {
            margin-bottom: 0;
            @include rem(max-width, 149px);
        }
    }
}
