/**
* Post Thumb Featured
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.o-post-thumb {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // flex: 1;

    &--lead {
        grid-column: span 3;
    }

    &--mini {
        grid-column: span 2;
    }

    &--standard {
        grid-column: span 1;
    }

    &--related {
        grid-column: span 1;
    }

    &--center {
        text-align: center;
    }

    &__feat-img {
        display: block;
        width: 100%;
   }

    &__feat {
        @include rem(margin-bottom, 12px);
        position: relative;
        overflow: hidden;
        background-color: $mist;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: background-color 0.2s ease-out;
        }
    }

    &:hover {
        .o-post-thumb__feat {
            &::before {
                background-color: rgba(0,0,0,.2);
            }
        }

        .o-post-thumb__title {
            color: $app-black;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include mq($until: phablet) {
            @include rem(padding, 0 12px);
        }
    }

    &__info {
        @include rem(margin-bottom, 12px);
    }

    &__members {
        @include rem(width, 11px);
        display: inline-block;
        vertical-align: middle;
        @include rem(margin-right, 8px);
    }

    &__category {
        display: inline-block;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--regular);
    }

    &__posted {
        color: $app-grey--text;
        font-weight: $font-app-cera-w--regular;
    }

    &__title {
        color: $app-black--text-alt;
        @include fontSize(22);
        line-height: 1.2;
        @include font($font--text-chronicle, $font-app-chronicle-w--regular);

        @include mq($until: netbook) {
            @include fontSize(24);
        }
    }

    &__excerpt {
        @include fontSize(12);
        color: $app-grey--text;

        @include mq($until: netbook) {
            display: none;
        }
    }
}

/**
* Video Thumbnails
* --------
* @package GJ
* @since GJ 3.0
*/
.o-post-thumb {

    &__video-container {
        @include rem(margin-bottom, 48px);
    }

    &__video-play {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        color: $app-white;
        @include user-select;
        @include rem(width, 54px);
        @include rem(height, 54px);
        border-radius: 50%;
        border: solid 2px $app-white;
        margin: auto;
        z-index: 2;
    }

    &__video-play-icon {
        display: block;
        height: 100%;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        @include fontSize(24);
        @include rem(padding-left, 4px);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    }
}

/**
* Alternate Post Styles
* --------
* @package GJ
* @since GJ 3.0
*/

.o-post-thumb--standard {

    .o-post-thumb {

        &__title {
            @include fontSize(18);
        }
    }
}

.o-post-thumb--mini {

    .o-post-thumb {

        &__title {
            @include fontSize(18);
        }
    }
}

.o-post-thumb--lead {

    .o-post-thumb {

        &__title {
            @include fontSize(18);

            @include mq($until: phablet) {
                @include fontSize(16);
            }
        }

        &__category {
            @include mq($until: phablet) {
                @include fontSize(9);
            }
        }
    }
}

.o-post-thumb--wide {
    display: flex;

    @include mq($until: netbook) {
        display: block;
    }

    .o-post-thumb {

        &__feat-link {
            order: 2;
            width: 50%;
        }

        &__feat {
            margin: 0;

            @include mq($until: netbook) {
                @include rem(margin-bottom, 24px);
            }
        }

        &__content {
            width: 50%;
            order: 1;
            display: flex;
            justify-content: center;
            padding-right: 5%;

            @include mq($until: netbook) {
                width: 100%;
                @include rem(padding, 0 12px);
            }
        }

        &__title {
            @include fontSize(46);
            @include rem(margin-bottom, 36px);

            @include mq($until: netbook) {
                @include fontSize(36);
                @include rem(margin-bottom, 12px);

                @include mq($until: tablet) {
                    @include fontSize(24);
                }
            }
        }

        &__excerpt {
            @include fontSize(18);
            font-style: italic;
            font-family: $font--text-chronicle;

            @include mq($until: netbook) {
                display: block;

                @include mq($until: tablet) {
                    @include fontSize(14);
                }
            }
        }
    }
}

/**
* Dark Backgrounds
* --------
* @package GJ
* @since GJ 3.0
*/
.o-post-thumb--dark {

    .o-post-thumb {

        &__title,
        &__excerpt,
        &__category {
            color: $app-white;
        }
    }

    &:hover {
        .o-post-thumb {
            &__title {
                color: $app-white;
            }
        }
    }
}

/**
* Light Backgrounds
* --------
* @package GJ
* @since GJ 3.0
*/
.o-post-thumb--light {

    .o-post-thumb {

        &__category {
            color: $shogun;
        }
    }
}

/**
* Featured
* --------
* @package GJ
* @since GJ 3.0
*/
.o-post-group--featured--single {

    .o-post-thumb {
        text-align: center;

        &__title {
            @include fontSize(28);
            line-height: 1.16;
            @include font($font--cera, $font-app-cera-w--bold);

            @include mq($until: tablet) {
                @include fontSize(24);
            }
        }
    }
}
