/**
* Post Thumb Featured
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
.c-post-thumb-featured {
    width: 100%;
    position: fixed;
    @include rem(top, $masthead-height + 1px);
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: $shogun;

    @include mq($until: netbook) {
        @include rem(top, $masthead-height-mobile + 1px);
        top: 0;
    }

    &::before {
        content: "";
        // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88));
        background-image: linear-gradient(0deg,rgb(0 0 0 / 70%) 0%, rgba(255,255,255,0) 50%, rgb(0 0 0 / 30%) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include mq($until: mobile) {
            height: 80%;
        }
    }

    &__media-container {
        width: 100%;
        display: block;
    }

    &__media {
        width: 100%;
        display: block;

            &-img {
            object-fit: cover;
            height: calc(100vh - #{$masthead-height});
            height: 100vh;
            @include rem(min-height, 531px);
            width: inherit;
            display: block;

            @include mq($until: tablet) {
                height: calc(100vh - #{$masthead-height-mobile});
                @include rem(min-height, 508px);
            }
        }
    }

    &__content {
        width: 40%;
        max-width: 100%;
        @extend %u-center--block;
        position: absolute;
        bottom: 0;
        right: auto;
        left: 0;
        color: $app-white;
        text-align: left;
        z-index: 2;
        @include rem(padding-left, 60px);
        @include rem(padding-bottom, 60px);
        opacity: 0;
        transform: translateY(100%);
        animation: SlideUP;
        animation-duration: 1s;
        animation-fill-mode: both;

        @include mq($until: netbook) {
            width: 80%;

            @include mq($until: phablet) {
                @include rem(padding-left, 24px);
                @include rem(padding-bottom, 36px);

                @include mq($until: mobile) {
                    @include rem(padding-bottom, 120px);
                }
            }
        }

        &--center {
            right: 0;
            text-align: center;
            padding-left: 0;
        }
    }

    &__meta {
        @include fontSize(12);
        @include font($font--cera, $font-app-cera-w--semibold);
        @include font-caps--cera;
        @include rem(margin-bottom, 12px);
    }

    &__title {
        @include fontSize(52);
        line-height: 1.16;
        @include font($font--cond-chronicle, $font-app-chronicle-w--light);
        @include rem(margin-bottom, 36px);

        @include mq($until: netbook) {
            @include fontSize(36);
        }

        @include mq($until: tablet) {
            @include fontSize(28);
        }
    }

    &__excerpt {
        @include fontSize(18);
        @include rem(margin-bottom, 24px);
    }

    &__btn {
        display: inline-block;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--bold);
        @include font-caps--cera;
        color: $calcium;

        &-icon {
            transition: transform 0.2s ease-out;
            @include fontSize(9);
        }

        &:hover {
            color: $app-white;

            .c-post-thumb-featured__btn-icon {
                transform: translateX(4px);
            }
        }
    }
}

@keyframes SlideUP {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}
