/**
* Section Clubhouse
* --------
* @component app/masthead
* @version 1.0
*/

.c-section-club {
    $block: &;

    background-image: linear-gradient(to left, #030303 2%, $midnight);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    @include rem(padding, 144px 48px);

    @include mq($until: tablet) {
        flex-direction: column;
        @include rem(padding, 72px 36px);
    }

    &__card {
        @include rem(margin-right, 120px);

        @include mq($until: tablet) {
            @include rem(margin, 0 0 60px);
        }
    }

    &__card-img {
        width: 100%;
        display: block;
        box-shadow: 0 2px 13px 0 rgba(0,0,0,0.1);
    }

    &__info {
        @include rem(max-width, 480px);
    }

    &__title,
    &__info {
        color: $white;
    }

    &__title {
        @include font($font--text-chronicle);
        @include fontSize(48);
        @include rem(letter-spacing, -2px);
        @include rem(margin-bottom, 12px);
    }

    &__pretitle {
        @include font($font--cera, $font-app-cera-w--bold);
        @include font-caps--cera;
        @include fontSize(11);
        display: block;
    }

    &__description {
        @include font($font--text-chronicle);
        @include fontSize(16);
        color: $fog;
        @include rem(letter-spacing, -.4px);
        @include rem(margin-bottom, 36px);
    }

    &__link__btn {
        display: inline-block;
        @include rem(border-radius, 2px);
        @include rem(margin-right, 12px);
        @include rem(padding, 12px 14px);
        @include fontSize(12);
        @include rem(letter-spacing, 0);
        line-height: 1;
        font-weight: $font-app-cera-w--bold;

        &.o-btn--solid {
            background-color: $white;
            color: $black;
        }

        &.o-btn--outline {
            border: 1px solid $midnight;
            color: $mist;
            background-color: $despair;
        }

        &:hover,
        &:focus {
            background-color: $midnight;
            border-color: $midnight;
            color: $white;
        }

        &:active {
            background-color: darken($midnight, 2%);
        }
    }
}
