/**
* Share Icons
* --------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-share {
    @include rem(margin-bottom, 24px);
    display: block;

    &--center {
        text-align: center;
    }

    &--article,
    &--post {
        @include rem(padding, 60px 24px);
        border-top: 1px solid $samurai;
        border-bottom: 1px solid $samurai;
    }

    &--podcast {
        margin-bottom: 0;
        color: $concrete;
    }

    &__title {
        @extend %caps;
        font-weight: $font-app-cera-w--bold;
        @include fontSize(13);
    }

    .o-social-links {
        @include fontSize(24);
    }
}

.c-share {

    &__link {
        transition: color 0.2s ease;
    }

    &--twitter {
        &:hover {
            color: $twitter;
        }
    }

    &--facebook {
        &:hover {
            color: $facebook;
        }
    }

    &--googleplus {
        &:hover {
            color: $google-plus;
        }
    }

    &--linkedin {
        &:hover {
            color: $linkedin;
        }
    }

    &--mail {
        &:hover {
            color: $app-grey--text;
        }
    }
}


.c-share--quick-share {
    display: flex;
    align-items: center;

    .c-share {

        &__title {
            @include rem(margin-right, 12px);
        }
    }
}
