/**
* Sidebar
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-post-sidebar {
    text-align: left;

    &--fixed {
        position: absolute;
        top: 0;
        height: 100%;
    }

    &--left {
        left: 0;
        @include rem(min-width, 212px);
        @include rem(padding-top, 6px);
        display: flex;
        flex-direction: column;

        @include mq($until: laptop) {
            @include rem(max-width, 216px);
            @include rem(padding-left, 24px);
        }

        @include mq($until: netbook) {
            position: relative;
            max-width: 100%;
        }
    }

    &--right {
        right: 0;
        @include rem(max-width, 300px);
        @include rem(margin-left, 24px);
        @include rem(margin-right, 12px);
        display: flex;
        flex-direction: column;

        @include mq($until: laptop) {
            display: none;
        }
    }

    &--podcast {
        color: $app-white;
        @include rem(max-width, 192px);
        @include rem(margin-right, 24px);
        @include mq($until: laptop) {
            @include rem(max-width, 216px);
            @include rem(padding-left, 24px);
        }

        @include mq($until: netbook) {
            position: relative;
            max-width: 100%;
        }

        @include mq($until: tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            justify-content: space-between;
            margin-right: 0;
        }

        .o-social-links {
            @include fontSize(24);
            @include rem(margin-bottom, 24px);
        }
    }

    &__host {
        @extend %caps;
        @include rem(margin-bottom, 12px);
        @include mq($until: tablet) {
            @include rem(margin-left, 36px);
        }
    }

    &__short-description {
        @include fontSize(13);
        color: $app-grey--text;
        @include rem(margin-bottom, 12px);

        @include mq($until: tablet) {
            @include rem(margin-bottom, 24px);
        }
    }
}
