/**
* Single Gentleman Content
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-post-gentleman {
    padding: 0;

    &__header {
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 20%, rgba(250,250,250,1) 20%);

        @include mq($until: laptop) {
            background-color: rgba(250,250,250,1);
        }
    }

    &__navigation {
        display: grid;
        position: relative;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: rem(72px);
        padding: rem(24px) 0;
        text-transform: uppercase;
        @include mq($until: laptop) {
            padding: rem(24px);
        }
        &--members {
            text-align: center;
        }
        &--next {
            text-align: right;
        }
        @include mq($until: tablet) {
            grid-template-columns: repeat(1,1fr);
            background-color: $white;
            border-bottom: solid 1px #e6e6e6;
            &--next, &--prev {
                display: none;
            }
        }
        span {
            color: $fog;
        }
    }

    &__portraits {
        padding: rem(60px) 0;
        display: grid;
        position: relative;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: rem(72px);

        @include mq($until: laptop) {
            grid-column-gap: rem(36px);
            padding-bottom: 0;
        }

        @include mq($until: tablet) {
            grid-template-columns: 1fr;
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    &__featured-img-image {
        width: 100%;
    }

    &__portrait {
        &--description {
            padding: 0 rem(10px);

            @include mq($until: laptop) {
                padding: 0 rem(20px);
            }
            @include mq($until: tablet) {
                order: 1;
                padding: rem(20px);
            }
        }
        &--image {
            @include mq($until: tablet) {
                order: 2;
            }
        }
        &--specialty {
            @include fontSize(13);
            @include font($font--cera);
            font-weight: 500;
            letter-spacing: rem(1px);
            text-transform: uppercase;
            padding-bottom: rem(10px);
            padding-top: rem(10px);

            @include mq($until: laptop) {
                padding-top: 0;
            }
        }
        &--title {
            color: $midnight;
            @include font($font--chronicle);
            @include fontSize(100);
            line-height: 0.81;
            letter-spacing: rem(-0.44px);
            text-transform: uppercase;
            padding: rem(10px) 0;
            @include mq($until: laptop) {
                @include fontSize(70);
            }
        }
        &--content {
            p, div {
                color: $midnight;
                @include font($font--chronicle);
                @include fontSize(26);
                line-height: 1.23;
                letter-spacing: rem(-0.6px);
                padding: rem(20px) 0;
            }
        }
        &--author {
            @include font($font--cera);
            @include fontSize(13);
            padding: rem(10px) 0;
        }
    }

    &__content.o-wrapper--inner {
        padding: rem(24px) 0;
        max-width: rem(600px);

        @include mq($until: tablet) {
            padding: rem(24px) 0;
        }
    }

    &__question--block {
        padding: rem(24px);
        p {
            @include font($font--text-chronicle);
            @include fontSize(21);
            line-height: 1.29;
        }
    }

    &__more {
        &__title {
            @include font($font--cera);
            @include fontSize(13);
            font-weight: 500 !important;
            letter-spacing: rem(1px);
            text-transform: uppercase;
            padding: rem(24px) 0;
            border-bottom: solid 1px #e6e6e6;
        }
        &__feed {
            @include rem(margin-bottom, 64px);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            @include rem(grid-column-gap, 64px);
            @include rem(grid-row-gap, 64px);
            @include rem(padding, 64px 0);

            .c-membership-card {
                text-align: center;
                &__title {
                    max-width: 200px;
                    margin: rem(10px) auto;
                    @include mq($until: netbook) {
                        max-width: 300px;
                    }
                }
            }
            @include mq($until: netbook) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            @include mq($until: tablet) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}
