/**
* Single Post
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-post {
  @include rem(padding, 36px 0);
  position: relative;

  &--print,
  &--video,
  &--sponsored {
    padding-top: 0;
  }
  &--sponsored {
    margin-top: -112px;
    @include mq($until: netbook) {
      margin-top: -60px;
    }
  }

  &__container {
    position: relative;
  }

  &__header {
    @include rem(margin-bottom, 42px);
  }

  &--house-note {
    .c-post__header {
      width: 100%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .c-post__title {
      @include font($font--text-chronicle);
      @include fontSize(62);
      line-height: 1em;
      text-decoration: underline;
      margin-bottom: 30px;
      text-align: center;
      @include mq($until: tablet) {
        @include fontSize(30);
      }
    }
    .c-post__standfirst {
      margin-bottom: 30px;
      @include font($font--text-chronicle);
      @include fontSize(20);
      text-align: center;
      @include mq($until: tablet) {
        @include fontSize(18);
      }
    }
  }
  &__title {
    color: $app-black--text;
    @include font($font--cond-chronicle, $font-app-chronicle-w--light);
    @include fontSize(58);
    line-height: 1.12;
    @include rem(margin-bottom, 24px);

    @include mq($until: laptop) {
      @include fontSize(34);
    }
  }

  &__standfirst {
    @include fontSize(16);
    color: $app-grey--text;
    @include font($font--cera, $font-app-cera-w--regular);
  }

  &__house-note-author {
    margin-bottom: 20px;
    span {
      @include font($font--cera);
      @include fontSize(12);
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      position: relative;
      display: table;
      margin-left: auto;
      margin-right: auto;
      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 1em);
        height: 1px;
        left: 0.5em;
        bottom: 0.1em;
        background-color: $sunglow;
      }
    }
    div {
      @include font($font--text-chronicle);
      @include fontSize(20);
      text-align: center;
    }
  }
  &__featured-img {
    @include rem(margin-bottom, 42px);

    &-image {
      display: block;
      width: 100%;
    }

    &-caption {
      @include rem(padding-top, 6px);
      @include font($font--cera, $font-app-cera-w--regular);
      @include fontSize(14);
    }
  }

  &__featured-video {
    background-color: $app-black;
    @include rem(margin-bottom, 42px);

    &--archive {
      @include rem(margin-top, 24px);
    }

    &-inner {
      display: flex;

      @include mq($until: netbook) {
        flex-direction: column;
      }
    }

    &-wrap {
      width: 100%;
      // height: 100%;
    }
  }

  &__content {
    position: relative;
    @include rem(padding-bottom, 24px);

    &--podcasts {
      padding-bottom: 0;
    }
  }
}

.c-post--premium {
  .c-post {
    &__featured-img {
      margin-bottom: 0;
      position: relative;

      &-media {
        width: 100%;

        &-img {
          width: 100%;
          object-fit: cover;
          height: calc(100vh - #{$masthead-height});
          @include rem(min-height, 531px);
          display: block;

          @include mq($until: netbook) {
            height: auto;
          }
        }
      }

      &-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        width: 100%;
        color: $app-white;
        @include rem(padding, 2px 6px);
      }
    }
  }

  .c-ad-block__container--leaderboard-small {
    @include rem(margin-bottom, 42px);
  }
}
