/**
* Single Content
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

// General Content Editor
.c-content-builder {
  &__header {
    @include rem(margin-bottom, 24px);
    @include font($font--cera, $font-app-cera-w--bold);

    &--h2 {
      @include fontSize(22);
      font-weight: $font-app-cera-w--semibold;
    }

    &--h3 {
      @include fontSize(20);
    }

    &--h4 {
      font-weight: $font-app-cera-w--semibold;
      @include fontSize(18);
    }

    &--h5 {
      font-weight: $font-app-cera-w--semibold;
      @include fontSize(18);
    }

    &--h6 {
      font-weight: $font-app-cera-w--semibold;
      @include fontSize(18);
    }

    &--pull {
      &.c-content-builder__header--h2,
      &.c-content-builder__header--h3,
      &.c-content-builder__header--h4,
      &.c-content-builder__header--h5,
      &.c-content-builder__header--h6 {
        @include fontSize(32);
      }
    }
  }

  &__header--2,
  &__list-title {
    @include font($font--cera, $font-app-cera-w--bold);
    @include fontSize(22);
    @include rem(margin-bottom, 24px);
  }

  &__header--3 {
    @include font($font--cera, $font-app-cera-w--bold);
    @include fontSize(20);
    @include rem(margin-bottom, 24px);
  }

  &__header--4 {
    @include font($font--cera, $font-app-cera-w--bold);
    @include fontSize(20);
    @include rem(margin-bottom, 12px);
  }

  &__paragraph {
    position: relative;
    // Drop Cap
    &:first-of-type {
      p:first-of-type:first-letter {
        @include fontSize(63);
        @include lineHeight(60);
        @include font($font--chronicle, $font-app-chronicle-w--semibold);
        float: left;
        @include rem(padding, 2px 6px 0 0);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include rem(margin-bottom, 24px);
    }

    p,
    ul,
    ol,
    dd,
    table,
    blockquote,
    pre,
    .o-post-video,
    .o-post-img {
      @include rem(margin-bottom, 36px);
    }

    // Font Sizes
    p,
    ul,
    ol,
    dl {
      @include fontSize(20);
      line-height: 1.55;
      @include font($font--text-chronicle, $font-app-chronicle-w--regular);
    }

    a {
      display: inline;
      font-weight: $font-app-chronicle-w--semibold;
      background-image: linear-gradient(
        to bottom,
        $app-grey 50%,
        rgba(0, 0, 0, 0) 50%
      );
      background-repeat: repeat-x;
      @include rem(background-size, 2px 6px);
      @include rem(background-position, 0 22px);

      &:hover {
        background-image: linear-gradient(
          to bottom,
          $app-black 50%,
          rgba(0, 0, 0, 0) 50%
        );
      }

      &:active {
        background-image: linear-gradient(
          to bottom,
          lighten($app-black, 50%) 50%,
          rgba(0, 0, 0, 0) 50%
        );
      }
    }

    .is-external {
      &::after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
        @include fontSize(14);
        color: $app-grey--text;
        @include rem(margin, 0 4px 0 6px);
      }
    }

    // Remove In-line Styles
    p span[style] {
      text-decoration: none !important;
    }

    &--pull {
      &.c-content-builder__paragraph {
        & p {
          @include fontSize(27);
        }
      }
    }

    table {
      @include fontSize(16);
    }

    h4,
    h5,
    h6 {
      @include font($font--cera, $font-app-cera-w--semibold);
      @include fontSize(18);
    }

    // Ensure Child Lists do no inherit border bottom
    ul ul,
    ol ol,
    ul ol,
    ol ul {
      margin-bottom: 0;
    }

    .twitter-tweet,
    .instagram-media,
    .o-post-video iframe {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  &__blockquote {
    @include fontSize(35);
    line-height: 1.28;
    @include rem(padding-top, 12px);
    @include rem(margin-bottom, 48px);

    &-text {
      text-transform: uppercase;
      @include font($font--cond-chronicle, $font-app-chronicle-w--regular);
    }
  }

  &__list {
    list-style-type: disc !important;
    @include rem(margin-bottom, 36px);
    @include fontSize(20);
    line-height: 1.55;
    @include font($font--text-chronicle, $font-app-chronicle-w--regular);
  }
}

// Image
.c-content-builder {
  &__img-group,
  &__embed {
    @include rem(padding-top, 12px);
    @include rem(margin-bottom, 48px);
  }

  &__img {
    display: block;
    width: 100%;

    &-img {
      width: inherit;
      display: block;
    }
  }

  &__img-caption {
    padding: rem(8px) rem(24px);
    @include font($font--cera, $font-app-cera-w--regular);
    @include fontSize(14);
    color: $app-grey--text;

    a {
      text-decoration: underline;
    }
  }
}

// Gallery
.c-content-builder {
  &__gallery {
    &-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include rem(padding-top, 12px);

      @include mq($until: netbook) {
        @include rem(padding, 12px 24px 0);
      }

      @include mq($until: tablet) {
        @include rem(padding, 12px 24px 0);
        @include rem(margin, 0 0 24px);
      }
    }
  }

  &__gallery-img-container {
    max-width: calc(50% - 24px);
    @include rem(margin, 0 12px 24px 12px);
    flex: 1;

    @include mq($until: tablet) {
      min-width: 100%;
      max-width: 100%;
      @include rem(margin, 0 0 24px);
    }
  }

  &__gallery-img {
    display: block;
    width: 100%;
  }
}

// Gallery Masonry
.c-content-builder {
  &__gallery--masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include rem(padding-top, 12px);
    @include rem(margin, 0 -12px 24px -12px);

    @include mq($until: tablet) {
      @include rem(margin, 0 0 24px);
    }

    .c-content-builder__gallery-img-container {
      max-width: calc(25% - 24px);
      @include rem(margin, 0 12px 24px 12px);
      flex: 1;

      @include mq($until: tablet) {
        max-width: calc(50% - 24px);
      }
    }
  }
}

// Gallery Slider
.c-content-builder-slider {
  @include rem(margin-bottom, 48px);

  &__slider {
    width: 100%;
    @include rem(max-height, 563px);
    overflow: hidden;
  }

  &__controls {
    @include rem(margin-bottom, 12px);
  }

  &__previous {
    @include rem(margin-right, 12px);
  }

  &__media-img {
    width: 100%;
  }
  &--article {
    .c-content-builder-slider__controls {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .slick-slide {
      margin-right: 20px;
      @include mq($until: tablet) {
        margin-right: 0;
      }
    }
  }
}

// Products woo
.c-content-builder__products--woo {
  // Woocommerce Products
  & .o-product-thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include rem(margin, 0 -12px 12px -12px);

    @include mq($until: tablet) {
      @include rem(margin, 0 0 12px);
    }

    & .product {
      @include rem(margin, 0 12px 24px 12px);
      flex: 1;
      text-align: center;

      @include mq($until: tablet) {
        @include rem(margin, 0 12px 48px 12px);
      }

      & .attachment-shop_catalog {
        @include rem(margin-bottom, 12px);
        width: 100%;
        display: block;
      }

      & .woocommerce-loop-product__title {
        @include font($font--cera, $font-app-cera-w--semibold);
        @include fontSize(19);
        @include rem(margin-bottom, 6px);
      }

      & .price {
        display: block;
        color: $app-grey--text;
        @include font($font--chronicle, $font-app-chronicle-w--semibold);
        @include fontSize(20);
        @include rem(margin-bottom, 20px);
      }

      & .button {
        @extend .o-btn, .o-btn--solid;
        display: inline-block;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--bold);
        @include font-caps--cera;
        border-color: $app-grey--light;
        background-color: $app-grey--light;
        margin: auto;

        &:hover {
          color: $app-white;
          border-color: $app-black;
          background-color: $app-black;
        }

        &:active {
          border-color: lighten($app-black, 15%);
          background-color: lighten($app-black, 15%);
        }
      }
    }
  }
}

// Products woo
.c-content-builder {
  &__products {
    border-bottom: 1px solid $app-grey--light-border;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include rem(padding-top, 12px);
    @include rem(margin, 0 -12px 36px -12px);
    z-index: 2;
    position: relative;

    @include mq($until: tablet) {
      @include rem(margin, 0 0 36px 0);
    }
  }

  &__product {
    @include rem(margin, 0 12px 24px 12px);

    @include mq($until: tablet) {
      max-width: 100%;
      width: 100%;
      @include rem(margin, 0 12px 48px 12px);
    }

    &-media {
      @include rem(margin-bottom, 12px);
      width: 100%;
      display: block;
      @include rem(max-width, 407px);

      &-img {
        width: 100%;
      }
    }

    &-title {
      @include font($font--cera, $font-app-cera-w--semibold);
      @include fontSize(16);
    }

    &-description {
      @extend %u-center--block;
      max-width: 60%;
      color: $app-grey--text;
      @include font($font--chronicle, $font-app-chronicle-w--regular);
      @include fontSize(16);
      @include rem(margin-bottom, 20px);
    }

    &-price {
      display: block;
      color: $app-grey--text;
      @include fontSize(14);
      @include rem(margin-bottom, 20px);
    }

    &-btn {
      display: inline-block;
      @include fontSize(11);
      @include font($font--cera, $font-app-cera-w--bold);
      @include font-caps--cera;
      border-color: $app-grey--light;
      background-color: $app-grey--light;
      margin: auto;

      &:hover {
        color: $app-white;
        border-color: $app-black;
        background-color: $app-black;
      }

      &:active {
        border-color: lighten($app-black, 15%);
        background-color: lighten($app-black, 15%);
      }
    }
  }
}

// Affiliate Button
.c-content-builder {
  &__affiliate-btn-group {
    text-align: left;
  }

  &__affiliate-btn {
    display: inline-block;
    @include fontSize(11);
    @include font($font--cera, $font-app-cera-w--bold);
    @include font-caps--cera;
    border-color: $app-grey--light;
    background-color: $app-grey--light;
    margin: auto;
    @include rem(margin-bottom, 36px);

    &:hover {
      color: $app-white;
      border-color: $app-black;
      background-color: $app-black;
    }

    &:active {
      border-color: lighten($app-black, 15%);
      background-color: lighten($app-black, 15%);
    }
  }
}

// Single Affiliates
.c-content-builder__product-single-affiliate,
.c-content-builder-info-block {
  display: flex;
  align-items: center;
  width: 100%;
  @include rem(margin-bottom, 36px);
  @include rem(padding, 12px 0);
  border-bottom: 1px solid $app-grey--light-border;
  border-top: 1px solid $app-grey--light-border;

  @include mq($until: netbook) {
    @include rem(margin-left, 24px);
    @include rem(margin-right, 24px);
    width: calc(100% - 48px);
  }

  @include mq($until: phablet) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img {
    @include rem(margin-right, 36px);
    @include rem(max-width, 80px);
    width: 100%;
    display: block;

    @include mq($until: phablet) {
      display: none;
    }
  }

  &__info-group {
    @include rem(margin-right, 12px);

    @include mq($until: phablet) {
      margin-right: 0;
      @include rem(margin-bottom, 12px);
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    @include font($font--cera, $font-app-cera-w--semibold);
    @include fontSize(19);
    @include rem(margin-bottom, 6px);
  }

  &__price {
    display: block;
    color: $app-grey--text;
    @include font($font--chronicle, $font-app-chronicle-w--regular);
    @include fontSize(20);
  }

  &__btn {
    display: block;
    @include fontSize(11);
    @include font($font--cera, $font-app-cera-w--bold);
    @include font-caps--cera;
    border-color: $app-grey--light;
    background-color: $app-grey--light;
    margin-left: auto;

    @include mq($until: phablet) {
      margin-right: auto;
    }

    &:hover {
      color: $app-white;
      border-color: $app-black;
      background-color: $app-black;
    }

    &:active {
      border-color: lighten($app-black, 15%);
      background-color: lighten($app-black, 15%);
    }
  }
}

// Gravity Forms
.c-content-builder__form {
  .gform_wrapper,
  form {
    width: 100%;
  }

  form {
    border: 1px solid $app-grey--light-border;
    @include rem(border-radius, 2px);
  }

  .gform {
    &_heading {
      @include rem(padding, 24px);
      @include font($font--chronicle, $font-app-chronicle-w--semibold);
      text-align: center;
      border-bottom: 1px solid $app-grey--light-border;
    }

    &_body {
      @include rem(padding, 36px);
    }

    &_fields {
      .gfield {
        width: 100%;
        @include rem(margin-bottom, 12px);

        &_label {
          color: $app-grey--text;
          @include rem(margin-bottom, 6px);
          @include font($font--cera, $font-app-cera-w--bold);
        }
      }

      .ginput_container_text {
        width: 100%;
        border: 1px solid $app-grey--light-border;

        input {
          width: 100%;
          @include rem(padding, 24px);
          @include font($font--cera, $font-app-cera-w--regular);
        }
      }

      .g-recaptcha div {
        @extend %u-center--block;
      }
    }

    &_footer {
      @include rem(padding, 0 36px 36px);
    }

    &_button {
      @extend %u-center--block;
      @include rem(padding, 16px 24px);
      border-width: 1px;
      border-style: solid;
      border-radius: 50px;
      @include fontSize(11);
      @include font($font--cera, $font-app-cera-w--bold);
      @include font-caps--cera;
      color: $app-black;
      border-color: $app-grey--light;
      background-color: $app-grey--light;

      &:hover {
        color: $app-white;
        border-color: $app-black;
        background-color: $app-black;
      }

      &:active {
        border-color: lighten($app-black, 15%);
        background-color: lighten($app-black, 15%);
      }
    }
  }
}
