/**
* Icons
*
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.o-social-links {
    @include fontSize(16);

    &__item {
        display: inline-block;
        @include rem(margin, 0 6px);
    }

    &__link {
        transition: color 0.2s ease;
    }

    &__icon {

        &.fa-twitter {
            &:hover {
                color: $twitter;
            }
        }

        &.fa-instagram {
            &:hover {
                color: $instagram;
            }
        }

        &.fa-facebook {
            &:hover {
                color: $facebook;
            }
        }

        &.fa-googleplus {
            &:hover {
                color: $google-plus;
            }
        }

        &.fa-linkedin {
            &:hover {
                color: $linkedin;
            }
        }
    }
}
