/**
* Subscription Header Video
* --------
* @package GJ
* @since GJ 3.0
*/

.subscription-header-video {
    height: calc(100vh - 60px); // Minus the Height of the Masthead
    width: 100%;
    position: fixed;
    @include rem(top, 60px);
    left: 0;
    overflow: hidden;
    z-index: 1;

    &__thumbnail {
        width: 100%;
        height: 100%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $app-white;
        position: relative;
        transition: opacity 0.35s ease-in;
        z-index: 1;

        &::before {
            content: "";
            background-image: linear-gradient(180deg,transparent, $app-black);
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &--removed {
            opacity: 0;
        }
    }

    &__cta {
        text-align: center;
        z-index: 2;
    }

    &__snippet {
        @include font-caps--cera;
        @include font($font--cera, $font-app-cera-w--bold);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    }

    &__title {
        @include font($font--chronicle, $font-app-chronicle-w--semibold);
        @include fontSize(96);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

        @include mq($until: tablet) {
            @include fontSize(72);
        }
    }

    &__play {
        @include user-select;
        @include rem(width, 50px);
        @include rem(height, 50px);
        border-radius: 50%;
        border: solid 1px $app-white;
        margin: auto;

        span {
            display: block;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include fontSize(16);
            @include rem(padding-left, 4px);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        }
    }

    &__arrow {
        @include user-select;
        @include font($font--cera, $font-app-cera-w--regular);
        @include fontSize(14);
        text-align: center;
        position: absolute;
        @include rem(bottom, 36px);
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 2
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
