/**
* Widget Podcast
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
.c-widget-podcast {
    position: fixed;
    bottom: 20%;
    right: 36px;
    @include rem(width, 408px);
    max-width: 100%;
    @include rem(padding, 48px 24px 36px);
    background: $app-grey--light url(assets/img/bg-wave-small--light.svg);
    background-size: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);

    &__title {
        color: $app-black;
        @include fontSize(16);
        @include font($font--cera, $font-app-cera-w--bold);
        @extend %caps;
        @include rem(margin-bottom, 24px);
    }

    &__post-title {
        color: $app-black;
        @include fontSize(27);
        @include lineHeight(28);
        @include font($font--chronicle, $font-app-chronicle-w--regular);
        transition: color 0.2s ease;
        @include rem(margin-bottom, 24px);
    }

    &__btn {
        display: inline-block;
        @include fontSize(14);
        background-color: $app-white;
        text-transform: initial;
        letter-spacing: 0;
    }

    &__icon {
        @include rem(margin-right, 12px);
    }

    &__close {
        @include user-select;
        @include fontSize(18);
        color: $app-black;
        position: absolute;
        @include rem(padding, 12px);
        top: 0;
        right: 0;
        transition: color 0.3s ease-out;
        @include mq($until: netbook) {
            display: none;
        }

        &:hover {
            color: $app-grey--text;
        }
    }
}
