/**
* Widget Read Next
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
.c-widget-read-next {
    @include rem(max-width, 192px);
    background-color: $app-white;
    @include rem(margin-bottom, 48px);
    margin-top: auto;

    @include mq($until: netbook) {
        display: none;
    }

    &__title {
        @include fontSize(15);
        color: $app-grey--text;
        font-weight: $font-app-cera-w--semibold;
        @include rem(margin-bottom, 12px);
    }

    &__post {

        &:hover {

            .c-widget-read-next__post-title {
                color: $app-black;
            }

            .c-widget-read-next__featured::before {
                background-color: rgba(0,0,0,.1);
            }
        }
    }

    &__featured {
        @include rem(margin-bottom, 12px);
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: background-color 0.2s ease-out;
        }
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__info {
        @include rem(margin-bottom, 16px);
    }

    &__category {
        display: inline-block;
        @include fontSize(11);
        @include font($font--cera, $font-app-cera-w--bold);
    }

    &__posted {
        color: $app-grey--text;
        font-weight: $font-app-cera-w--semibold;
    }

    &__post-title {
        color: $app-black--text-alt;
        @include fontSize(22);
        @include lineHeight(24);
        @include font($font--chronicle, $font-app-chronicle-w--semibold);
        transition: color 0.2s ease;
    }
}
