/**
* Widgets Most Popular
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
.c-widget-most-popular {
    @include rem(margin-bottom, 48px);
    @include rem(margin-top, 48px);

    &__title {
        @extend %caps;
        @include fontSize(13);
        font-weight: $font-app-cera-w--bold;
        @include rem(margin-bottom, 6px);
    }

    &__posts {
        border-top: 1px solid $app-black;
    }

    &__post {
        @include rem(padding, 16px 0);
        border-bottom: 2px solid $app-grey--light-border;

        &:last-of-type {
            border-bottom: none;
        }

        &:hover {

            .c-widget-most-popular__post-title {
                color: $app-black;
            }

            .c-widget-most-popular__featured::before {
                background-color: rgba(0,0,0,.1);
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__counter {
        @include fontSize(17);
        font-weight: $font-app-cera-w--semibold;
        @include rem(margin-right, 12px);
    }

    &__featured {
        @include rem(margin-right, 12px);
        position: relative;
        @include rem(min-width, 60px);

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: background-color 0.2s ease-out;
        }
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__post-title {
        color: $app-black--text-alt;
        @include fontSize(17);
        @include lineHeight(20);
        @include font($font--chronicle, $font-app-chronicle-w--semibold);
        transition: color 0.2s ease;
    }
}
