/**
* Widget Newsletter
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/
.c-widget-newsletter {
    width: 100%;
    @include rem(padding, 24px);
    background: $app-black url(assets/img/bg-wave-small.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $app-black--light;
    @include rem(margin-bottom, 48px);

    &__subtitle {
        color: $app-white;
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--semibold);
        @extend %u-center--block;
    }
}

.c-widget-newsletter {

    &__form {
        @include rem(margin-bottom, 12px);
    }

    &__fieldset {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__message {
        color: $app-white;
        text-align: center;
        display: block;
        @include rem(padding-top, 6px);
        @include rem(margin-bottom, 12px);
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--bold);
    }

    &__input-group {
        display: flex;
        @include rem(margin-bottom, 12px);
    }

    &__input {
        text-align: center;
        position: relative;
        @include rem(height, 48px);
        max-width: 100%;
        @include rem(padding, 12px 24px);
        @include fontSize(15);
        @include font($font--cera, $font-app-cera-w--bold);
        color: $app-black--text;
        background-color: $app-white;
        border: 1px solid $app-grey--light-border;
        width: 100%;
        border-radius: 50px;
    }

    &__btn {
        background-color: $app-black;
    }
}

.c-widget-newsletter {

    & .o-social-links {
        @include fontSize(24);
        color: $app-white;
    }
}
