.house-notes-tease {
  display: block;
  &--large {
    text-align: center;
    .house-notes-tease__title {
      @include fontSize(48);
      @include mq($until: tablet) {
        @include fontSize(36);
      }
    }
    .house-notes-tease__author span,
    .house-notes-tease__subtitle {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--video {
    .house-notes-tease__image {
      &:before {
        content: '';
        z-index: 1;
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: 0;
        left: 0;
        background-color: $sunglow;
      }
      &:after {
        z-index: 2;
        content: '';
        position: absolute;
        left: 14px;
        bottom: 14px;
        width: 0;
        height: 0;
        transform: rotate(-90deg);
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 20px solid #000000;
      }
    }
  }
  &__category {
    @include font($font--cera);
    @include fontSize(20);
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    display: table;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 1em);
      height: 1px;
      left: 0.5em;
      bottom: 0.1em;
      background-color: $sunglow;
    }
  }
  &__image {
    position: relative;
    img {
      width: 100%;
      display: block;
    }
    margin-bottom: 20px;
  }
  &__subtitle {
    @include font($font--cera);
    @include fontSize(12);
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    display: table;
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 1em);
      height: 1px;
      left: 0.5em;
      bottom: 0.1em;
      background-color: $sunglow;
    }
  }
  &__title {
    @include font($font--text-chronicle);
    @include fontSize(24);
    line-height: 1em;
    text-decoration: underline;
    margin-bottom: 30px;
    @include mq($until: tablet) {
      @include fontSize(22);
    }
  }
  &__content {
    margin-bottom: 30px;
    @include font($font--text-chronicle);
    @include fontSize(20);
    @include mq($until: tablet) {
      @include fontSize(18);
    }
  }
  &__author {
    margin-bottom: 20px;
    span {
      @include font($font--cera);
      @include fontSize(12);
      font-weight: 600;
      margin-bottom: 10px;
      text-align: left;
      position: relative;
      display: table;
      &:after {
        content: '';
        position: absolute;
        width: calc(100% - 1em);
        height: 1px;
        left: 0.5em;
        bottom: 0.1em;
        background-color: $sunglow;
      }
    }
    div {
      @include font($font--text-chronicle);
      @include fontSize(20);
    }
  }
  &__button {
    @include font($font--cera);
    @include fontSize(12);
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 40px;
    border: solid 1px #000000;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
