.house-notes-further-reading {
  border-top: solid 2px $sunglow;
  margin-top: 30px;
  padding-top: 20px;
  &__title {
    @include font($font--cera);
    @include fontSize(20);
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
    display: table;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 1em);
      height: 1px;
      left: 0.5em;
      bottom: 0.1em;
      background-color: $sunglow;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    .house-notes-tease {
      border-right: 1px solid $samurai;
      padding: 0 30px;
      width: 25%;
      @include mq($until: tablet) {
        padding: 0 10px;
        width: 50%;
      }
    }
    .house-notes-tease__content,
    .house-notes-tease__authors {
      display: none;
    }
  }
}
