.house-notes-columns {
  border-bottom: dashed $serenity 1px;
  padding-bottom: 20px;
  margin-bottom: 25px;

  .tease {
    &--is-podcast {
      text-align: center;
      margin-bottom: 35px;
      padding-bottom: 5px;
      border-bottom: #000000 1px solid;
      @include mq($until: tablet) {
        border-bottom: none;
      }
      .house-notes-tease__image {
        border-radius: 50%;
        overflow: hidden;
      }
      .house-notes-tease__title {
        display: none;
      }
      .house-notes-tease__content {
        @include fontSize(30);
        line-height: 1em;
        text-transform: uppercase;
        @include mq($until: tablet) {
          @include fontSize(22);
        }
      }
      .house-notes-tease__subtitle,
      .house-notes-tease__author span {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &--is-overheard {
      text-align: center;
      .house-notes-columns__title {
        margin-bottom: 20px;
      }
      .house-notes-tease__authors {
        display: none;
      }
      .house-notes-tease__title {
        @include fontSize(18);
        margin-bottom: 8px;
      }
      .house-notes-tease__topic-guest {
        @include fontSize(18);
        @include font($font--text-chronicle);
        line-height: 1em;
        margin-bottom: 30px;
        span {
          font-style: italic;
        }
      }
      .house-notes-tease__image {
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
        overflow: hidden;
      }
      .house-notes-tease__content {
        @include fontSize(14);
        line-height: 1.4em;
        @include font($font--cera);
      }
      .house-notes-tease__subtitle,
      .house-notes-tease__author span {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &--is-quote {
      .house-notes-tease--quote {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        @include mq($until: tablet) {
          padding-left: 20px;
          padding-right: 20px;
        }
        .house-notes-tease__subtitle,
        .house-notes-tease__author span {
          margin-left: auto;
          margin-right: auto;
        }
        .house-notes-tease__image {
          display: none;
        }
        .house-notes-tease__title {
          display: none;
        }
        .house-notes-tease__content {
          @include fontSize(30);
          line-height: 1em;
          text-transform: uppercase;
          @include mq($until: tablet) {
            @include fontSize(22);
          }
        }
      }
    }
  }

  &__columns {
    display: flex;
    border-top: solid 2px $sunglow;
    border-bottom: solid 2px $sunglow;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-bottom: 45px;

    @include mq($until: tablet) {
      width: 260px;
      flex-shrink: 0;
      width: 100%;
      overflow: scroll;
      padding-left: 10px;
      padding-right: 10px;
    }
    &--no-video {
      .house-notes-columns__column {
        width: (100% / 3);
      }
    }
  }
  &__column {
    width: 25%;
    padding: 0 30px;
    border-right: $samurai 1px solid;
    &:last-child {
      border-right: 0;
    }
    @include mq($until: tablet) {
      width: 280px;
      padding: 0 10px;
      flex-shrink: 0;
      &:last-child {
        display: flex;
        justify-content: space-between;
        width: 560px;
        .house-notes-columns__tease {
          &:first-of-type {
            border-right: $samurai 1px solid;
            padding-right: 10px;
            border-right: 0;
            width: 560px;
          }
          &:last-of-type {
            padding-left: 10px;
          }
          width: 50%;
        }
      }
    }
  }
  &__title {
    @include font($font--cera);
    @include fontSize(20);
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
    position: relative;
    display: table;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 1em);
      height: 1px;
      left: 0.5em;
      bottom: 0.1em;
      background-color: $sunglow;
    }
    @include mq($until: tablet) {
      margin-left: 0;
      margin-bottom: 25px;
    }
  }
  .house-notes-tease {
    margin-bottom: 35px;
    padding-bottom: 5px;
    border-bottom: $samurai 1px solid;
    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: unset;
    }
    @include mq($until: tablet) {
      border-bottom: none;
      margin-bottom: 0;
      &:not(:first-of-type) {
        display: none;
      }
    }
  }
}
