.house-notes-archive {
  margin-bottom: 100px;
  @include mq($until: tablet) {
    padding: 0 10px;
  }
  &__title {
    @include font($font--cera);
    @include fontSize(20);
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    display: table;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &:after {
      content: '';
      position: absolute;
      width: calc(100% - 1em);
      height: 1px;
      left: 0.5em;
      bottom: 0.1em;
      background-color: $sunglow;
    }
  }
  &__content {
    display: column;
    column-count: 4;
    column-rule: 1px solid $samurai;
    @include mq($until: tablet) {
      column-count: 2;
    }
    .house-notes-tease {
      padding: 0 30px;
      break-inside: avoid-column;
      margin-bottom: 60px;
      @include mq($until: tablet) {
        padding: 0 10px;
      }
    }
    .house-notes-tease__content,
    .house-notes-tease__authors {
      display: none;
    }
  }
}
