/**
* Buttons
* --------
* @package Lydia
* @subpackage Lydia-SCSS
* @since Lydia 1.0
* @version 1.0
*/

.o-btn {
    width: auto;
    display: block;
    @include rem(min-height, 12px);
    color: inherit;
    text-align: center;
    line-height: 1;
    @include user-select;
    -webkit-appearance: none;
    transition: color .1s ease,
                background-color .1s ease,
                box-shadow .1s ease,
                border .1s ease,
                background .1s ease;

    &.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.45;
    }

    /**
    * Social Buttons
    * --------
    * @since Lydia 1.0
    * @version 1.0
    */

    &__social {
        color: #fff;

        &--facebook {
            background-color: $facebook;

            &:hover,
            &:focus {
                background-color: lighten($facebook, 10%);
            }

            &:active {
                background-color: lighten($facebook, 5%);
            }
        }

        &--twitter {
            background-color: $twitter;

            &:hover,
            &:focus {
                background-color: lighten($twitter, 10%);
            }

            &:active {
                background-color: lighten($twitter, 5%);
            }
        }

        &--instagram {
            background-color: $instagram;

            &:hover,
            &:focus {
                background-color: lighten($instagram, 10%);
            }

            &:active {
                background-color: lighten($instagram, 5%);
            }
        }

        &--google-plus {
            background-color: $google-plus;

            &:hover,
            &:focus {
                background-color: lighten($google-plus, 10%);
            }

            &:active {
                background-color: lighten($google-plus, 5%);
            }
        }

        &--linkedin {
            background-color: $linkedin;

            &:hover,
            &:focus {
                background-color: lighten($linkedin, 10%);
            }

            &:active {
                background-color: lighten($linkedin, 5%);
            }
        }

        &--youtube {
            background-color: $youtube;

            &:hover,
            &:focus {
                background-color: lighten($youtube, 10%);
            }

            &:active {
                background-color: lighten($youtube, 5%);
            }
        }
    }
}
