/**
* Forms
* --------
* @package Lydia
* @subpackage Lydia-SCSS
* @since Lydia 1.0
* @version 1.0
*/

/**
* Form Normalize
* --------
* @since Lydia 1.0
* @version 1.0
*/
fieldset,
form {
    display: block;

    .c-form-group {
        display: block;
    }
}

fieldset {

    &:only-child {
       margin-bottom: 0;
    }

    &[disabled],
    &[disabled] * {
        cursor: not-allowed;
        opacity: 0.6;
        background-color: #F9F9F9;
    }

    & legend,
    &[disabled] legend {
        background-color: transparent;
    }
}

/**
* Inputs
* --------
* @since Lydia 1.0
* @version 1.0
*/
input,
select,
textarea {
    display: block;
    position: relative;
    max-width: 100%;
    border: none;
    border-radius: 0;
    outline: none;
    vertical-align: top;

    &[disabled],
    &[readonly] {
        cursor: not-allowed;
    }

    &[readonly] {
        cursor: auto;
    }
}

/**
* Remove Chrome Yellow Auto complete
* --------
* @since Lydia 1.0
* @version 1.0
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        font-family: inherit;
        color: $shogun;
    }
}

/**
* Text Area
* --------
* @since Lydia 1.0
* @version 1.0
*/
textarea {
    height: auto;
    max-width: 100%;
    resize: vertical;
    @include rem(min-height, 100px);
}

/**
* File Uploads
* --------
* @since Lydia 1.0
* @version 1.0
*/
::-webkit-file-upload-button {
    border: none;
    outline: none;
}

input[type="file"] {
    padding: 0;
}

/**
* Range Input
* --------
* @since Lydia 1.0
* @version 1.0
*/
input[type="range"] {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

/**
* Selects
* --------
* @since Lydia 1.0
* @version 1.0
*/
select {

    &[multiple],
    &[size] {
        background: none;
        padding: 0;
        height: auto;

        & option {
            @include rem(padding, 5px 10px);
        }
    }

    &::-ms-expand {
        display: none;
    }
}

/**
* Inline Lists
* --------
* @since Lydia 1.0
* @version 1.0
*/
input[type="checkbox"],
input[type="radio"] {
    display: inline;
    width: auto;
    width: initial;
    margin-bottom: 0;
    vertical-align: sub;

    & + label {
        display: inline;
        @include rem(margin, 0 5px 0 2px);
    }
}
