/**
* Global
* --------
* @package Lydia
* @subpackage Lydia-SCSS
* @since Lydia 2.0
* @version 1.0
*/

/**
* Set desired Box Model on all elements
* --------
* @since Lydia 1.0
* @version 1.0
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
* Prepare the Page
* --------
* @since Lydia 1.0
* @version 1.0
*/
html {
    width: 100%;
    height: 100%;
    height: 100vh;
    @include font($font--sans-serif);
    font-size: $font-size--base;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: 100%;
}

/**
* Set the base structure and font rules
* --------
* @since Lydia 1.0
* @version 1.0
*/
body {
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    position: relative;
    color: $color-base;
    @include fontSize(12);
    line-height: 1.4;
    @include font($font--base);
    background-color: $color-base--invert;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: auto;
}

/**
* Override Default Scroll bars
* --------
* @since Lydia 1.0
* @version 1.0
*/
::-webkit-scrollbar {
    @include rem(width, 8px);  // vertical scrollbars
    @include rem(height, 8px); // horizontal scrollbars
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

/**
* BMAS Logo
* --------
* @since Lydia 1.0
* @version 1.0
*/
.bmas {
    transition: fill 0.5s ease;

    &:hover,
    &:focus {
        fill: $bmas-blue;
        color: $bmas-blue;
    }
}
