/**
* Lists
* --------
* @package Lydia
* @subpackage Lydia-SCSS
* @since Lydia 2.0
* @version 1.0
*/
ul,
ol,
dl {
    list-style-position: inside;
    font-family: inherit;
}

/**
* Un-ordered Lists
* --------
* @since Lydia 1.0
* @version 1.0
*/
ul {
    list-style-type: disc;
    //@include rem(margin-left, 12px);

    // Remove disc if is a class
    &[class] {
        list-style-type: none;
    }

    // Unordered Lists
    & ul {
        list-style: square;

        & ul {
            list-style: circle;
        }
    }
    // Mixed List Reset Style
    & ol ul {
        list-style: disc;
    }
}

/**
* Ordered Lists
* --------
* @since Lydia 1.0
* @version 1.0
*/
ol {
    list-style-type: decimal;

    & ol {
        list-style: lower-latin;

        & ol {
            list-style: lower-roman;
        }
    }
    // Mixed List Reset Style
    & ul ol {
        list-style: decimal;
    }
}

/**
* Definition Lists
* --------
* @since Lydia 1.0
* @version 1.0
*/
dl {

    & dt {
        font-weight: $font--bold;
    }

    @include mq($from: tablet) {
        &%is-horizontal {

            & dt {
                float: left;
                @include rem(width, 140px);
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & dd {
                @include rem(margin-left, 160px);
            }
        }
    }
}

/**
* Sub Lists Offset
* --------
* @since Lydia 1.0
* @version 1.0
*/
ul ul,
ol ol,
ul ol,
ol ul {
    @include rem(margin-left, 48px);
}

// Remove if there is a class
ul ul[class],
ol ol[class],
ul ol[class],
ol ul[class] {
    margin-left: 0;
}
