/**
* Media
* --------
* @package Lydia
* @subpackage Lydia-SCSS
* @since Lydia 1.0
* @version 1.0
*/

/**
* Images
* --------
* @since Lydia 1.0
* @version 1.0
*/
img,
figure {
    max-width: 100%;
    height: auto;
    position: relative;
    background-color: transparent;
    -ms-interpolation-mode: bicubic;
}

/**
* SVG
* --------
* @since Lydia 1.0
* @version 1.0
*/
svg {
    max-width: 100%;
    height: auto;
    position: relative;
}

/**
* Hide Element - Available for Screen Readers
* --------
* @since Lydia 1.0
* @version 1.0
*/
.is-visually-hidden {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
}

/**
* Responsive Videos
* --------
* @since Lydia 1.0
* @version 1.0
*/
.is-fluid-video {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;

    &--widescreen {
        padding-bottom: 56.25%;
    }

    &--vimeo {
        padding-top: 0;
    }

    & iframe,
    & object,
    & embed,
    & video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
