{#
* Single Sponsored Author
* ---------
* @component single/sponsored
* @version 1
#}
<ul class="c-single-sponsored-author">

    <li class="c-single-sponsored-author__item">Words: <strong class="c-single-sponsored-author__name">{{ post.author }}</strong></li>

    {% if post.meta('photographer_name') %}
        <li class="c-single-sponsored-author__item">Photography: <strong class="c-single-sponsored-author__name">{{ post.meta('photographer_name') }}</strong></li>
    {% endif %}

    {% for item in post.meta('other_by_lines') %}
        <li class="c-single-sponsored-author__item">{{ item.title }}: <strong class="c-single-sponsored-author__name">{{ item.content }}</strong></li>
    {% endfor %}

</ul>
