/**
 * Clubhouse Partners - Main Title
 * ---------
 * @component clubhouse
 * @version 1
*/

.c-club-partner-title {
    text-align: center;
    @include rem(margin-bottom, 84px);
    @include rem(padding-top, 84px);

    @include mq($until: phablet) {
        @include rem(margin-bottom, 48px);
        @include rem(padding, 0 12px);
    }

    &__title {
        color: $despair;
        @include fontSize(48);
        @include font($font--cond-chronicle, $font-app-chronicle-w--semibold);
        @include rem(margin-bottom, 6px);
        line-height: 1.2;
    }

    &__subtitle {
        @include fontSize(12);
        text-transform: uppercase;
        @include rem(letter-spacing, 2px);

        @include mq($until: tablet) {
            @include fontSize(11);

            @include mq($until: phablet) {
                padding: 0 10%;
            }
        }
    }
}
