/**
 * Clubhouse Partners Content
 * ---------
 * @component clubhouse
 * @version 1
*/

.c-club-partner-content {
    background-color: $musty;
    position: relative;
    margin-top: 60vh;
    // @include rem(padding-top, 84px);
}