/**
 * Clubhouse Partners Join
 * ---------
 * @component clubhouse
 * @version 1
*/

.c-club-partner-join {
    position: fixed;
    bottom: 0;
    @include rem(right, 24px);
    z-index: 5;

    @include mq($until: phablet) {
        display: none;
    }

    &__btn {
        color: $white;
        @include fontSize(14);
        letter-spacing: 2px;
        background-color: $black;
        @include font($font--text-chronicle, $font-app-chronicle-w--semibold);
        text-transform: uppercase;
        @include rem(padding, 24px 60px);
        @include rem(border-top-right-radius, 2px);
        @include rem(border-top-left-radius, 2px);
        transition: background 0.1s ease-out;

        &:hover,
        &:focus {
            background-color: $midnight;
        }

        &:active {
            background-color: $black;
        }
    }
}
