/**
 * Clubhouse Partners Featured Header
 * ---------
 * @component clubhouse
 * @version 1
*/

.c-club-partner-featured {
    position: fixed;
    width: 100%;
    height: 60vh;
    background-color: $black;
    overflow: hidden;

    &--front {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__feat {
        display: block;
        width: inherit;
        height: inherit;
        opacity: 0;
        animation-name: fadein;
        animation-duration: 1550ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0.2s;
        will-change: transform;
        backface-visibility: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(60, 60, 60, 0.0);
            z-index: 1;
        }

        &-img {
            display: block;
            width: 100%;
            height: inherit;
            object-fit: cover;
            will-change: transform;
            backface-visibility: hidden;
        }
    }
}
