.subscription-perks {
  padding: 70px 30px;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  &__title {
    @include fontSize(14);
    @include font($font--cera);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.58px;
    border-bottom: solid 1px $app-grey;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
