/**
 * Subscription How
 * ---------
 * @component Subscription
 * @version 1
*/
.c-subscription-how {
    border: {
        bottom: 1px solid $samurai;
    }

    &__intro {
        @include rem(max-width, 890px);
        @include rem(margin, 60px auto);
        @include rem(padding, 0 24px);
        text-align: center;

        @include mq($until: tablet) {
            @include rem(margin, 48px auto);
        }

        p {
            @include fontSize(26);
            @include font($font--cond-chronicle);

            @include mq($until: tablet) {
                @include fontSize(21);
            }
        }
    }

    &__title {
        @include fontSize(26);
        @include font($font--cond-chronicle);
        text-align: center;
        text-transform: uppercase;
        @include rem(padding, 24px);
        border: {
            top: 1px solid $samurai;
            bottom: 1px solid $samurai;
        }

        @include mq($until: tablet) {
            @include rem(padding, 12px);
        }
    }
}

.c-how-items {
    display: flex;
    justify-content: center;

    @include mq($until: tablet) {
        flex-direction: column;
        @include rem(padding, 24px 0);
    }

    &__item {
        @include rem(padding, 36px 60px);
        text-align: center;

        @include mq($until: netbook) {
            @include rem(padding, 36px);
        }

        @include mq($until: tablet) {
            border: none;
            display: flex;
            justify-content: center;
            padding: 2%;
            @include rem(margin-bottom, 48px);
        }

        &:first-of-type {
            border-right: 1px solid $samurai;
        }

        &:last-of-type {
            border-left: 1px solid $samurai;

            @include mq($until: tablet) {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        @include fontSize(16);
        @include rem(margin-bottom, 12px);

        @include mq($until: phablet) {
            @include fontSize(15);
        }
    }

    &__picture {
        display: block;
        @include rem(margin-bottom, 24px);

        @include mq($until: tablet) {
            width: 50%;
            margin-bottom: 0;
        }

        @include mq($until: phablet) {
            width: 40%;
            @include rem(margin-right, 12px);
        }

        &-img {
            display: inline-block;
            border-radius: 50%;
        }
    }

    &__info {
        @include mq($until: tablet) {
            width: 50%;
            text-align: left;
        }
    }

    &__description {
        @include rem(max-width, 252px);
        color: $fog;
        @include fontSize(14);

        @include mq($until: phablet) {
            @include fontSize(12);
        }
    }
}