/**
 * Subscription How
 * ---------
 * @component Subscription
 * @version 1
*/
.c-brands-items {
  display: flex;
  justify-content: center;
  margin-bottom: -30px;

  @include mq($until: tablet) {
    flex-direction: column;
  }

  &__item {
    @include rem(padding, 12px);
  }

  &__picture {
    display: block;

    &-img {
      filter: grayscale(100%);
      opacity: 0.6;
      transition: opacity 0.2s ease;
      margin: auto;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
