/**
* Contact Us
* -------
* @package GJ
* @since GJ 3.0
* @version 1.0
*/

.c-careers {
    @include rem(margin-left, 72px);
    display: flex;
    flex-direction: column;

    @include mq($until: netbook) {
        margin-left: 0;
    }

    &__item {
        width: 100%;
        @include rem(margin-bottom, 48px);

        @include mq($until: phablet) {
            width: 100%;
        }
    }

    &__current-available{
        @include rem(margin-bottom, 36px);
        color: $app-grey--text;
        @include fontSize(14);
    }

    &__position {
        @include font($font--chronicle, $font-app-chronicle-w--semibold);
        @include fontSize(21);
        @include rem(margin-bottom, 6px);
    }

    &__description {
        @include font($font--cera, $font-app-cera-w--regular);
        @include fontSize(14);
        color: $app-grey--text;
    }

    &__btn {
        @include rem(margin-top, 24px);
        display: inline-block;
    }
}
