{#
* Content Builder : Embed / Video
* --------
* @package GJ
* @since GJ 3.0
#}
{% set embedSrc = preg_match('/src=\"(.[^"]+)\"/', item.video_embed) %}
{% set embedHost = parse_url(embedSrc[1]) %}

{% if embedHost == 'youtube.com' or embedHost == 'youtu.be' %}
    <div class="c-content-builder__embed {{ wrapper }}">
        {% include 'components/video-player.twig' with {
            src : embedSrc[1],
            thumb : {
                src : Image(item.video_thumb),
                width : 664,
                height : 374
            }
        } %}
    </div>
{% else %}
    <div class="c-content-builder__embed {{ wrapper }}">
        <div class="is-fluid-video">
            {{ item.video_embed }}
        </div>
    </div>
{% endif %}
