{#
* Content Builder : Gallery
* --------
* @package GJ
* @since GJ 3.0
#}

{% if item.gallery %}
    {# Content Builder #}
    {% set gallery = item.gallery %}
{% else %}
    {# Legacy Content Builder #}
    {% set gallery = item.image_gallery %}
{% endif %}

<figure class="c-content-builder__gallery c-content-builder__gallery--masonry {{ wrapper }}">
        {% for image in gallery %}
            <div class="c-content-builder__gallery-img-container">
                {% set img = Image(image.id) %}
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ img.src|resize(344, 344, 'center') }} 1x">
                    <img class="c-content-builder__gallery-img" src="{{ img.src|resize(300, 300, 'center') }}" alt="{{ img.alt ? img.alt|e : post.title|e }}"/>
                </picture>
            </div>
        {% endfor %}
</figure>
