{#
* Hub Articles
* ---------
* @component hub
* @version 1
#}

<div class="c-hub-articles">

    <div class="c-hub-articles__inner">

        <div class="c-hub-articles__featured">
            {% for article in articles[0:1] %}
                {% include "components/hub/featured.twig" with { article : Post(article) } %}
            {% endfor %}
        </div>

        <div class="c-hub-articles__scrolling">
            {% for article in articles[1:] %}
                {% include "components/hub/tease.twig" with { article : Post(article) } %}
            {% endfor %}
        </div>

    </div>

</div>
