/**
 * Podcast Sponsor
 * ---------
 * @component podcast
 * @version 1
*/

.c-podcast-sponsor {
    text-align: center;
    @include rem(padding, 72px 60px 60px);

    @include mq($until: netbook) {
        @include rem(padding, 72px 24px 60px);

        @include mq($until: tablet) {
            @include rem(padding, 24px);
            text-align: left;
        }
    }

    &__intro {
        @include fontSize(12);
        @include rem(margin-bottom, 12px);
        font-weight: $font-app-cera-w--semibold;
    }

    &__logo {
        @include rem(max-width, 144px);
    }
}