/**
 * Podcast Archive Header
 * ---------
 * @component podcast
 * @version 1
*/

.c-podcast-archive-header {
    background-color: $black;
    width: 100%;
    padding: 0 20%;
    border-bottom: 1px solid $despair;
    display: flex;
    @include rem(padding-bottom, 24px);

    @include mq($until: tablet) {
        display: none;
    }

    &__title {
        color: $white;
        text-transform: uppercase;
        @include font($font--cera, $font-app-cera-w--regular);
        @include fontSize(14);
        letter-spacing: 2.5px;
        margin-right: auto;
    }
}

.c-podcast-archive-filter {
    display: flex;
    align-items: center;

    &__label,
    &__sort {
        @include fontSize(14);
        color: $white;
    }

    &__label {
        // color: $white;
        @include rem(margin-right, 12px);
    }

    &__sort {
        background-color: $midnight;
        @include rem(padding, 6px);
        border-radius: 2px;
    }
}
