/**
 * Podcast Overview Host
 * ---------
 * @component podcast
 * @version 1
*/

.c-podcast-host {
    text-align: center;
    @include rem(padding, 36px 60px 36px);
    border-left: 1px solid $samurai;

    @include mq($until: netbook) {
        display: none;
    }

    &__profile-img {
        border-radius: 50%;
        @include rem(margin-bottom, 24px);
    }

    &__intro {
        @include font-caps--cera;
        @include fontSize(10);
        font-weight: $font-app-cera-w--bold;
        @include rem(margin-bottom, 12px);
    }

    &__title {
        @include rem(margin-bottom, 4px);
    }

    &__title,
    &__role {
        @include fontSize(18);
        @include font($font--text-chronicle, $font-app-chronicle-w--regular);
    }

    &__role {
        color: $fog;
    }
}