/**
 * Podcast Overview
 * ---------
 * @component podcast
 * @version 1
*/

.c-podcast-overview {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $samurai;
    @include rem(padding, 0 24px);

    @include mq($until: tablet) {
        flex-direction: column;
    }
}