/**
 * Podcast Card : Archive
 * ---------
 * @component podcast
 * @version 1
*/

.c-podcast-card--archive {
    @include rem(padding, 36px 12px);
    background: $black;
    transition: background 0.2s ease-out;

    @include mq($until: tablet) {
        border-bottom: 1px solid $despair;
    }

    .c-podcast-card {

        &__inner {
            display: flex;
            align-items: center;
            position: relative;
            max-width: 50%;
            margin: auto;
            transition: transform 0.2s ease-out;

            @include mq($until: 1700px) {
                max-width: 60%;

                @include mq($until: laptop) {
                    max-width: 80%;

                    @include mq($until: netbook) {
                        max-width: 95%;
                    }
                }
            }
        }

        &__feat {
            @include rem(margin-right, 80px);
            @include rem(min-width, 140px);

            @include mq($until: tablet) {
                @include rem(margin-right, 24px);
                @include rem(min-width, 100px);
                @include rem(width, 100px);

                @include mq($until: phablet) {
                    display: none;
                }
            }

            &-img {
                filter: grayscale(100%);
            }
        }

        &-header {
            @include rem(padding, 12px);
            margin-right: auto;
            max-width: calc(100% - 316px);

            @include mq($until: tablet) {
                max-width: 90%;
            }

            &__meta__item,
            &__title,
            &__guest {
                transition: color 0.4s ease, background-color 0.4s ease;
            }

            &__meta {
                @include rem(margin-bottom, 12px);

                &__item {
                    color: $white;

                    &--issue {
                        background-color: $white;
                        color: $black;
                    }
                }
            }

            &__title {
                color: $white;
                @include fontSize(50);
                letter-spacing: -1.4px;
                line-height: 1.2;
                @include rem(margin-bottom, 20px);
                @include font($font--text-chronicle, $font-app-chronicle-w--regular);
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @include mq($until: netbook) {
                    @include fontSize(36);

                    @include mq($until: tablet) {
                        @include fontSize(20);
                        letter-spacing: 0;
                        white-space: pre-wrap;
                    }
                }
            }

            &__guest {
                color: $white;
                @include fontSize(16);
                letter-spacing: -0.6px;

                @include mq($until: tablet) {
                    @include fontSize(12);
                }
            }
        }

        &__play {
            z-index: 1;
            opacity: 0;
            transition: opacity 0.2s ease-out, transform 0.2s ease-out;
            transform: translateX(-10px);

            @include mq($until: tablet) {
                display: none;
            }

            &__icon {
                @include rem(margin-left, 4px);
                @include fontSize(10);
                color: $midnight;
            }

            &__circle {
                @include rem(height, 48px);
                @include rem(width, 48px);
                background-color: $white;
                border-radius: 50%;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover {
                    background-color: darken($white, 2%);
                }
            }
        }
    }

    &:hover,
    &:focus {
        background: $midnight;

        .c-podcast-card {

            &__inner {
                transform: translateX(18px);
            }

            &__play {
                opacity: 1;
                transform: translateX(-18px);
            }
        }
    }

    &.not-selected {
        background: $black;

        .c-podcast-card {

            &-header {

                &__meta__item,
                &__title,
                &__guest {
                    color: #666;
                }

                &__meta__item--issue {
                    background-color: #666;
                    color: $black;
                }
            }
        }
    }
}
