/**
 * Podcast Card
 * ---------
 * @component podcast
 * @version 1
*/

.c-podcast-card {
    background: $white;
    position: relative;

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__feat {
        position: relative;

        &-img {
            display: block;
        }
    }

    &-header {

        &__meta {

            &__item {
                @include fontSize(12);
                line-height: 1;

                &--issue {
                    @include rem(padding, 0 6px);
                    padding-bottom: 1px;
                    @include rem(border-radius, 8px);
                    @include rem(margin-right, 6px);
                }
            }
        }

        &__title {
            @include font($font--text-chronicle);
        }
    }

    &__play {

        &__icon {
            color: $white;
        }

        &__circle {
            display: flex;
            justify-content: center;
            align-items: center;
            @include rem(height, 24px);
            @include rem(width, 24px);
            border-radius: 50%;
        }
    }
}
